backups/0VTWcZB0P0oTFo9c_ingest-document_backup.json
{
  "id": "0VTWcZB0P0oTFo9c",
  "name": "[Admin] Ingest Document v1.0.0",
  "active": true,
  "nodes": [
    {"id":"4117338d-e3b9-485c-9bb0-5d3231f70882","name":"Receive Ingest Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-48,352],"webhookId":"6d708200-e0f3-478e-9d3b-2e3450b8e068","parameters":{"httpMethod":"POST","path":"caiac/admin/ingest","responseMode":"responseNode","options":{}}},
    {"id":"1b45cc07-354c-4362-9449-6a7e37035fe5","name":"Get Webhook Secret","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[176,352],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT id, webhook_secret\nFROM caiac.clients\nWHERE slug = '{{ $json.body.client_id }}'\nLIMIT 1","options":{}}},
    {"id":"3ccd634e-8888-4c53-9ed7-115f05017b7b","name":"Verify HMAC","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[400,352],"parameters":{"method":"POST","url":"http://hmac-verifier:3000/verify","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ timestamp: $('Receive Ingest Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Ingest Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Ingest Request').item.json.headers.authorization.replace('Bearer ', '').trim(), secret: $input.first().json.webhook_secret }) }}","options":{}}},
    {"id":"fd76cd69-b03a-443f-a605-b60e22cf51fd","name":"Check HMAC Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,352],"parameters":{"jsCode":"const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nconst authHeader = $('Receive Ingest Request').first().json.headers.authorization ?? '';\nconst token = authHeader.replace('Bearer ', '').trim();\n\nreturn [{ json: { hmac_valid: true, token } }];"}},
    {"id":"1e9a5c7c-0cb5-4c8a-be78-d896ed716e62","name":"Validate Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[848,352],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT s.user_id, s.role, s.client_id, s.expires_at,\n       u.name, u.email, u.active as user_active, u.is_caiac_staff,\n       c.slug, c.active as client_active\nFROM caiac.sessions s\nJOIN caiac.users u ON s.user_id = u.id\nJOIN caiac.clients c ON s.client_id = c.id\nWHERE s.token = '{{ $('Check HMAC Valid').item.json.token }}'\nAND s.expires_at > NOW()\nAND u.active = true\nAND c.active = true\nLIMIT 1","options":{}}},
    {"id":"f9e3caab-757c-473a-8e12-2ed085dc902e","name":"Check Token Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,352],"parameters":{"jsCode":"const session = $input.first().json;\n\nif (!session || !session.user_id) {\n  throw new Error('Invalid or expired token');\n}\n\nif (!session.user_active) {\n  throw new Error('User account is inactive');\n}\n\nif (!session.client_active) {\n  throw new Error('Client account is inactive');\n}\n\nif (session.is_caiac_staff !== true) {\n  throw new Error('Insufficient permissions: is_caiac_staff required');\n}\n\nconst clientUUID = $('Get Webhook Secret').first().json.id;\nconst body = $('Receive Ingest Request').first().json.body;\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    is_caiac_staff: true,\n    client_id: clientUUID,\n    client_slug: body.client_id,\n    filename: body.filename,\n    role: body.role,\n    file_b64: body.file_b64\n  }\n}];"}},
    {"id":"862a2128-06aa-41c3-94a2-41f92e43b079","name":"Check File Size","type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,144],"parameters":{"jsCode":"const session = $('Receive Ingest Request').item.json.body;\nconst file_b64 = session.file_base64;\nconst fileSizeBytes = Math.round(file_b64.length * 0.75);\nconst estimatedPages = Math.round(fileSizeBytes / 75000);\nconst fileSizeMB = (fileSizeBytes / 1048576).toFixed(1);\nif (estimatedPages > 100) {\n  throw new Error(`\"${session.filename}\" is ~${estimatedPages} pages (${fileSizeMB} MB) — exceeds the 100-page CPX31 limit.`);\n}\nreturn [{ json: { ...session, estimated_pages: estimatedPages } }];"}},
    {"id":"35a015d2-9412-47b8-aa2a-e993da2e1d25","name":"Call Docling","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1296,352],"parameters":{"method":"POST","url":"http://docling:8002/extract","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ pdf_base64: $('Receive Ingest Request').item.json.body.file_base64, title: $('Receive Ingest Request').item.json.body.filename.replace(/\\.[^.]+$/, '').replace(/_/g, ' '), chunk_size: 450, overlap: 75, min_tokens: 40 }) }}","options":{"timeout":120000}}},
    {"id":"55e0de38-9e43-4eb4-be7b-e9228de946b9","name":"Embed and Prepare Points","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,352],"parameters":{"jsCode":"const doclingResult = $input.first().json;\nconst session = $('Check Token Valid').first().json;\n\nconst rawChunks = doclingResult.chunks || [];\nif (!rawChunks.length) {\n  throw new Error('Docling returned no chunks for ' + (session.filename || 'unknown'));\n}\n\nreturn rawChunks\n  .map((c, i) => {\n    const text = typeof c === 'string' ? c : (c.text || c.content || '');\n    if (!text.trim()) return null;\n    return { json: {\n      text,\n      chunk_index: i,\n      chunk_count: rawChunks.length,\n      filename: session.filename,\n      client_id: session.client_id,\n      client_slug: session.client_slug,\n      role: session.role,\n      user_id: session.user_id,\n    }};\n  })\n  .filter(Boolean);"}},
    {"id":"505024b3-d85b-4722-8c3f-9f848e24f22b","name":"Call Ollama Embed","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1744,544],"parameters":{"method":"POST","url":"http://ollama:11434/api/embeddings","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'bge-m3:latest', prompt: $json.text }) }}","options":{"timeout":60000}}},
    {"id":"c2274c25-09b0-423e-846a-d469d0f7967d","name":"Aggregate Points","type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,544],"parameters":{"jsCode":"const embeddingItems = $input.all();\nconst chunkItems = $('Embed and Prepare Points').all();\n\nif (embeddingItems.length !== chunkItems.length) {\n  throw new Error(`Embedding count mismatch`);\n}\n\nconst points = embeddingItems.map((item, i) => {\n  const embedding = item.json.embedding;\n  if (!embedding || !embedding.length) throw new Error('Empty embedding for chunk ' + i);\n  const chunk = chunkItems[i].json;\n  const pointId = Math.abs((Date.now() + i * 997) % 2147483647);\n  return {\n    id: pointId,\n    vector: embedding,\n    payload: { text: chunk.text, source: chunk.filename, client_id: chunk.client_slug, type: 'document', role: chunk.role, chunk_index: chunk.chunk_index }\n  };\n});\n\nconst meta = chunkItems[0].json;\nreturn [{ json: { points, count: points.length, client_slug: meta.client_slug, client_id: meta.client_id, filename: meta.filename, role: meta.role, user_id: meta.user_id } }];"}},
    {"id":"192c6451-3033-40fa-b275-c0deb1b72b3a","name":"Upsert to Qdrant","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1744,352],"parameters":{"method":"PUT","url":"=http://qdrant:6333/collections/{{ $json.client_slug }}/points","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ points: $json.points }) }}","options":{"timeout":60000}}},
    {"id":"8f48bb10-5664-4a84-b757-08836ae92d4f","name":"Insert Document Record","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1968,352],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"INSERT INTO caiac.documents (client_id, filename, role, uploaded_by, uploaded_at, chunks_indexed)\nVALUES (\n  '{{ $('Aggregate Points').item.json.client_id }}',\n  '{{ $('Aggregate Points').item.json.filename }}',\n  '{{ $('Aggregate Points').item.json.role }}',\n  '{{ $('Aggregate Points').item.json.user_id }}',\n  NOW(),\n  {{ $('Aggregate Points').item.json.count }}\n)","options":{}}},
    {"id":"25415119-8ad9-44b6-906f-9e4acf67a2df","name":"Format Ingest Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,352],"parameters":{"jsCode":"const aggregateResult = $('Aggregate Points').first().json;\nreturn [{ json: { chunks_indexed: aggregateResult.count, filename: aggregateResult.filename } }];"}},
    {"id":"0a1da060-3371-42bd-8292-65dd20456a82","name":"Send Ingest Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[2416,352],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}
  ],
  "connections": {
    "Receive Ingest Request": {"main":[[{"node":"Get Webhook Secret","type":"main","index":0}]]},
    "Get Webhook Secret": {"main":[[{"node":"Verify HMAC","type":"main","index":0}]]},
    "Verify HMAC": {"main":[[{"node":"Check HMAC Valid","type":"main","index":0}]]},
    "Check HMAC Valid": {"main":[[{"node":"Validate Token","type":"main","index":0}]]},
    "Validate Token": {"main":[[{"node":"Check Token Valid","type":"main","index":0}]]},
    "Check Token Valid": {"main":[[{"node":"Check File Size","type":"main","index":0}]]},
    "Check File Size": {"main":[[{"node":"Call Docling","type":"main","index":0}]]},
    "Call Docling": {"main":[[{"node":"Embed and Prepare Points","type":"main","index":0}]]},
    "Embed and Prepare Points": {"main":[[{"node":"Call Ollama Embed","type":"main","index":0}]]},
    "Call Ollama Embed": {"main":[[{"node":"Aggregate Points","type":"main","index":0}]]},
    "Aggregate Points": {"main":[[{"node":"Upsert to Qdrant","type":"main","index":0}]]},
    "Upsert to Qdrant": {"main":[[{"node":"Insert Document Record","type":"main","index":0}]]},
    "Insert Document Record": {"main":[[{"node":"Format Ingest Response","type":"main","index":0}]]},
    "Format Ingest Response": {"main":[[{"node":"Send Ingest Response","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","binaryMode":"separate","availableInMCP":false}
}
