backups/an4KO3aq9pLj5EDx_promote_backup.json
{
  "id": "an4KO3aq9pLj5EDx",
  "name": "CAIAC RAG - Promote v1.0.0",
  "active": true,
  "nodes": [
    {"id":"42c1df8a-2222-47b2-bdcc-b1b272377594","name":"Receive Promote Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,-112],"webhookId":"553d4f93-f7d5-49f7-a12b-d3d00a2f4062","parameters":{"httpMethod":"POST","path":"caiac/history/promote","responseMode":"responseNode","options":{}}},
    {"id":"ba28d0a7-b767-40a3-b29c-8275d90ac421","name":"Get Webhook Secret","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-176,-112],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT webhook_secret\nFROM caiac.clients\nWHERE slug = '{{ $json.body.client_id }}'\nLIMIT 1","options":{}}},
    {"id":"f12eaacc-7e05-438c-ab8f-4153ceb79c9d","name":"Verify HMAC","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[48,-112],"parameters":{"method":"POST","url":"http://hmac-verifier:3000/verify","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ timestamp: $('Receive Promote Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Promote Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Promote Request').item.json.body.token, secret: $input.first().json.webhook_secret }) }}","options":{}}},
    {"id":"87e26f54-5fe1-49dd-adbb-d0b077fe62f2","name":"Check HMAC Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-112],"parameters":{"jsCode":"const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nreturn [{ json: { hmac_valid: true } }];"}},
    {"id":"3a1d8896-cb13-4e63-9e90-a3369505c4ec","name":"Validate Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[496,-112],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT s.user_id, s.role, s.client_id, s.expires_at,\n       u.name, u.email, u.active as user_active,\n       c.slug, c.active as client_active\nFROM caiac.sessions s\nJOIN caiac.users u ON s.user_id = u.id\nJOIN caiac.clients c ON s.client_id = c.id\nWHERE s.token = '{{ $('Receive Promote Request').item.json.body.token }}'\nAND s.expires_at > NOW()\nAND u.active = true\nAND c.active = true\nLIMIT 1","options":{}}},
    {"id":"8d23d1d8-137d-441f-a6c9-59e19b35db3f","name":"Check Token Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-112],"parameters":{"jsCode":"const session = $input.first().json;\n\nif (!session || !session.user_id) {\n  throw new Error('Invalid or expired token');\n}\n\nconst body = $('Receive Promote Request').first().json.body;\n\nif (!body.session_id) throw new Error('session_id is required');\nif (body.message_index === undefined) throw new Error('message_index is required');\n\nif (!['owner', 'admin', 'staff'].includes(session.role)) {\n  throw new Error('Insufficient permissions to promote');\n}\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    role: session.role,\n    client_id: session.client_id,\n    slug: session.slug,\n    session_id: body.session_id,\n    message_index: body.message_index\n  }\n}];"}},
    {"id":"22968ea3-96e5-43a9-b567-24ab84a82766","name":"Get Client Config","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[944,-112],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT config\nFROM caiac.clients\nWHERE slug = '{{ $('Check Token Valid').item.json.slug }}'\nLIMIT 1","options":{}}}
  ],
  "connections": {
    "Receive Promote Request": {"main":[[{"node":"Get Webhook Secret","type":"main","index":0}]]},
    "Get Webhook Secret": {"main":[[{"node":"Verify HMAC","type":"main","index":0}]]},
    "Verify HMAC": {"main":[[{"node":"Check HMAC Valid","type":"main","index":0}]]},
    "Check HMAC Valid": {"main":[[{"node":"Validate Token","type":"main","index":0}]]},
    "Validate Token": {"main":[[{"node":"Check Token Valid","type":"main","index":0}]]},
    "Check Token Valid": {"main":[[{"node":"Get Client Config","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","binaryMode":"separate"}
}
