backups/b9GEiJleW09eA5YO_run-ragas-eval_backup.json
{
  "id": "b9GEiJleW09eA5YO",
  "name": "[Admin] Run Ragas Eval v2.0.0",
  "active": true,
  "nodes": [
    {"id":"1e83b1d6-003a-43e7-bcca-a383a9d269e4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1536,-144],"parameters":{"content":"## [Admin] Run Ragas Eval v2.0.0\n\n**Trigger:** POST /caiac/admin/eval\n**Auth:** HMAC + Authorization: Bearer token\n**Access:** is_caiac_staff=true only\n**Body:** { client_id: slug }\n\nInserts a job record into caiac.eval_jobs, then fires a non-blocking POST\nto the async eval endpoint (returns 202 immediately).\n\nReturns 202 with { job_id, status: \"running\" }.\nPoll job status via GET /caiac/admin/eval/status?job_id={job_id}\n\n**Service:** ragas_api.py (FastAPI) on port 8000 via systemd (ragas-api.service)\n**Async endpoint:** http://172.18.0.1:8000/ragas/eval/async\n**Per-client prereq:** /opt/caiac/eval_data/{client_id}.json must exist.","height":230,"width":760}},
    {"id":"74acd1b0-665a-4c5a-9212-04396528f76c","name":"Receive Eval Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1488,208],"webhookId":"6254bc8b-2462-45ee-8cb7-b65ed0b34517","parameters":{"httpMethod":"POST","path":"caiac/admin/eval","responseMode":"responseNode","options":{}}},
    {"id":"d6c58834-ae34-43cc-a461-4a7822d132a9","name":"Get Webhook Secret","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1712,208],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT id, webhook_secret\nFROM caiac.clients\nWHERE slug = '{{ $('Receive Eval Request').item.json.body.client_id }}'\nLIMIT 1","options":{}}},
    {"id":"620b6ceb-d6b1-4b5d-b871-76db0194e5fb","name":"Verify HMAC","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1936,208],"parameters":{"method":"POST","url":"http://hmac-verifier:3000/verify","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ timestamp: $('Receive Eval Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Eval Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Eval Request').item.json.headers.authorization.replace('Bearer ', '').trim(), secret: $('Get Webhook Secret').first().json.webhook_secret }) }}","options":{}}},
    {"id":"f3025c12-5b51-445a-be6a-99e536da7591","name":"Check HMAC Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,208],"parameters":{"jsCode":"const result = $('Verify HMAC').first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nconst authHeader = $('Receive Eval Request').first().json.headers.authorization ?? '';\nconst token = authHeader.replace('Bearer ', '').trim();\n\nreturn [{ json: { hmac_valid: true, token } }];"}},
    {"id":"da0f97c4-3251-4569-b67d-11af5cbee03d","name":"Validate Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2384,208],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT s.user_id, s.role, s.client_id, s.expires_at,\n       u.name, u.email, u.active as user_active, u.is_caiac_staff,\n       c.slug, c.active as client_active\nFROM caiac.sessions s\nJOIN caiac.users u ON s.user_id = u.id\nJOIN caiac.clients c ON s.client_id = c.id\nWHERE s.token = '{{ $('Check HMAC Valid').item.json.token }}'\nAND s.expires_at > NOW()\nAND u.active = true\nAND c.active = true\nLIMIT 1","options":{}}},
    {"id":"c5856982-5f35-495a-9168-fc4952b7bd73","name":"Check Token Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,208],"parameters":{"jsCode":"const session = $('Validate Token').first().json;\n\nif (!session || !session.user_id) {\n  throw new Error('Invalid or expired token');\n}\n\nif (!session.user_active) {\n  throw new Error('User account is inactive');\n}\n\nif (!session.client_active) {\n  throw new Error('Client account is inactive');\n}\n\nif (session.is_caiac_staff !== true) {\n  throw new Error('Insufficient permissions: is_caiac_staff required');\n}\n\nconst clientSlug = $('Receive Eval Request').first().json.body.client_id;\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    is_caiac_staff: true,\n    client_slug: clientSlug\n  }\n}];"}},
    {"id":"0799a174-e73f-498f-a396-d58821b764a6","name":"Insert Eval Job","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2832,208],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"INSERT INTO caiac.eval_jobs (client_id)\nSELECT id FROM caiac.clients\nWHERE slug = '{{ $('Receive Eval Request').item.json.body.client_id }}'\nRETURNING id::text AS job_id","options":{}}},
    {"id":"a92a9ba6-6975-4e65-b7ac-b68c73657831","name":"Trigger Async Eval","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3056,208],"parameters":{"method":"POST","url":"http://172.18.0.1:8000/ragas/eval/async","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  client_id: $('Receive Eval Request').item.json.body.client_id,\n  job_id: $('Insert Eval Job').item.json.job_id\n}) }}","options":{}}},
    {"id":"6c21bbba-83c4-4413-9b8b-d31bf1c57173","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[3280,208],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  job_id: $('Insert Eval Job').item.json.job_id,\n  status: 'running'\n}) }}","options":{"responseCode":202}}}
  ],
  "connections": {
    "Receive Eval Request": {"main":[[{"node":"Get Webhook Secret","type":"main","index":0}]]},
    "Get Webhook Secret": {"main":[[{"node":"Verify HMAC","type":"main","index":0}]]},
    "Verify HMAC": {"main":[[{"node":"Check HMAC Valid","type":"main","index":0}]]},
    "Check HMAC Valid": {"main":[[{"node":"Validate Token","type":"main","index":0}]]},
    "Validate Token": {"main":[[{"node":"Check Token Valid","type":"main","index":0}]]},
    "Check Token Valid": {"main":[[{"node":"Insert Eval Job","type":"main","index":0}]]},
    "Insert Eval Job": {"main":[[{"node":"Trigger Async Eval","type":"main","index":0}]]},
    "Trigger Async Eval": {"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","binaryMode":"separate","availableInMCP":false}
}
