backups/cM7pw170pRGfCWQV_ingest-preview_backup.json
{
  "id": "cM7pw170pRGfCWQV",
  "name": "[Admin] Ingest Preview v1.0.0",
  "active": true,
  "nodes": [
    {"id":"616ff019-d17a-423a-b1b2-bf988c8db1b2","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"parameters":{"content":"## [Admin] Ingest Preview v1.0.0","height":210,"width":760}},
    {"id":"47f76674-bb96-449e-842b-8af26dab3433","name":"Receive Ingest Preview Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-48,352],"webhookId":"908279aa-424b-4a4d-95e0-f728edb8ea0d","parameters":{"httpMethod":"POST","path":"caiac/admin/ingest/preview","responseMode":"responseNode","options":{}}},
    {"id":"51bd47a1-77ad-4a7a-811b-88c1b7d88acb","name":"Get Webhook Secret","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[176,352],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT id, webhook_secret\nFROM caiac.clients\nWHERE slug = '{{ $json.body.client_id }}'\nLIMIT 1","options":{}}},
    {"id":"6399dd1c-7f88-459e-98b3-1cf957aca796","name":"Verify HMAC","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[400,352],"parameters":{"method":"POST","url":"http://hmac-verifier:3000/verify","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ timestamp: $('Receive Ingest Preview Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Ingest Preview Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Ingest Preview Request').item.json.headers.authorization.replace('Bearer ', '').trim(), secret: $input.first().json.webhook_secret }) }}","options":{}}},
    {"id":"9d252a9f-3699-4d0e-a1af-a4ab30332e4e","name":"Check HMAC Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,352],"parameters":{"jsCode":"const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nconst authHeader = $('Receive Ingest Preview Request').first().json.headers.authorization ?? '';\nconst token = authHeader.replace('Bearer ', '').trim();\n\nreturn [{ json: { hmac_valid: true, token } }];"}},
    {"id":"8e57218e-dcae-43fa-8937-7e5e73d13fcf","name":"Validate Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[848,352],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT s.user_id, s.role, s.client_id, s.expires_at,\n       u.name, u.email, u.active as user_active, u.is_caiac_staff,\n       c.slug, c.active as client_active\nFROM caiac.sessions s\nJOIN caiac.users u ON s.user_id = u.id\nJOIN caiac.clients c ON s.client_id = c.id\nWHERE s.token = '{{ $('Check HMAC Valid').item.json.token }}'\nAND s.expires_at > NOW()\nAND u.active = true\nAND c.active = true\nLIMIT 1","options":{}}},
    {"id":"0b710d94-8e9a-424e-836c-0ecd6db1e2f5","name":"Check Token Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,352],"parameters":{"jsCode":"const session = $input.first().json;\n\nif (!session || !session.user_id) {\n  throw new Error('Invalid or expired token');\n}\n\nif (!session.user_active) {\n  throw new Error('User account is inactive');\n}\n\nif (!session.client_active) {\n  throw new Error('Client account is inactive');\n}\n\nif (session.is_caiac_staff !== true) {\n  throw new Error('Insufficient permissions: is_caiac_staff required');\n}\n\nconst body = $('Receive Ingest Preview Request').first().json.body;\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    is_caiac_staff: true,\n    client_slug: body.client_id,\n    filename: body.filename,\n    role: body.role,\n    file_b64: body.file_b64\n  }\n}];"}},
    {"id":"154827bf-d6c0-4e5b-9b3a-03520550e116","name":"Call Docling","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1296,352],"parameters":{"method":"POST","url":"http://docling:8002/extract","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ pdf_base64: $('Receive Ingest Preview Request').item.json.body.file_base64, title: $('Receive Ingest Preview Request').item.json.body.filename.replace(/\\.[^.]+$/, '').replace(/_/g, ' '), chunk_size: 450, overlap: 75, min_tokens: 40 }) }}","options":{"timeout":120000}}},
    {"id":"a206ec48-0a1c-49e5-993c-0043a23a2a26","name":"Parse Docling Chunks","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,352],"parameters":{"jsCode":"const doclingResult = $input.first().json;\n\nconst rawChunks = doclingResult.chunks || [];\n\nif (!rawChunks.length) {\n  throw new Error('Docling returned no chunks');\n}\n\nconst chunks = rawChunks\n  .map((c, i) => ({\n    index: i,\n    text: typeof c === 'string' ? c : (c.text || c.content || JSON.stringify(c))\n  }))\n  .filter(c => c.text.trim().length > 0);\n\nreturn [{ json: { chunks, count: chunks.length } }];"}},
    {"id":"dd638b87-811e-486c-a4cd-3eab51406cb0","name":"Send Preview Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1744,352],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ chunks: $json.chunks, count: $json.count }) }}","options":{"responseCode":200}}}
  ],
  "connections": {
    "Receive Ingest Preview Request": {"main":[[{"node":"Get Webhook Secret","type":"main","index":0}]]},
    "Get Webhook Secret": {"main":[[{"node":"Verify HMAC","type":"main","index":0}]]},
    "Verify HMAC": {"main":[[{"node":"Check HMAC Valid","type":"main","index":0}]]},
    "Check HMAC Valid": {"main":[[{"node":"Validate Token","type":"main","index":0}]]},
    "Validate Token": {"main":[[{"node":"Check Token Valid","type":"main","index":0}]]},
    "Check Token Valid": {"main":[[{"node":"Call Docling","type":"main","index":0}]]},
    "Call Docling": {"main":[[{"node":"Parse Docling Chunks","type":"main","index":0}]]},
    "Parse Docling Chunks": {"main":[[{"node":"Send Preview Response","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","binaryMode":"separate","availableInMCP":false}
}
