backups/cO21HmBydG7gh9J9_list-clients_backup.json
{
  "id": "cO21HmBydG7gh9J9",
  "name": "[Admin] List Clients v1.0.0",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "content": "## [Admin] List Clients v1.0.0\n\n**Trigger:** GET /caiac/admin/clients (no query params)\n**Auth:** HMAC (x-caiac-timestamp + x-caiac-signature) + Authorization: Bearer token\n**Access:** role IN (staff/admin/owner) OR is_caiac_staff=true — no client_id restriction\n\nReturns all active clients as { clients: [{slug, name}, ...], count: N }.\nUsed to populate the client selector dropdown in the Ops Dashboard.\n\n**Notes:**\n- No client_id param — HMAC envelope secret is fixed to Henderson's webhook_secret (slug='henderson'), same as dashboard CLIENT_WEBHOOK_SECRET\n- Role check has no slug comparison; any staff/admin/owner or CAIAC staff can call this\n- Empty result returns { clients: [], count: 0 }",
        "height": 210,
        "width": 760
      },
      "id": "631b9413-53c5-48e1-a3b0-df72aebfc157",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1904, 576]
    },
    {
      "parameters": {
        "path": "caiac/admin/clients",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "05c64119-b0fb-4a63-8210-b9b54afc09ad",
      "name": "Receive Clients Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [1856, 928],
      "webhookId": "14702670-883e-4a81-9437-0391f5e70794"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, webhook_secret\nFROM caiac.clients\nWHERE slug = 'henderson'\nLIMIT 1",
        "options": {}
      },
      "id": "543c5c46-ba23-473a-995a-55aa029e54be",
      "name": "Get Webhook Secret",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2080, 928],
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hmac-verifier:3000/verify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ timestamp: $('Receive Clients Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Clients Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Clients Request').item.json.headers.authorization.replace('Bearer ', '').trim(), secret: $input.first().json.webhook_secret }) }}",
        "options": {}
      },
      "id": "b7b55fd4-fd08-4d9d-b1b3-9cb24e82609e",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2304, 928]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nconst authHeader = $('Receive Clients Request').first().json.headers.authorization ?? '';\nconst token = authHeader.replace('Bearer ', '').trim();\n\nreturn [{ json: { hmac_valid: true, token } }];"
      },
      "id": "5dc8257c-f3b6-4a2f-9fd3-30d198af889d",
      "name": "Check HMAC Valid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2528, 928]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.user_id, s.role, s.client_id, s.expires_at,\n       u.name, u.email, u.active as user_active, u.is_caiac_staff,\n       c.slug, c.active as client_active\nFROM caiac.sessions s\nJOIN caiac.users u ON s.user_id = u.id\nJOIN caiac.clients c ON s.client_id = c.id\nWHERE s.token = '{{ $('Check HMAC Valid').item.json.token }}'\nAND s.expires_at > NOW()\nAND u.active = true\nAND c.active = true\nLIMIT 1",
        "options": {}
      },
      "id": "bccd5936-d062-4d55-9628-cd36f6bd9f2e",
      "name": "Validate Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2752, 928],
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const session = $input.first().json;\n\nif (!session || !session.user_id) {\n  throw new Error('Invalid or expired token');\n}\n\nif (!session.user_active) {\n  throw new Error('User account is inactive');\n}\n\nif (!session.client_active) {\n  throw new Error('Client account is inactive');\n}\n\nconst allowedRoles = ['staff', 'admin', 'owner'];\nconst isCaiacStaff = session.is_caiac_staff === true;\nconst hasRole = allowedRoles.includes(session.role);\n\nif (!isCaiacStaff && !hasRole) {\n  throw new Error('Insufficient permissions');\n}\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    role: session.role,\n    is_caiac_staff: isCaiacStaff,\n    name: session.name,\n    email: session.email\n  }\n}];"
      },
      "id": "06f49a10-10b0-4b2c-8164-3ed5c4359cab",
      "name": "Check Token Valid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2976, 928]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT slug, name\nFROM caiac.clients\nWHERE active = true\nORDER BY name",
        "options": {}
      },
      "id": "414e55d3-7fdb-4d31-8fbc-dfb0232a2b8f",
      "name": "Query Clients",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [3200, 928],
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const clients = $input.all().map(item => ({ slug: item.json.slug, name: item.json.name }));\nreturn [{ json: { clients, count: clients.length } }];"
      },
      "id": "4782f939-f30a-42ab-bbf7-8098da14b827",
      "name": "Format Clients Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3424, 928]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { clients: $json.clients, count: $json.count } }}",
        "options": { "responseCode": 200 }
      },
      "id": "eba5f239-bc07-4e59-9dae-d83fb546bd91",
      "name": "Send Clients Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [3648, 928]
    }
  ],
  "connections": {
    "Receive Clients Request": { "main": [[{ "node": "Get Webhook Secret", "type": "main", "index": 0 }]] },
    "Get Webhook Secret": { "main": [[{ "node": "Verify HMAC", "type": "main", "index": 0 }]] },
    "Verify HMAC": { "main": [[{ "node": "Check HMAC Valid", "type": "main", "index": 0 }]] },
    "Check HMAC Valid": { "main": [[{ "node": "Validate Token", "type": "main", "index": 0 }]] },
    "Validate Token": { "main": [[{ "node": "Check Token Valid", "type": "main", "index": 0 }]] },
    "Check Token Valid": { "main": [[{ "node": "Query Clients", "type": "main", "index": 0 }]] },
    "Query Clients": { "main": [[{ "node": "Format Clients Response", "type": "main", "index": 0 }]] },
    "Format Clients Response": { "main": [[{ "node": "Send Clients Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "availableInMCP": false }
}
