backups/FEGd6dvYVn5Gb6UJ_eval-status_backup.json
{
  "id": "FEGd6dvYVn5Gb6UJ",
  "name": "[Admin] Eval Status (v1.0.0)",
  "active": true,
  "nodes": [
    {"id":"08798f44-58bd-41e3-b3d0-e58652e90f4c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"parameters":{"content":"## [Admin] Eval Status v1.0.0\n\n**Trigger:** GET /caiac/admin/eval/status?job_id={uuid}\n**Auth:** HMAC (x-caiac-timestamp + x-caiac-signature) + Authorization: Bearer token\n**Access:** is_caiac_staff=true only\n\nReturns the current status of an async Ragas eval job from caiac.eval_jobs.\n\n**States:** pending -> running -> passed | failed\n**Kicked off by:** POST /caiac/admin/eval (Run Ragas Eval workflow)\n\nNotes:\n- signing_key is the Bearer token itself (same contract as other admin endpoints)\n- job_id must be a valid UUID from caiac.eval_jobs\n- webhook_secret is resolved by joining eval_jobs -> clients","height":210,"width":760}},
    {"id":"84221af2-cd12-4bb8-aead-c420bc59f1c8","name":"Receive Eval Status Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-48,352],"webhookId":"aa53ef61-dd2c-41fc-bec9-d533e1916b77","parameters":{"path":"caiac/admin/eval/status","responseMode":"responseNode","options":{}}},
    {"id":"9a79013e-e507-40db-822a-70d06cca947e","name":"Get Webhook Secret","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[176,352],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT c.id, c.webhook_secret\nFROM caiac.eval_jobs ej\nJOIN caiac.clients c ON ej.client_id = c.id\nWHERE ej.id = '{{ $('Receive Eval Status Request').item.json.query.job_id }}'\nLIMIT 1","options":{}}},
    {"id":"7baa6c56-1335-4e36-9201-9e3393512adc","name":"Verify HMAC","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[400,352],"parameters":{"method":"POST","url":"http://hmac-verifier:3000/verify","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ timestamp: $('Receive Eval Status Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Eval Status Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Eval Status Request').item.json.headers.authorization.replace('Bearer ', '').trim(), secret: $input.first().json.webhook_secret }) }}","options":{}}},
    {"id":"e64d7468-68c9-4c81-b8b7-40ab50317dec","name":"Check HMAC Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,352],"parameters":{"jsCode":"const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nconst authHeader = $('Receive Eval Status Request').first().json.headers.authorization ?? '';\nconst token = authHeader.replace('Bearer ', '').trim();\n\nreturn [{ json: { hmac_valid: true, token } }];"}},
    {"id":"895ef840-9aad-4c77-9752-2e1d23576ae0","name":"Validate Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[848,352],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT s.user_id, s.role, s.client_id, s.expires_at,\n       u.name, u.email, u.active as user_active, u.is_caiac_staff,\n       c.slug, c.active as client_active\nFROM caiac.sessions s\nJOIN caiac.users u ON s.user_id = u.id\nJOIN caiac.clients c ON s.client_id = c.id\nWHERE s.token = '{{ $('Check HMAC Valid').item.json.token }}'\nAND s.expires_at > NOW()\nAND u.active = true\nAND c.active = true\nLIMIT 1","options":{}}},
    {"id":"567289f8-3744-464d-8d2f-4e34756555f6","name":"Check Token Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,352],"parameters":{"jsCode":"const session = $input.first().json;\n\nif (!session || !session.user_id) {\n  throw new Error('Invalid or expired token');\n}\n\nif (!session.user_active) {\n  throw new Error('User account is inactive');\n}\n\nif (!session.client_active) {\n  throw new Error('Client account is inactive');\n}\n\nif (session.is_caiac_staff !== true) {\n  throw new Error('Insufficient permissions: is_caiac_staff required');\n}\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    is_caiac_staff: true\n  }\n}];"}},
    {"id":"d9b1a3fc-7e22-4b80-882d-f5447edb3c72","name":"Query Eval Job","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1296,352],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT status, faithfulness, context_precision, passed,\n       error_message, started_at, completed_at\nFROM caiac.eval_jobs\nWHERE id = '{{ $('Receive Eval Status Request').item.json.query.job_id }}'\nLIMIT 1","options":{}}},
    {"id":"f48108af-c03f-46d0-b348-7336cc23682e","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1520,352],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  job_id: $('Receive Eval Status Request').item.json.query.job_id,\n  status: $('Query Eval Job').item.json.status,\n  faithfulness: $('Query Eval Job').item.json.faithfulness !== null ? parseFloat($('Query Eval Job').item.json.faithfulness) : null,\n  context_precision: $('Query Eval Job').item.json.context_precision !== null ? parseFloat($('Query Eval Job').item.json.context_precision) : null,\n  passed: $('Query Eval Job').item.json.passed,\n  error_message: $('Query Eval Job').item.json.error_message,\n  started_at: $('Query Eval Job').item.json.started_at,\n  completed_at: $('Query Eval Job').item.json.completed_at\n}) }}","options":{"responseCode":200}}}
  ],
  "connections": {
    "Receive Eval Status Request": {"main":[[{"node":"Get Webhook Secret","type":"main","index":0}]]},
    "Get Webhook Secret": {"main":[[{"node":"Verify HMAC","type":"main","index":0}]]},
    "Verify HMAC": {"main":[[{"node":"Check HMAC Valid","type":"main","index":0}]]},
    "Check HMAC Valid": {"main":[[{"node":"Validate Token","type":"main","index":0}]]},
    "Validate Token": {"main":[[{"node":"Check Token Valid","type":"main","index":0}]]},
    "Check Token Valid": {"main":[[{"node":"Query Eval Job","type":"main","index":0}]]},
    "Query Eval Job": {"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","binaryMode":"separate","availableInMCP":false}
}
