backups/FQfeOp3yZfLwnuFf_list-client-documents_backup.json
{
  "id": "FQfeOp3yZfLwnuFf",
  "name": "[Admin] List Client Documents v1.0.0",
  "active": true,
  "nodes": [
    {"id":"f84d2675-0c06-4348-8d9d-919d93d93bfc","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[416,48],"parameters":{"content":"## [Admin] List Client Documents v1.0.0\n\n**Trigger:** GET /caiac/admin/documents?client_id={slug}\n**Auth:** HMAC (x-caiac-timestamp + x-caiac-signature) + Authorization: Bearer token\n**Access:** role IN (staff/admin/owner) AND session.slug matches client_id param, OR is_caiac_staff=true (cross-client)\n\nReturns all non-deleted rows from caiac.documents for the requested client.\n\n**Notes:**\n- client_id param is a slug (e.g. \"henderson\"); resolved to UUID via caiac.clients in Get Webhook Secret\n- HMAC signing_key is the Bearer token itself (same contract as RAG Chat)\n- 0-row result will stall the webhook; acceptable for now (Henderson always has rows)","height":210,"width":760}},
    {"id":"21a84bee-a783-4cbe-8563-0cb34909e5af","name":"Receive Documents Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[368,400],"webhookId":"e210f535-196a-4069-a38e-9d0a452eb09e","parameters":{"path":"caiac/admin/documents","responseMode":"responseNode","options":{}}},
    {"id":"2d16418c-ea29-4f4f-b39b-2b9c46517dd1","name":"Get Webhook Secret","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[592,400],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT id, webhook_secret\nFROM caiac.clients\nWHERE slug = '{{ $json.query.client_id }}'\nLIMIT 1","options":{}}},
    {"id":"c3ddebbe-06e8-4395-b24b-d1613010765a","name":"Verify HMAC","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[816,400],"parameters":{"method":"POST","url":"http://hmac-verifier:3000/verify","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ timestamp: $('Receive Documents Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Documents Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Documents Request').item.json.headers.authorization.replace('Bearer ', '').trim(), secret: $input.first().json.webhook_secret }) }}","options":{}}},
    {"id":"d7e0c015-9473-4ffe-af04-7c6bc7a93c24","name":"Check HMAC Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,400],"parameters":{"jsCode":"const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nconst authHeader = $('Receive Documents Request').first().json.headers.authorization ?? '';\nconst token = authHeader.replace('Bearer ', '').trim();\n\nreturn [{ json: { hmac_valid: true, token } }];"}},
    {"id":"d7e874f3-803f-4c74-90e8-7a0ed398e5b5","name":"Validate Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1264,400],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT s.user_id, s.role, s.client_id, s.expires_at,\n       u.name, u.email, u.active as user_active, u.is_caiac_staff,\n       c.slug, c.active as client_active\nFROM caiac.sessions s\nJOIN caiac.users u ON s.user_id = u.id\nJOIN caiac.clients c ON s.client_id = c.id\nWHERE s.token = '{{ $('Check HMAC Valid').item.json.token }}'\nAND s.expires_at > NOW()\nAND u.active = true\nAND c.active = true\nLIMIT 1","options":{}}},
    {"id":"ee1c486d-6462-4339-aa8d-84b72e397b09","name":"Check Token Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,400],"parameters":{"jsCode":"const session = $input.first().json;\nconst requestedSlug = $('Receive Documents Request').first().json.query.client_id;\n\nif (!session || !session.user_id) {\n  throw new Error('Invalid or expired token');\n}\n\nif (!session.user_active) {\n  throw new Error('User account is inactive');\n}\n\nif (!session.client_active) {\n  throw new Error('Client account is inactive');\n}\n\nconst allowedRoles = ['staff', 'admin', 'owner'];\nconst hasClientAccess = allowedRoles.includes(session.role) && session.slug === requestedSlug;\nconst isCaiacStaff = session.is_caiac_staff === true;\n\nif (!hasClientAccess && !isCaiacStaff) {\n  throw new Error('Insufficient permissions');\n}\n\nconst clientUUID = $('Get Webhook Secret').first().json.id;\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    role: session.role,\n    client_id: clientUUID,\n    client_slug: requestedSlug,\n    is_caiac_staff: isCaiacStaff,\n    name: session.name,\n    email: session.email\n  }\n}];"}},
    {"id":"95ae478e-468a-4a78-9682-acd22a978e53","name":"Query Documents","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1712,400],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT filename, role, chunks_indexed, uploaded_by, uploaded_at\nFROM caiac.documents\nWHERE client_id = '{{ $json.client_id }}'\nAND deleted_at IS NULL\nORDER BY uploaded_at DESC","options":{}}},
    {"id":"afbf9235-3ec0-4cb3-8130-1a68dc0ebd7b","name":"Format Documents Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1936,400],"parameters":{"jsCode":"const docs = $input.all().map(item => item.json);\nreturn [{ json: { documents: docs, count: docs.length } }];"}},
    {"id":"bbc71c2b-6172-4021-b609-b9ac0c954be0","name":"Send Documents Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[2160,400],"parameters":{"respondWith":"json","responseBody":"={{ { documents: $json.documents, count: $json.count } }}","options":{"responseCode":200}}}
  ],
  "connections": {
    "Receive Documents Request": {"main":[[{"node":"Get Webhook Secret","type":"main","index":0}]]},
    "Get Webhook Secret": {"main":[[{"node":"Verify HMAC","type":"main","index":0}]]},
    "Verify HMAC": {"main":[[{"node":"Check HMAC Valid","type":"main","index":0}]]},
    "Check HMAC Valid": {"main":[[{"node":"Validate Token","type":"main","index":0}]]},
    "Validate Token": {"main":[[{"node":"Check Token Valid","type":"main","index":0}]]},
    "Check Token Valid": {"main":[[{"node":"Query Documents","type":"main","index":0}]]},
    "Query Documents": {"main":[[{"node":"Format Documents Response","type":"main","index":0}]]},
    "Format Documents Response": {"main":[[{"node":"Send Documents Response","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","binaryMode":"separate","availableInMCP":false}
}
