backups/i28p9CZu2RnCsWYQ_client-health-check_backup.json
{
  "id": "i28p9CZu2RnCsWYQ",
  "name": "[Admin] Client Health Check v1.0.0",
  "active": true,
  "nodes": [
    {"id":"79ca05fb-bb2c-4636-b20f-b7388d27db42","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"parameters":{"content":"## [Admin] Client Health Check v1.0.0","height":210,"width":760}},
    {"id":"a4033e93-7b92-4e65-9018-9e5fdc7d04f8","name":"Receive Health Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,224],"webhookId":"4b8fd342-ed39-403d-bb1d-51c01823ed71","parameters":{"path":"caiac/admin/health","responseMode":"responseNode","options":{}}},
    {"id":"168970c9-a5ab-4513-a30b-58304076403d","name":"Get Webhook Secret","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,224],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT id, webhook_secret\nFROM caiac.clients\nWHERE slug = '{{ $json.query.client_id }}'\nLIMIT 1","options":{}}},
    {"id":"bc82a0b7-82a4-4d82-b273-01aa24b1988c","name":"Verify HMAC","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,224],"parameters":{"method":"POST","url":"http://hmac-verifier:3000/verify","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ timestamp: $('Receive Health Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Health Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Health Request').item.json.headers.authorization.replace('Bearer ', '').trim(), secret: $input.first().json.webhook_secret }) }}","options":{}}},
    {"id":"a4322b45-88de-4875-bcff-539edbe8ec18","name":"Check HMAC Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,224],"parameters":{"jsCode":"const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nconst authHeader = $('Receive Health Request').first().json.headers.authorization ?? '';\nconst token = authHeader.replace('Bearer ', '').trim();\n\nreturn [{ json: { hmac_valid: true, token } }];"}},
    {"id":"eff6a30f-ea45-4f7c-ab81-d63620e6bdde","name":"Validate Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,224],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT s.user_id, s.role, s.client_id, s.expires_at,\n       u.name, u.email, u.active as user_active, u.is_caiac_staff,\n       c.slug, c.active as client_active\nFROM caiac.sessions s\nJOIN caiac.users u ON s.user_id = u.id\nJOIN caiac.clients c ON s.client_id = c.id\nWHERE s.token = '{{ $('Check HMAC Valid').item.json.token }}'\nAND s.expires_at > NOW()\nAND u.active = true\nAND c.active = true\nLIMIT 1","options":{}}},
    {"id":"92671412-96bd-47ce-b606-c2b744b3d818","name":"Check Token Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,224],"parameters":{"jsCode":"const session = $input.first().json;\nconst requestedSlug = $('Receive Health Request').first().json.query.client_id;\n\nif (!session || !session.user_id) {\n  throw new Error('Invalid or expired token');\n}\n\nif (!session.user_active) {\n  throw new Error('User account is inactive');\n}\n\nif (!session.client_active) {\n  throw new Error('Client account is inactive');\n}\n\nconst allowedRoles = ['staff', 'admin', 'owner'];\nconst hasClientAccess = allowedRoles.includes(session.role) && session.slug === requestedSlug;\nconst isCaiacStaff = session.is_caiac_staff === true;\n\nif (!hasClientAccess && !isCaiacStaff) {\n  throw new Error('Insufficient permissions');\n}\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    role: session.role,\n    client_slug: requestedSlug,\n    is_caiac_staff: isCaiacStaff,\n    name: session.name,\n    email: session.email\n  }\n}];"}},
    {"id":"5a3edba6-2d72-4d10-be66-d0ef3dd53d82","name":"Get Collection Info","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,224],"parameters":{"url":"=http://qdrant:6333/collections/{{ $json.client_slug }}","options":{}}},
    {"id":"3a8f0964-583f-4198-9f0e-4da5d42b5c31","name":"Count Document Points","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1568,224],"parameters":{"method":"POST","url":"=http://qdrant:6333/collections/{{ $('Check Token Valid').item.json.client_slug }}/points/count","sendBody":true,"specifyBody":"json","jsonBody":"{\"filter\":{\"must\":[{\"key\":\"type\",\"match\":{\"value\":\"document\"}}]}}","options":{}}},
    {"id":"38155db0-c217-4b24-a1f8-d2bf9d10e964","name":"Count Chat History Points","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1792,224],"parameters":{"method":"POST","url":"=http://qdrant:6333/collections/{{ $('Check Token Valid').item.json.client_slug }}/points/count","sendBody":true,"specifyBody":"json","jsonBody":"{\"filter\":{\"must\":[{\"key\":\"type\",\"match\":{\"value\":\"chat_history\"}}]}}","options":{}}},
    {"id":"87b118e0-f3d3-4f7a-a439-e46f1eed20ea","name":"Count Knowledge Points","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2016,224],"parameters":{"method":"POST","url":"=http://qdrant:6333/collections/{{ $('Check Token Valid').item.json.client_slug }}/points/count","sendBody":true,"specifyBody":"json","jsonBody":"{\"filter\":{\"must\":[{\"key\":\"type\",\"match\":{\"value\":\"knowledge\"}}]}}","options":{}}},
    {"id":"175b0e45-8481-40f1-b958-fb436fe48d83","name":"Merge Health Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,224],"parameters":{"jsCode":"const collection = $('Get Collection Info').first().json;\nconst docCount = $('Count Document Points').first().json;\nconst chatCount = $('Count Chat History Points').first().json;\nconst knowledgeCount = $('Count Knowledge Points').first().json;\n\nreturn [{\n  json: {\n    status: collection.result?.status ?? 'unknown',\n    vector_size: collection.result?.config?.params?.vectors?.size ?? null,\n    document_points: docCount.result?.count ?? 0,\n    chat_history_points: chatCount.result?.count ?? 0,\n    knowledge_points: knowledgeCount.result?.count ?? 0,\n    embed_model: 'bge-m3:latest'\n  }\n}];"}},
    {"id":"5df92c4b-eee2-4e09-8772-1ebeafcc7ea1","name":"Send Health Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[2464,224],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}}}
  ],
  "connections": {
    "Receive Health Request": {"main":[[{"node":"Get Webhook Secret","type":"main","index":0}]]},
    "Get Webhook Secret": {"main":[[{"node":"Verify HMAC","type":"main","index":0}]]},
    "Verify HMAC": {"main":[[{"node":"Check HMAC Valid","type":"main","index":0}]]},
    "Check HMAC Valid": {"main":[[{"node":"Validate Token","type":"main","index":0}]]},
    "Validate Token": {"main":[[{"node":"Check Token Valid","type":"main","index":0}]]},
    "Check Token Valid": {"main":[[{"node":"Get Collection Info","type":"main","index":0}]]},
    "Get Collection Info": {"main":[[{"node":"Count Document Points","type":"main","index":0}]]},
    "Count Document Points": {"main":[[{"node":"Count Chat History Points","type":"main","index":0}]]},
    "Count Chat History Points": {"main":[[{"node":"Count Knowledge Points","type":"main","index":0}]]},
    "Count Knowledge Points": {"main":[[{"node":"Merge Health Response","type":"main","index":0}]]},
    "Merge Health Response": {"main":[[{"node":"Send Health Response","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","binaryMode":"separate","availableInMCP":false}
}
