backups/lg0FwGFmDWlvDc3F_chat-history_backup.json
{
  "id": "lg0FwGFmDWlvDc3F",
  "name": "CAIAC RAG - Chat History v1.0.0",
  "active": true,
  "nodes": [
    {"id":"b7f82985-008d-460c-b84e-ae6284191587","name":"Receive Session Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,-176],"webhookId":"553d4f93-f7d5-49f7-a12b-d3d00a2f4062","parameters":{"httpMethod":"POST","path":"caiac/history/sessions","responseMode":"responseNode","options":{}}},
    {"id":"1e7e4628-1b16-4bc5-8171-b166262667a7","name":"Get Webhook Secret","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-112,-176],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT webhook_secret\nFROM caiac.clients\nWHERE slug = '{{ $json.body.client_id }}'\nLIMIT 1","options":{}}},
    {"id":"809079d5-253d-4b49-bd05-c969350ae285","name":"Verify HMAC","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[112,-176],"parameters":{"method":"POST","url":"http://hmac-verifier:3000/verify","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ timestamp: $('Receive Session Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Session Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Session Request').item.json.body.token, secret: $input.first().json.webhook_secret }) }}","options":{}}},
    {"id":"04c42606-a7a5-407c-8133-3f74ab737a20","name":"Check HMAC Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[336,-176],"parameters":{"jsCode":"const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nreturn [{ json: { hmac_valid: true } }];"}},
    {"id":"d7086b82-03d6-4925-b84a-417c9f337344","name":"Validate Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[560,-176],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT s.user_id, s.role, s.client_id, s.expires_at,\n       u.name, u.email, u.active as user_active,\n       c.slug, c.active as client_active\nFROM caiac.sessions s\nJOIN caiac.users u ON s.user_id = u.id\nJOIN caiac.clients c ON s.client_id = c.id\nWHERE s.token = '{{ $('Receive Session Request').item.json.body.token }}'AND s.expires_at > NOW()\nAND u.active = true\nAND c.active = true\nLIMIT 1","options":{}}},
    {"id":"1e06490c-5432-43c1-b875-a9095e4bbc22","name":"Check Token Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[784,-176],"parameters":{"jsCode":"const session = $input.first().json;\n\nif (!session || !session.user_id) {\n  throw new Error('Invalid or expired token');\n}\n\nconst body = $('Receive Session Request').first().json.body;\nconst canViewAll = ['owner', 'admin'].includes(session.role);\n\nconst target_user_id = (canViewAll && body.target_user_id)\n  ? body.target_user_id\n  : session.user_id;\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    target_user_id,\n    role: session.role,\n    client_id: session.client_id,\n    slug: session.slug,\n  }\n}];"}},
    {"id":"9fb6478d-4c30-4f2d-a821-872ae324aac2","name":"Get Client Config","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1008,-176],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT config\nFROM caiac.clients\nWHERE slug = '{{ $('Check Token Valid').item.json.slug }}'\nLIMIT 1","options":{}}},
    {"id":"a757512c-170d-4370-b721-300d13798741","name":"Scroll Qdrant History","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1232,-176],"parameters":{"method":"POST","url":"={{ $('Get Client Config').item.json.config.ai.qdrant_url }}/collections/{{ $('Get Client Config').item.json.config.ai.qdrant_collection }}/points/scroll","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ filter: { must: [ { key: 'type', match: { value: 'chat_history' } }, { key: 'client_id', match: { value: $('Check Token Valid').item.json.client_id } }, { key: 'user_id', match: { value: $('Check Token Valid').item.json.target_user_id } } ] }, limit: 1000, with_payload: true, with_vector: false }) }}","options":{}}},
    {"id":"933c9a4f-cf0c-4c7c-a25a-8fe1f0e40b17","name":"Build Sessions List","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,-176],"parameters":{"jsCode":"const points = $input.first().json.result.points;\n\nif (!points || points.length === 0) {\n  return [{ json: { sessions: [] } }];\n}\n\nconst sessionMap = {};\nfor (const point of points) {\n  const p = point.payload;\n  const sid = p.session_id;\n  if (!sessionMap[sid]) {\n    sessionMap[sid] = { session_id: sid, title: p.question.substring(0, 60), last_message_at: p.timestamp, message_count: 0 };\n  }\n  sessionMap[sid].message_count++;\n  if (p.timestamp > sessionMap[sid].last_message_at) {\n    sessionMap[sid].last_message_at = p.timestamp;\n    sessionMap[sid].title = p.question.substring(0, 60);\n  }\n}\n\nconst sessions = Object.values(sessionMap).sort((a, b) => b.last_message_at.localeCompare(a.last_message_at));\n\nreturn [{ json: { sessions } }];"}},
    {"id":"d54c35d0-432a-4820-a4f3-2b137913550d","name":"Send Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1680,-176],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ sessions: $('Build Sessions List').item.json.sessions }) }}","options":{"responseCode":200}}}
  ],
  "connections": {
    "Receive Session Request": {"main":[[{"node":"Get Webhook Secret","type":"main","index":0}]]},
    "Get Webhook Secret": {"main":[[{"node":"Verify HMAC","type":"main","index":0}]]},
    "Verify HMAC": {"main":[[{"node":"Check HMAC Valid","type":"main","index":0}]]},
    "Check HMAC Valid": {"main":[[{"node":"Validate Token","type":"main","index":0}]]},
    "Validate Token": {"main":[[{"node":"Check Token Valid","type":"main","index":0}]]},
    "Check Token Valid": {"main":[[{"node":"Get Client Config","type":"main","index":0}]]},
    "Get Client Config": {"main":[[{"node":"Scroll Qdrant History","type":"main","index":0}]]},
    "Scroll Qdrant History": {"main":[[{"node":"Build Sessions List","type":"main","index":0}]]},
    "Build Sessions List": {"main":[[{"node":"Send Response","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","binaryMode":"separate"}
}
