backups/lTdAyxPct3gXG8FA_chat-delete_backup.json
{
  "id": "lTdAyxPct3gXG8FA",
  "name": "CAIAC RAG - Chat Delete v1.0.0",
  "active": true,
  "nodes": [
    {"id":"aa4095e9-3892-4750-b3d4-fdace641fa3f","name":"Receive Delete Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-688,-384],"webhookId":"553d4f93-f7d5-49f7-a12b-d3d00a2f4062","parameters":{"httpMethod":"POST","path":"caiac/history/delete","responseMode":"responseNode","options":{}}},
    {"id":"c143ed97-971e-4b2b-971f-39e7287da05e","name":"Get Webhook Secret","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-464,-384],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT webhook_secret\nFROM caiac.clients\nWHERE slug = '{{ $json.body.client_id }}'\nLIMIT 1","options":{}}},
    {"id":"6a0f9dd9-ef55-45ff-a7bb-0dd5b2fe96a5","name":"Verify HMAC","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-240,-384],"parameters":{"method":"POST","url":"http://hmac-verifier:3000/verify","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ timestamp: $('Receive Delete Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Delete Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Delete Request').item.json.body.token, secret: $input.first().json.webhook_secret }) }}","options":{}}},
    {"id":"bf08f312-b619-4b29-9f07-9866a8831d24","name":"Check HMAC Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,-384],"parameters":{"jsCode":"const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nreturn [{ json: { hmac_valid: true } }];"}},
    {"id":"952334df-9aeb-412c-8e8a-dd24fad65ea2","name":"Validate Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,-384],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT s.user_id, s.role, s.client_id, s.expires_at,\n       u.name, u.email, u.active as user_active,\n       c.slug, c.active as client_active\nFROM caiac.sessions s\nJOIN caiac.users u ON s.user_id = u.id\nJOIN caiac.clients c ON s.client_id = c.id\nWHERE s.token = '{{ $('Receive Delete Request').item.json.body.token }}'\nAND s.expires_at > NOW()\nAND u.active = true\nAND c.active = true\nLIMIT 1","options":{}}},
    {"id":"51e7ae3a-beff-4977-ab74-3197a6119a0e","name":"Check Token Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-384],"parameters":{"jsCode":"const session = $input.first().json;\n\nif (!session || !session.user_id) {\n  throw new Error('Invalid or expired token');\n}\n\nconst body = $('Receive Delete Request').first().json.body;\n\nif (!body.session_id) {\n  throw new Error('session_id is required');\n}\n\nconst canDeleteAll = ['owner', 'admin'].includes(session.role);\nconst target_user_id = (canDeleteAll && body.target_user_id)\n  ? body.target_user_id\n  : session.user_id;\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    target_user_id,\n    role: session.role,\n    client_id: session.client_id,\n    slug: session.slug,\n    session_id: body.session_id\n  }\n}];"}},
    {"id":"4d545efc-733b-4187-bf0c-f6271ae7c475","name":"Get Client Config","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[656,-384],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT config\nFROM caiac.clients\nWHERE slug = '{{ $('Check Token Valid').item.json.slug }}'\nLIMIT 1","options":{}}},
    {"id":"eb27f3c4-bacb-436f-83ab-19872b9c7f67","name":"Delete Qdrant Points","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[880,-384],"parameters":{"method":"POST","url":"={{ $('Get Client Config').item.json.config.ai.qdrant_url }}/collections/{{ $('Get Client Config').item.json.config.ai.qdrant_collection }}/points/delete","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ filter: { must: [ { key: 'type', match: { value: 'chat_history' } }, { key: 'client_id', match: { value: $('Check Token Valid').item.json.client_id } }, { key: 'user_id', match: { value: $('Check Token Valid').item.json.target_user_id } }, { key: 'session_id', match: { value: $('Check Token Valid').item.json.session_id } } ] } }) }}","options":{}}},
    {"id":"dc49960c-24b2-4408-9ac8-4df76f813903","name":"Build Delete Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,-384],"parameters":{"jsCode":"const result = $input.first().json;\nconst session_id = $('Check Token Valid').first().json.session_id;\n\nif (!result || result.status !== 'ok') {\n  throw new Error('Qdrant delete failed');\n}\n\nreturn [{ json: { deleted: true, session_id } }];"}},
    {"id":"6b43a887-fd11-4670-9770-ab12693fb42b","name":"Send Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1296,-384],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ deleted: $('Build Delete Response').item.json.deleted, session_id: $('Build Delete Response').item.json.session_id }) }}","options":{"responseCode":200}}}
  ],
  "connections": {
    "Receive Delete Request": {"main":[[{"node":"Get Webhook Secret","type":"main","index":0}]]},
    "Get Webhook Secret": {"main":[[{"node":"Verify HMAC","type":"main","index":0}]]},
    "Verify HMAC": {"main":[[{"node":"Check HMAC Valid","type":"main","index":0}]]},
    "Check HMAC Valid": {"main":[[{"node":"Validate Token","type":"main","index":0}]]},
    "Validate Token": {"main":[[{"node":"Check Token Valid","type":"main","index":0}]]},
    "Check Token Valid": {"main":[[{"node":"Get Client Config","type":"main","index":0}]]},
    "Get Client Config": {"main":[[{"node":"Delete Qdrant Points","type":"main","index":0}]]},
    "Delete Qdrant Points": {"main":[[{"node":"Build Delete Response","type":"main","index":0}]]},
    "Build Delete Response": {"main":[[{"node":"Send Response","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","binaryMode":"separate"}
}
