backups/O47BEXbwx3UuhETz_dismiss_backup.json
{
  "id": "O47BEXbwx3UuhETz",
  "name": "CAIAC RAG - Dismiss v1.0.0",
  "active": true,
  "nodes": [
    {"id":"0540705c-3602-411d-aab1-30017fb40169","name":"Receive Dismiss Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,-272],"webhookId":"553d4f93-f7d5-49f7-a12b-d3d00a2f4062","parameters":{"httpMethod":"POST","path":"caiac/history/dismiss","responseMode":"responseNode","options":{}}},
    {"id":"8f796ae8-98e9-4e56-abbc-5ead875ae354","name":"Get Webhook Secret","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-176,-272],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT webhook_secret\nFROM caiac.clients\nWHERE slug = '{{ $json.body.client_id }}'\nLIMIT 1","options":{}}},
    {"id":"cfddab76-9118-4cc7-8207-d46930c0cf62","name":"Verify HMAC","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[48,-272],"parameters":{"method":"POST","url":"http://hmac-verifier:3000/verify","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ timestamp: $('Receive Dismiss Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Dismiss Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Dismiss Request').item.json.body.token, secret: $input.first().json.webhook_secret }) }}","options":{}}},
    {"id":"084ed049-217e-435a-b365-8221f645832b","name":"Check HMAC Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-272],"parameters":{"jsCode":"const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nreturn [{ json: { hmac_valid: true } }];"}},
    {"id":"60b0c9ac-3492-473e-adf3-3df6087adbbb","name":"Validate Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[496,-272],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT s.user_id, s.role, s.client_id, s.expires_at,\n       u.name, u.email, u.active as user_active,\n       c.slug, c.active as client_active\nFROM caiac.sessions s\nJOIN caiac.users u ON s.user_id = u.id\nJOIN caiac.clients c ON s.client_id = c.id\nWHERE s.token = '{{ $('Receive Dismiss Request').item.json.body.token }}'\nAND s.expires_at > NOW()\nAND u.active = true\nAND c.active = true\nLIMIT 1","options":{}}},
    {"id":"87cf2ac9-677f-4e64-b862-47c0025a2490","name":"Check Token Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-272],"parameters":{"jsCode":"const session = $input.first().json;\n\nif (!session || !session.user_id) {\n  throw new Error('Invalid or expired token');\n}\n\nconst body = $('Receive Dismiss Request').first().json.body;\n\nif (!body.session_id) throw new Error('session_id is required');\nif (body.message_index === undefined) throw new Error('message_index is required');\n\nif (!['owner', 'admin', 'staff'].includes(session.role)) {\n  throw new Error('Insufficient permissions to dismiss');\n}\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    role: session.role,\n    client_id: session.client_id,\n    slug: session.slug,\n    session_id: body.session_id,\n    message_index: body.message_index\n  }\n}];"}},
    {"id":"0e56fafa-e9ee-405b-b6ad-6556f4e17d35","name":"Get Client Config","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[944,-272],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT config\nFROM caiac.clients\nWHERE slug = '{{ $('Check Token Valid').item.json.slug }}'\nLIMIT 1","options":{}}},
    {"id":"42d3a08a-786d-449d-8170-e9cb24d0f2ea","name":"Delete Qdrant Point","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1168,-272],"parameters":{"method":"POST","url":"={{ $('Get Client Config').item.json.config.ai.qdrant_url }}/collections/{{ $('Get Client Config').item.json.config.ai.qdrant_collection }}/points/delete","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ filter: { must: [ { key: 'type', match: { value: 'chat_history' } }, { key: 'client_id', match: { value: $('Check Token Valid').item.json.client_id } }, { key: 'session_id', match: { value: $('Check Token Valid').item.json.session_id } }, { key: 'message_index', match: { value: $('Check Token Valid').item.json.message_index } } ] } }) }}","options":{}}},
    {"id":"4046a49c-bfd0-44df-a1c4-79bc4633ba6a","name":"Build Dismiss Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,-272],"parameters":{"jsCode":"const result = $input.first().json;\n\nif (!result || result.status !== 'ok') {\n  throw new Error('Qdrant delete failed');\n}\n\nreturn [{ json: { deleted: true, session_id: $('Check Token Valid').first().json.session_id, message_index: $('Check Token Valid').first().json.message_index } }];"}},
    {"id":"8c14cf57-39cd-4c53-9951-9bc44071e0b2","name":"Send Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1664,-272],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ deleted: $('Build Dismiss Response').item.json.deleted, session_id: $('Build Dismiss Response').item.json.session_id }) }}","options":{"responseCode":200}}}
  ],
  "connections": {
    "Receive Dismiss Request": {"main":[[{"node":"Get Webhook Secret","type":"main","index":0}]]},
    "Get Webhook Secret": {"main":[[{"node":"Verify HMAC","type":"main","index":0}]]},
    "Verify HMAC": {"main":[[{"node":"Check HMAC Valid","type":"main","index":0}]]},
    "Check HMAC Valid": {"main":[[{"node":"Validate Token","type":"main","index":0}]]},
    "Validate Token": {"main":[[{"node":"Check Token Valid","type":"main","index":0}]]},
    "Check Token Valid": {"main":[[{"node":"Get Client Config","type":"main","index":0}]]},
    "Get Client Config": {"main":[[{"node":"Delete Qdrant Point","type":"main","index":0}]]},
    "Delete Qdrant Point": {"main":[[{"node":"Build Dismiss Response","type":"main","index":0}]]},
    "Build Dismiss Response": {"main":[[{"node":"Send Response","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","binaryMode":"separate"}
}
