backups/rh8Pmd8pXkRrxCAD_auth-refresh_backup.json
{
  "id": "rh8Pmd8pXkRrxCAD",
  "name": "CAIAC Auth - Refresh v1.0.0",
  "active": true,
  "nodes": [
    {"id":"c6e416aa-9587-4088-ad12-26e124d72da9","name":"Get Webhook Secret","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-624,-224],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT webhook_secret\nFROM caiac.clients\nWHERE slug = '{{ $json.body.client_id }}'\nLIMIT 1","options":{}}},
    {"id":"6bc4767d-2bf0-4eec-b9ec-404098a1071e","name":"Verify HMAC","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-400,-224],"parameters":{"method":"POST","url":"http://hmac-verifier:3000/verify","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ timestamp: $('Receive Refresh Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Refresh Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Refresh Request').item.json.body.token, secret: $input.first().json.webhook_secret }) }}","options":{}}},
    {"id":"15609d0e-19e3-4052-8e5a-d72e9ed240e6","name":"Check HMAC Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,-224],"parameters":{"jsCode":"const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nreturn [{ json: { hmac_valid: true } }];"}},
    {"id":"a79a3936-c6fe-41b5-9e68-c930ec3458e0","name":"Validate Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[48,-224],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT s.id, s.token, s.user_id, s.role, s.client_id, s.expires_at,\n       u.name, u.email, u.active as user_active,\n       c.slug, c.active as client_active\nFROM caiac.sessions s\nJOIN caiac.users u ON s.user_id = u.id\nJOIN caiac.clients c ON s.client_id = c.id\nWHERE s.token = '{{ $('Receive Refresh Request').item.json.body.token }}'\nAND s.expires_at > NOW()\nAND u.active = true\nAND c.active = true\nLIMIT 1","options":{}}},
    {"id":"285a94ab-c8b6-4099-927d-abadc3f5c36b","name":"Check Token Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-224],"parameters":{"jsCode":"const session = $input.first().json;\n\nif (!session || !session.user_id) {\n  throw new Error('Invalid or expired token');\n}\n\nreturn [{\n  json: {\n    session_id: session.id,\n    user_id: session.user_id,\n    role: session.role,\n    client_id: session.client_id,\n    slug: session.slug,\n    name: session.name,\n    email: session.email,\n    old_token: session.token,\n  }\n}];"}},
    {"id":"021ea335-fde7-4b29-84bc-d7ad1d3b5bc8","name":"Send Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1152,-224],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ token: $('Replace Session').item.json.token, expires_at: $('Replace Session').item.json.expires_at }) }}","options":{"responseCode":200}}},
    {"id":"7445c944-d5e5-4b9a-878f-aa2e9e374591","name":"Receive Refresh Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-848,-224],"webhookId":"553d4f93-f7d5-49f7-a12b-d3d00a2f4062","parameters":{"httpMethod":"POST","path":"caiac/auth/refresh","responseMode":"responseNode","options":{}}},
    {"id":"da6eb0f2-9371-4e45-ace5-dfc43ff6863a","name":"Generate New Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[496,-224],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT encode(\n  hmac(\n    concat(\n      '{{ $('Check Token Valid').item.json.user_id }}',\n      '.',\n      '{{ $('Check Token Valid').item.json.role }}',\n      '.',\n      extract(epoch from now())::bigint::text\n    ),\n    (SELECT jwt_secret FROM caiac.clients WHERE id = '{{ $('Check Token Valid').item.json.client_id }}'),\n    'sha256'\n  ),\n  'hex'\n) as token","options":{}}},
    {"id":"5f16ba94-0900-4cde-b64e-a8e7b2149334","name":"Replace Session","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[704,-224],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"UPDATE caiac.sessions\nSET token = '{{ $('Generate New Token').item.json.token }}',\n    expires_at = NOW() + INTERVAL '8 hours'\nWHERE id = '{{ $('Check Token Valid').item.json.session_id }}'\nRETURNING token, expires_at;","options":{}}},
    {"id":"4a56b0e0-91ff-4590-8b5d-8abf70a7b28d","name":"Log Refresh","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,-224],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"INSERT INTO caiac.audit_log (client_id, user_id, action, detail)\nVALUES (\n    '{{ $('Check Token Valid').item.json.client_id }}',\n    '{{ $('Check Token Valid').item.json.user_id }}',\n    'refresh',\n    '{\"role\": \"{{ $('Check Token Valid').item.json.role }}\", \"email\": \"{{ $('Check Token Valid').item.json.email }}\"}'\n)\nRETURNING id, created_at;","options":{}}}
  ],
  "connections": {
    "Get Webhook Secret": {"main":[[{"node":"Verify HMAC","type":"main","index":0}]]},
    "Verify HMAC": {"main":[[{"node":"Check HMAC Valid","type":"main","index":0}]]},
    "Check HMAC Valid": {"main":[[{"node":"Validate Token","type":"main","index":0}]]},
    "Validate Token": {"main":[[{"node":"Check Token Valid","type":"main","index":0}]]},
    "Check Token Valid": {"main":[[{"node":"Generate New Token","type":"main","index":0}]]},
    "Receive Refresh Request": {"main":[[{"node":"Get Webhook Secret","type":"main","index":0}]]},
    "Generate New Token": {"main":[[{"node":"Replace Session","type":"main","index":0}]]},
    "Replace Session": {"main":[[{"node":"Log Refresh","type":"main","index":0}]]},
    "Log Refresh": {"main":[[{"node":"Send Response","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","binaryMode":"separate"}
}
