backups/uPCEN5Kf7bkyR5qv_delete-document_backup.json
{
  "id": "uPCEN5Kf7bkyR5qv",
  "name": "[Admin] Delete Document v1.0.0",
  "active": true,
  "nodes": [
    {"id":"ccf919a5-f89d-4e17-85c9-a2963d638296","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"parameters":{"content":"## [Admin] Delete Document v1.0.0","height":260,"width":760}},
    {"id":"87e87bae-bbfe-4842-9b3a-65597d77a00d","name":"Receive Delete Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-48,352],"webhookId":"c1055373-c889-41ee-9334-46bc9ef5c958","parameters":{"httpMethod":"DELETE","path":"caiac/admin/document","responseMode":"responseNode","options":{}}},
    {"id":"a4f6a3b9-2b97-4156-a22e-077e4e4c1ae0","name":"Get Webhook Secret","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[176,352],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT id, webhook_secret\nFROM caiac.clients\nWHERE slug = '{{ $json.body.client_id }}'\nLIMIT 1","options":{}}},
    {"id":"47dbafa6-2261-42b4-aa84-f0af91362aea","name":"Verify HMAC","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[400,352],"parameters":{"method":"POST","url":"http://hmac-verifier:3000/verify","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ timestamp: $('Receive Delete Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Delete Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Delete Request').item.json.headers.authorization.replace('Bearer ', '').trim(), secret: $input.first().json.webhook_secret }) }}","options":{}}},
    {"id":"c30f4993-db89-45be-b5c0-a7c7f615d9dd","name":"Check HMAC Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,352],"parameters":{"jsCode":"const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nconst authHeader = $('Receive Delete Request').first().json.headers.authorization ?? '';\nconst token = authHeader.replace('Bearer ', '').trim();\n\nreturn [{ json: { hmac_valid: true, token } }];"}},
    {"id":"3e19d17b-d6db-4390-8810-11cf78fe9183","name":"Validate Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[848,352],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT s.user_id, s.role, s.client_id, s.expires_at,\n       u.name, u.email, u.active as user_active, u.is_caiac_staff,\n       c.slug, c.active as client_active\nFROM caiac.sessions s\nJOIN caiac.users u ON s.user_id = u.id\nJOIN caiac.clients c ON s.client_id = c.id\nWHERE s.token = '{{ $('Check HMAC Valid').item.json.token }}'\nAND s.expires_at > NOW()\nAND u.active = true\nAND c.active = true\nLIMIT 1","options":{}}},
    {"id":"75992414-0b8e-448e-a26e-464603448565","name":"Check Token Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,352],"parameters":{"jsCode":"const session = $input.first().json;\n\nif (!session || !session.user_id) {\n  throw new Error('Invalid or expired token');\n}\n\nif (!session.user_active) {\n  throw new Error('User account is inactive');\n}\n\nif (!session.client_active) {\n  throw new Error('Client account is inactive');\n}\n\nif (session.is_caiac_staff !== true) {\n  throw new Error('Insufficient permissions: is_caiac_staff required');\n}\n\nconst clientUUID = $('Get Webhook Secret').first().json.id;\nconst body = $('Receive Delete Request').first().json.body;\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    is_caiac_staff: true,\n    client_id: clientUUID,\n    client_slug: body.client_id,\n    filename: body.filename\n  }\n}];"}},
    {"id":"7843c880-8eee-4bf0-8470-fa204483b853","name":"Soft Delete Document","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1296,352],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"UPDATE caiac.documents\nSET deleted_at = NOW()\nWHERE client_id = '{{ $json.client_id }}'\nAND filename = '{{ $json.filename }}'\nAND deleted_at IS NULL","options":{}}},
    {"id":"2607b65b-f7c1-4005-8ab3-933adafd9acd","name":"Delete Qdrant Points","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1520,352],"parameters":{"method":"POST","url":"=http://qdrant:6333/collections/{{ $('Check Token Valid').item.json.client_slug }}/points/delete","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ filter: { must: [ { key: 'source', match: { value: $('Check Token Valid').item.json.filename } }, { key: 'client_id', match: { value: $('Check Token Valid').item.json.client_slug } } ] } }) }}","options":{}}},
    {"id":"31a31d46-8c4b-47b9-b2ea-f9ac5eaf1d0a","name":"Send Delete Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1744,352],"parameters":{"respondWith":"json","responseBody":"={{ { deleted: true, filename: $('Check Token Valid').item.json.filename } }}","options":{"responseCode":200}}}
  ],
  "connections": {
    "Receive Delete Request": {"main":[[{"node":"Get Webhook Secret","type":"main","index":0}]]},
    "Get Webhook Secret": {"main":[[{"node":"Verify HMAC","type":"main","index":0}]]},
    "Verify HMAC": {"main":[[{"node":"Check HMAC Valid","type":"main","index":0}]]},
    "Check HMAC Valid": {"main":[[{"node":"Validate Token","type":"main","index":0}]]},
    "Validate Token": {"main":[[{"node":"Check Token Valid","type":"main","index":0}]]},
    "Check Token Valid": {"main":[[{"node":"Soft Delete Document","type":"main","index":0}]]},
    "Soft Delete Document": {"main":[[{"node":"Delete Qdrant Points","type":"main","index":0}]]},
    "Delete Qdrant Points": {"main":[[{"node":"Send Delete Response","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","binaryMode":"separate","availableInMCP":false}
}
