backups/WZf89hltWqqZJfyP_chat-messages_backup.json
{
  "id": "WZf89hltWqqZJfyP",
  "name": "CAIAC RAG - Chat Messages v1.0.0",
  "active": true,
  "nodes": [
    {"id":"2f55902b-9af1-4693-b308-5cde7372048c","name":"Receive Message Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1024,-240],"webhookId":"553d4f93-f7d5-49f7-a12b-d3d00a2f4062","parameters":{"httpMethod":"POST","path":"caiac/history/messages","responseMode":"responseNode","options":{}}},
    {"id":"ba259808-4c50-4b58-90fc-2fe9b1c00424","name":"Get Webhook Secret","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-800,-240],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT webhook_secret\nFROM caiac.clients\nWHERE slug = '{{ $json.body.client_id }}'\nLIMIT 1","options":{}}},
    {"id":"3b060d4b-c42e-431d-9cd0-4e3b9227d07b","name":"Verify HMAC","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-576,-240],"parameters":{"method":"POST","url":"http://hmac-verifier:3000/verify","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ timestamp: $('Receive Message Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Message Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Message Request').item.json.body.token, secret: $input.first().json.webhook_secret }) }}","options":{}}},
    {"id":"db2e6c97-2ad2-42e2-b04c-86f8633a43b3","name":"Check HMAC Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,-240],"parameters":{"jsCode":"const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nreturn [{ json: { hmac_valid: true } }];"}},
    {"id":"08f82319-c9f9-4a05-96d4-73b53e4dbde5","name":"Validate Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,-240],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT s.user_id, s.role, s.client_id, s.expires_at,\n       u.name, u.email, u.active as user_active,\n       c.slug, c.active as client_active\nFROM caiac.sessions s\nJOIN caiac.users u ON s.user_id = u.id\nJOIN caiac.clients c ON s.client_id = c.id\nWHERE s.token = '{{ $('Receive Message Request').item.json.body.token }}'\nAND s.expires_at > NOW()\nAND u.active = true\nAND c.active = true\nLIMIT 1","options":{}}},
    {"id":"49aa2846-62a2-43cf-a7da-39ae03277330","name":"Check Token Valid","type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-240],"parameters":{"jsCode":"const session = $input.first().json;\n\nif (!session || !session.user_id) {\n  throw new Error('Invalid or expired token');\n}\n\nconst body = $('Receive Message Request').first().json.body;\n\nif (!body.session_id) {\n  throw new Error('session_id is required');\n}\n\nconst canViewAll = ['owner', 'admin'].includes(session.role);\nconst target_user_id = (canViewAll && body.target_user_id)\n  ? body.target_user_id\n  : session.user_id;\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    target_user_id,\n    role: session.role,\n    client_id: session.client_id,\n    slug: session.slug,\n    session_id: body.session_id\n  }\n}];"}},
    {"id":"9c62e216-c08c-4458-baf8-79c46065d076","name":"Get Client Config","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[320,-240],"credentials":{"postgres":{"id":"oJ321kQrsEmHydiQ","name":"CAIAC Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT config\nFROM caiac.clients\nWHERE slug = '{{ $('Check Token Valid').item.json.slug }}'\nLIMIT 1","options":{}}},
    {"id":"5cf6a999-6dfc-454d-8810-c416a57c4139","name":"Scroll Qdrant Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[544,-240],"parameters":{"method":"POST","url":"={{ $('Get Client Config').item.json.config.ai.qdrant_url }}/collections/{{ $('Get Client Config').item.json.config.ai.qdrant_collection }}/points/scroll","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ filter: { must: [ { key: 'type', match: { value: 'chat_history' } }, { key: 'client_id', match: { value: $('Check Token Valid').item.json.client_id } }, { key: 'user_id', match: { value: $('Check Token Valid').item.json.target_user_id } }, { key: 'session_id', match: { value: $('Check Token Valid').item.json.session_id } } ] }, limit: 500, with_payload: true, with_vector: false }) }}","options":{}}},
    {"id":"6dee23e0-c475-4ac5-8d09-fbdc02cc57e5","name":"Build Messages List","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-240],"parameters":{"jsCode":"const points = $input.first().json.result.points;\n\nif (!points || points.length === 0) {\n  return [{ json: { messages: [], session_id: $('Check Token Valid').first().json.session_id } }];\n}\n\nconst messages = points\n  .map(p => ({ question: p.payload.question, answer: p.payload.answer, sources: p.payload.sources, timestamp: p.payload.timestamp, message_index: p.payload.message_index }))\n  .sort((a, b) => a.message_index - b.message_index);\n\nreturn [{ json: { session_id: $('Check Token Valid').first().json.session_id, messages } }];"}},
    {"id":"9df354dc-ceb2-480a-bda4-7260de3a0947","name":"Send Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[960,-240],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ session_id: $('Build Messages List').item.json.session_id, messages: $('Build Messages List').item.json.messages }) }}","options":{"responseCode":200}}}
  ],
  "connections": {
    "Receive Message Request": {"main":[[{"node":"Get Webhook Secret","type":"main","index":0}]]},
    "Get Webhook Secret": {"main":[[{"node":"Verify HMAC","type":"main","index":0}]]},
    "Verify HMAC": {"main":[[{"node":"Check HMAC Valid","type":"main","index":0}]]},
    "Check HMAC Valid": {"main":[[{"node":"Validate Token","type":"main","index":0}]]},
    "Validate Token": {"main":[[{"node":"Check Token Valid","type":"main","index":0}]]},
    "Check Token Valid": {"main":[[{"node":"Get Client Config","type":"main","index":0}]]},
    "Get Client Config": {"main":[[{"node":"Scroll Qdrant Messages","type":"main","index":0}]]},
    "Scroll Qdrant Messages": {"main":[[{"node":"Build Messages List","type":"main","index":0}]]},
    "Build Messages List": {"main":[[{"node":"Send Response","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","binaryMode":"separate"}
}
