workflows/admin-get-ai-usage-v1.0.0.json
{
  "id": "LxGok5ylNsQg68Vk",
  "name": "[Admin] Get AI Usage v1.0.0",
  "active": false,
  "nodes": [
    {
      "id": "gau-sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -200],
      "parameters": {
        "content": "## [Admin] Get AI Usage v1.0.0\nReturns Claude AI usage vs cap per client for the current (or specified) month.\n\n**Auth:** CAIAC staff only (HMAC + JWT)\n**Query params:** `period` (optional, YYYY-MM — defaults to current month), `slug` (optional filter)\n**Response:** array of { slug, client_name, period, request_count, cap, pct_used }"
      }
    },
    {
      "id": "gau-webhook",
      "name": "Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "GET",
        "path": "admin/ai-usage",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "9f973e0c-f4e0-496a-aeaf-6f3838856354"
    },
    {
      "id": "gau-auth",
      "name": "Prepare Auth Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "const req = $input.first().json;\nreturn [{ json: {\n  client_id: req.query?.client_id ?? null,\n  timestamp: req.headers['x-caiac-timestamp'],\n  signature: req.headers['x-caiac-signature'],\n  token: req.headers['x-caiac-token'] ?? req.query?.token\n}}];"
      }
    },
    {
      "id": "gau-call-auth",
      "name": "Call Full Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [440, 0],
      "parameters": {
        "workflowId": { "__rl": true, "value": "XWbmBI9NYdwK80eg", "mode": "id" },
        "workflowInputs": { "mappingMode": "autoMapInputData", "value": {}, "schema": [], "matchingColumns": [], "options": {} },
        "options": {}
      }
    },
    {
      "id": "gau-check-staff",
      "name": "Check Staff Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "parameters": {
        "jsCode": "const auth = $input.first().json;\nif (!auth.is_caiac_staff) throw new Error('Forbidden: CAIAC staff only');\nconst req = $('Receive Request').first().json;\nconst period = req.query?.period ?? new Date().toISOString().slice(0, 7);\nconst slug = req.query?.slug ?? null;\nreturn [{ json: { period, slug } }];"
      }
    },
    {
      "id": "gau-query",
      "name": "Query AI Usage",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [880, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  c.slug,\n  c.name AS client_name,\n  $1 AS period,\n  COALESCE(au.request_count, 0) AS request_count,\n  COALESCE((cf.config->>'cap')::int, 100) AS cap,\n  ROUND(\n    COALESCE(au.request_count, 0)::numeric /\n    NULLIF(COALESCE((cf.config->>'cap')::int, 100), 0) * 100, 1\n  ) AS pct_used\nFROM caiac.clients c\nJOIN caiac.client_features cf ON cf.client_id = c.id AND cf.feature = 'advanced_ai'\nLEFT JOIN caiac.ai_usage au ON au.client_id = c.id AND au.period = $1\nWHERE c.active = true\n  AND cf.enabled = true\n  AND ($2::text IS NULL OR c.slug = $2)\nORDER BY pct_used DESC NULLS LAST;",
        "options": { "queryReplacement": "={{ [$json.period, $json.slug] }}" }
      },
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "id": "gau-respond",
      "name": "Send Usage",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1100, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ period: $('Check Staff Auth').first().json.period, clients: $input.all().map(i => i.json) }) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Receive Request": { "main": [[{ "node": "Prepare Auth Inputs", "type": "main", "index": 0 }]] },
    "Prepare Auth Inputs": { "main": [[{ "node": "Call Full Auth", "type": "main", "index": 0 }]] },
    "Call Full Auth": { "main": [[{ "node": "Check Staff Auth", "type": "main", "index": 0 }]] },
    "Check Staff Auth": { "main": [[{ "node": "Query AI Usage", "type": "main", "index": 0 }]] },
    "Query AI Usage": { "main": [[{ "node": "Send Usage", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "tags": []
}
