workflows/admin-rerun-onboarding-step-v1.0.0.json
{
  "name": "[Admin] Rerun Onboarding Step v1.0.0",
  "active": false,
  "nodes": [
    {
      "id": "sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -380],
      "parameters": {
        "content": "## [Admin] Rerun Onboarding Step v1.0.0\n\nRe-runs an idempotent onboarding step for an existing client.\nAllowed steps: seed_features, stub_crm_config, smoke_test\n(Non-idempotent steps use the New Client chat tab.)\n\n**Auth:** CAIAC staff only\n**Path:** POST /caiac/admin/rerun-onboarding-step\n**Body:** { slug: string, step: string, params?: { crm_type?: string } }\n**Response:** { step, result: 'ok', output: {} }"
      }
    },
    {
      "id": "webhook",
      "name": "Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "caiac/admin/rerun-onboarding-step",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "prep-auth",
      "name": "Prepare Auth Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "const req = $input.first().json;\nreturn [{ json: {\n  token: (req.headers.authorization || '').replace(/^Bearer\\s+/i, '').trim(),\n  timestamp: req.headers['x-caiac-timestamp'],\n  signature: req.headers['x-caiac-signature']\n}}];"
      }
    },
    {
      "id": "call-auth",
      "name": "Call Full Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [440, 0],
      "parameters": {
        "workflowId": { "__rl": true, "value": "XWbmBI9NYdwK80eg", "mode": "id" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "token": "={{ $json.token }}",
            "timestamp": "={{ $json.timestamp }}",
            "signature": "={{ $json.signature }}"
          },
          "schema": [
            { "id": "1", "displayName": "token", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "2", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "3", "displayName": "signature", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "check-auth",
      "name": "Is Staff?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.is_caiac_staff }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "respond-401",
      "name": "Respond 401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [880, 160],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Unauthorized' }) }}",
        "options": {},
        "responseCode": 401
      }
    },
    {
      "id": "parse-validate",
      "name": "Parse + Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -160],
      "parameters": {
        "jsCode": "const req = $('Receive Request').first().json;\nconst body = req.body || {};\nconst slug = (body.slug || '').trim();\nconst step = (body.step || '').trim();\nconst params = body.params || {};\n\nconst ALLOWED = ['seed_features', 'stub_crm_config', 'smoke_test'];\n\nif (!slug) return [{ json: { valid: false, error: 'Missing required field: slug' } }];\nif (!ALLOWED.includes(step)) return [{ json: { valid: false, error: 'step must be one of: ' + ALLOWED.join(', ') } }];\n\nreturn [{ json: { valid: true, slug, step, params } }];"
      }
    },
    {
      "id": "input-valid",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, -160],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.valid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "respond-400",
      "name": "Respond 400 Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1320, -40],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
        "options": {},
        "responseCode": 400
      }
    },
    {
      "id": "fetch-client",
      "name": "Fetch Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1320, -320],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, slug FROM caiac.clients WHERE slug = $1 AND active = true LIMIT 1",
        "options": { "queryReplacement": "={{ [$json.slug] }}" }
      },
      "credentials": { "postgres": { "name": "CAIAC Postgres" } }
    },
    {
      "id": "normalize-client",
      "name": "Normalize Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -320],
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0 || !items[0].json.id) {\n  return [{ json: { found: false, id: null, slug: null } }];\n}\nreturn [{ json: { found: true, id: items[0].json.id, slug: items[0].json.slug } }];"
      }
    },
    {
      "id": "client-found",
      "name": "Client Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1760, -320],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.found }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "respond-404",
      "name": "Respond 404 Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1980, -200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Client not found' }) }}",
        "options": {},
        "responseCode": 404
      }
    },
    {
      "id": "prep-context",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -440],
      "parameters": {
        "jsCode": "const client = $('Normalize Client').first().json;\nconst validated = $('Parse + Validate').first().json;\nreturn [{ json: { client_id: client.id, client_slug: client.slug, step: validated.step, params: validated.params } }];"
      }
    },
    {
      "id": "route-step",
      "name": "Route Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [2200, -440],
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [{ "id": "r1", "leftValue": "={{ $json.step }}", "rightValue": "seed_features", "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" } }],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [{ "id": "r2", "leftValue": "={{ $json.step }}", "rightValue": "stub_crm_config", "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" } }],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [{ "id": "r3", "leftValue": "={{ $json.step }}", "rightValue": "smoke_test", "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" } }],
                "combinator": "and"
              },
              "renameOutput": false
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "exec-seed",
      "name": "Execute Seed Features",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [2420, -580],
      "parameters": {
        "workflowId": { "__rl": true, "value": "lCCkJfPFbNNbHWiI", "mode": "id" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": { "client_id": "={{ $json.client_id }}" },
          "schema": [{ "id": "1", "displayName": "client_id", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }]
        },
        "options": {}
      }
    },
    {
      "id": "exec-crm",
      "name": "Execute Stub CRM",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [2420, -440],
      "parameters": {
        "workflowId": { "__rl": true, "value": "8AZ4sMI7CRXByH8I", "mode": "id" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $json.client_id }}",
            "crm_type": "={{ $json.params.crm_type || 'none' }}"
          },
          "schema": [
            { "id": "1", "displayName": "client_id", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "2", "displayName": "crm_type", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "exec-smoke",
      "name": "Execute Smoke Test",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [2420, -300],
      "parameters": {
        "workflowId": { "__rl": true, "value": "1Wmm68uc0ZnWegVK", "mode": "id" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $json.client_id }}",
            "client_slug": "={{ $json.client_slug }}"
          },
          "schema": [
            { "id": "1", "displayName": "client_id", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "2", "displayName": "client_slug", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond-200",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2640, -440],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ step: $('Prepare Context').first().json.step, result: 'ok', output: $json }) }}",
        "options": {},
        "responseCode": 200
      }
    }
  ],
  "connections": {
    "Receive Request": { "main": [[{ "node": "Prepare Auth Inputs", "type": "main", "index": 0 }]] },
    "Prepare Auth Inputs": { "main": [[{ "node": "Call Full Auth", "type": "main", "index": 0 }]] },
    "Call Full Auth": { "main": [[{ "node": "Is Staff?", "type": "main", "index": 0 }]] },
    "Is Staff?": { "main": [
      [{ "node": "Parse + Validate", "type": "main", "index": 0 }],
      [{ "node": "Respond 401 Unauthorized", "type": "main", "index": 0 }]
    ]},
    "Parse + Validate": { "main": [[{ "node": "Input Valid?", "type": "main", "index": 0 }]] },
    "Input Valid?": { "main": [
      [{ "node": "Fetch Client", "type": "main", "index": 0 }],
      [{ "node": "Respond 400 Bad Request", "type": "main", "index": 0 }]
    ]},
    "Fetch Client": { "main": [[{ "node": "Normalize Client", "type": "main", "index": 0 }]] },
    "Normalize Client": { "main": [[{ "node": "Client Found?", "type": "main", "index": 0 }]] },
    "Client Found?": { "main": [
      [{ "node": "Prepare Context", "type": "main", "index": 0 }],
      [{ "node": "Respond 404 Not Found", "type": "main", "index": 0 }]
    ]},
    "Prepare Context": { "main": [[{ "node": "Route Step", "type": "main", "index": 0 }]] },
    "Route Step": { "main": [
      [{ "node": "Execute Seed Features", "type": "main", "index": 0 }],
      [{ "node": "Execute Stub CRM", "type": "main", "index": 0 }],
      [{ "node": "Execute Smoke Test", "type": "main", "index": 0 }]
    ]},
    "Execute Seed Features": { "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]] },
    "Execute Stub CRM": { "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]] },
    "Execute Smoke Test": { "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveDataSuccessExecution": "none" },
  "tags": [{ "name": "admin" }, { "name": "onboarding" }]
}
