workflows/admin-client-health-check.json
{
  "id": "leu2rERglqIqzhAj",
  "name": "CAIAC Admin Health v1.0.0",
  "active": true,
  "updatedAt": "2026-06-20T00:06:02.806Z",
  "createdAt": "2026-06-13T21:41:18.619Z",
  "versionId": "c6db463b-178b-4e51-9030-a7b33b23d9b1",
  "versionCounter": 2,
  "nodes": [
    {
      "id": "ah-sticky-01",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-960, -960],
      "parameters": {
        "content": "## CAIAC Admin Health v1.0.0\n\n**Trigger:** GET /caiac/health\n**Auth:** HMAC + Bearer token\n**Access:** is_caiac_staff = true only\n\nReturns status of all platform services:\n- Postgres (caiac DB)\n- Qdrant (vector store)\n- Ollama (LLM + embed)\n- Reranker (bge-reranker-v2-m3)\n- HMAC Verifier\n\nAll service checks run sequentially with continueOnFail — a single service outage does not prevent the full health report from returning.",
        "height": 320,
        "width": 660
      }
    },
    {
      "id": "ah-webhook-01",
      "name": "Receive Health Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "GET",
        "path": "caiac/health",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "f4c3e166-c7e6-4f57-b641-4b584ddbc15f"
    },
    {
      "id": "ah-auth-prep-01",
      "name": "Prepare Auth Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 300],
      "parameters": {
        "jsCode": "const req = $input.first().json;\nreturn [{ json: {\n  client_id: '',\n  timestamp: req.headers['x-caiac-timestamp'],\n  signature: req.headers['x-caiac-signature'],\n  token: (req.headers.authorization || '').replace(/^Bearer\\s+/i, '')\n} }];"
      }
    },
    {
      "id": "ah-full-auth-01",
      "name": "Call Full Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [448, 300],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XWbmBI9NYdwK80eg",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "schema": [],
          "matchingColumns": [],
          "options": {}
        },
        "options": {}
      }
    },
    {
      "id": "ah-token-check-01",
      "name": "Check Token Valid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [672, 300],
      "parameters": {
        "jsCode": "const session = $input.first().json;\nif (session.is_caiac_staff !== true) {\n  throw new Error('Insufficient permissions: is_caiac_staff required');\n}\nreturn [{ json: { user_id: session.user_id, name: session.name, email: session.email } }];"
      }
    },
    {
      "id": "ah-check-postgres-01",
      "name": "Check Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [896, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT now()::text AS db_time, current_database() AS db_name",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "oJ321kQrsEmHydiQ",
          "name": "CAIAC Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "ah-check-qdrant-01",
      "name": "Check Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1120, 300],
      "parameters": {
        "url": "http://qdrant:6333/healthz",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "ah-check-ollama-01",
      "name": "Check Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1344, 300],
      "parameters": {
        "url": "http://172.18.0.2:11434/",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "ah-check-reranker-01",
      "name": "Check Reranker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1568, 300],
      "parameters": {
        "url": "http://reranker:8001/",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "ah-check-hmac-01",
      "name": "Check HMAC Verifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1792, 300],
      "parameters": {
        "url": "http://hmac-verifier:3000/health",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "ah-build-response-01",
      "name": "Build Health Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2016, 300],
      "parameters": {
        "jsCode": "function svc(name) {\n  try {\n    const r = $(name).first().json;\n    if (r && r.error) return { status: 'down', error: r.error };\n    return { status: 'up' };\n  } catch (e) {\n    return { status: 'down', error: e.message };\n  }\n}\n\nconst services = {\n  postgres: svc('Check Postgres'),\n  qdrant: svc('Check Qdrant'),\n  ollama: svc('Check Ollama'),\n  reranker: svc('Check Reranker'),\n  hmac_verifier: svc('Check HMAC Verifier')\n};\n\nconst allUp = Object.values(services).every(s => s.status === 'up');\n\nreturn [{ json: {\n  status: allUp ? 'healthy' : 'degraded',\n  checked_at: new Date().toISOString(),\n  services\n} }];"
      }
    },
    {
      "id": "ah-send-response-01",
      "name": "Send Health Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2240, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Receive Health Request": { "main": [[{ "node": "Prepare Auth Inputs", "type": "main", "index": 0 }]] },
    "Prepare Auth Inputs": { "main": [[{ "node": "Call Full Auth", "type": "main", "index": 0 }]] },
    "Call Full Auth": { "main": [[{ "node": "Check Token Valid", "type": "main", "index": 0 }]] },
    "Check Token Valid": { "main": [[{ "node": "Check Postgres", "type": "main", "index": 0 }]] },
    "Check Postgres": { "main": [[{ "node": "Check Qdrant", "type": "main", "index": 0 }]] },
    "Check Qdrant": { "main": [[{ "node": "Check Ollama", "type": "main", "index": 0 }]] },
    "Check Ollama": { "main": [[{ "node": "Check Reranker", "type": "main", "index": 0 }]] },
    "Check Reranker": { "main": [[{ "node": "Check HMAC Verifier", "type": "main", "index": 0 }]] },
    "Check HMAC Verifier": { "main": [[{ "node": "Build Health Response", "type": "main", "index": 0 }]] },
    "Build Health Response": { "main": [[{ "node": "Send Health Response", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": [{ "id": "kjcBfdhzRcIVJlOo", "name": "admin" }]
}