workflows/admin-test-rag-query-v1.0.0.json
{
  "name": "[Admin] Test RAG Query v1.0.0",
  "active": false,
  "nodes": [
    {
      "id": "sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -320],
      "parameters": {
        "content": "## [Admin] Test RAG Query v1.0.0\n\nRuns a similarity search against the client's Qdrant collection.\nUsed by the Documents section RAG Search Tester in the ops dashboard.\n\n**Auth:** CAIAC staff only\n**Path:** POST /caiac/admin/test-rag-query\n**Body:** { slug: string, query: string }\n**Response:** { query, results: [{ score, doc, text }] }\n\nEmbed model, Qdrant URL, and collection all come from client config.\nAdmin sees all chunks regardless of role filter."
      }
    },
    {
      "id": "webhook",
      "name": "Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "caiac/admin/test-rag-query",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "prep-auth",
      "name": "Prepare Auth Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "const req = $input.first().json;\nreturn [{ json: {\n  token: (req.headers.authorization || '').replace(/^Bearer\\s+/i, '').trim(),\n  timestamp: req.headers['x-caiac-timestamp'],\n  signature: req.headers['x-caiac-signature']\n}}];"
      }
    },
    {
      "id": "call-auth",
      "name": "Call Full Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [440, 0],
      "parameters": {
        "workflowId": { "__rl": true, "value": "XWbmBI9NYdwK80eg", "mode": "id" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "token": "={{ $json.token }}",
            "timestamp": "={{ $json.timestamp }}",
            "signature": "={{ $json.signature }}"
          },
          "schema": [
            { "id": "1", "displayName": "token", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "2", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "3", "displayName": "signature", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "check-auth",
      "name": "Is Staff?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.is_caiac_staff }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "respond-401",
      "name": "Respond 401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [880, 160],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Unauthorized' }) }}",
        "options": {},
        "responseCode": 401
      }
    },
    {
      "id": "parse-body",
      "name": "Parse Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -160],
      "parameters": {
        "jsCode": "const req = $('Receive Request').first().json;\nconst body = req.body || {};\nconst slug = (body.slug || '').trim();\nconst query = (body.query || '').trim();\nif (!slug || !query) return [{ json: { valid: false, error: 'Missing required fields: slug, query', slug, query } }];\nreturn [{ json: { valid: true, slug, query } }];"
      }
    },
    {
      "id": "input-valid",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, -160],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.valid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "respond-400",
      "name": "Respond 400 Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1320, -40],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
        "options": {},
        "responseCode": 400
      }
    },
    {
      "id": "fetch-config",
      "name": "Fetch Client Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1320, -320],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, config FROM caiac.clients WHERE slug = $1 AND active = true LIMIT 1",
        "options": { "queryReplacement": "={{ [$json.slug] }}" }
      },
      "credentials": { "postgres": { "name": "CAIAC Postgres" } }
    },
    {
      "id": "normalize-config",
      "name": "Normalize Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -320],
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0 || !items[0].json.id) {\n  return [{ json: { found: false, error: 'Client not found' } }];\n}\nconst row = items[0].json;\nconst config = typeof row.config === 'string' ? JSON.parse(row.config) : row.config;\nconst ai = config?.ai || {};\nif (!ai.qdrant_url || !ai.qdrant_collection) {\n  return [{ json: { found: false, error: 'Client has no RAG configuration' } }];\n}\nreturn [{ json: {\n  found: true,\n  client_id: row.id,\n  ollama_url: ai.ollama_url,\n  embed_model: ai.embed_model,\n  qdrant_url: ai.qdrant_url,\n  qdrant_collection: ai.qdrant_collection,\n  search_limit: ai.search_limit ?? 5\n} }];"
      }
    },
    {
      "id": "config-found",
      "name": "Config Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1760, -320],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.found }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "respond-404",
      "name": "Respond 404 Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1980, -200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
        "options": {},
        "responseCode": 404
      }
    },
    {
      "id": "embed-query",
      "name": "Embed Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1980, -440],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.ollama_url }}/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.embed_model, prompt: $('Parse Body').first().json.query }) }}",
        "options": {}
      }
    },
    {
      "id": "search-qdrant",
      "name": "Search Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2200, -440],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize Config').first().json.qdrant_url }}/collections/{{ $('Normalize Config').first().json.qdrant_collection }}/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vector: $json.embedding, limit: $('Normalize Config').first().json.search_limit + 5, with_payload: true }) }}",
        "options": {}
      }
    },
    {
      "id": "format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, -440],
      "parameters": {
        "jsCode": "const qdrant = $input.first().json;\nconst query = $('Parse Body').first().json.query;\nconst limit = $('Normalize Config').first().json.search_limit;\nconst results = (qdrant.result || []).slice(0, limit).map(r => ({\n  score: Math.round(r.score * 1000) / 1000,\n  doc: r.payload?.doc || r.payload?.source || r.payload?.filename || 'unknown',\n  text: (r.payload?.text || r.payload?.content || '').substring(0, 500)\n}));\nreturn [{ json: { query, results } }];"
      }
    },
    {
      "id": "respond-200",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2640, -440],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {},
        "responseCode": 200
      }
    }
  ],
  "connections": {
    "Receive Request": { "main": [[{ "node": "Prepare Auth Inputs", "type": "main", "index": 0 }]] },
    "Prepare Auth Inputs": { "main": [[{ "node": "Call Full Auth", "type": "main", "index": 0 }]] },
    "Call Full Auth": { "main": [[{ "node": "Is Staff?", "type": "main", "index": 0 }]] },
    "Is Staff?": { "main": [
      [{ "node": "Parse Body", "type": "main", "index": 0 }],
      [{ "node": "Respond 401 Unauthorized", "type": "main", "index": 0 }]
    ]},
    "Parse Body": { "main": [[{ "node": "Input Valid?", "type": "main", "index": 0 }]] },
    "Input Valid?": { "main": [
      [{ "node": "Fetch Client Config", "type": "main", "index": 0 }],
      [{ "node": "Respond 400 Bad Request", "type": "main", "index": 0 }]
    ]},
    "Fetch Client Config": { "main": [[{ "node": "Normalize Config", "type": "main", "index": 0 }]] },
    "Normalize Config": { "main": [[{ "node": "Config Found?", "type": "main", "index": 0 }]] },
    "Config Found?": { "main": [
      [{ "node": "Embed Query", "type": "main", "index": 0 }],
      [{ "node": "Respond 404 Not Found", "type": "main", "index": 0 }]
    ]},
    "Embed Query": { "main": [[{ "node": "Search Qdrant", "type": "main", "index": 0 }]] },
    "Search Qdrant": { "main": [[{ "node": "Format Results", "type": "main", "index": 0 }]] },
    "Format Results": { "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveDataSuccessExecution": "none" },
  "tags": [{ "name": "admin" }, { "name": "rag" }]
}
