workflows/auth-change-password-v1.0.0.json
{
  "id": "2SC6oaohdY53hj9d",
  "name": "CAIAC Auth - Change Password v1.0.0",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "content": "## CAIAC Auth - Change Password v1.0.0\n\n**Trigger:** POST /caiac/auth/change-password\n**Auth:** Bearer token + HMAC via [Utility] Validate Auth v1.0.0\n\n**Required headers:**\n- `Authorization: Bearer {token}`\n- `X-Webhook-Secret`\n- `X-CAIAC-Timestamp`\n- `X-CAIAC-Signature`\n\n**Flow:**\n1. Receive `{ current_password, new_password }`\n2. Validate auth via sub-workflow (401 on fail)\n3. Fetch current password_hash from DB\n4. bcrypt verify current password (401 if wrong)\n5. bcrypt hash new password\n6. UPDATE users SET password_hash, must_change_password=false\n7. 200 { success: true }\n\n**Depends on:** `/bcrypt/verify` and `/bcrypt/hash` on caiac_api.py (172.18.0.1:8000)",
        "height": 360,
        "width": 460,
        "color": 6
      },
      "id": "ad939f0f-13fe-433f-b17a-4cfdfbecdd6f",
      "name": "About This Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "caiac/auth/change-password",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "99670ebf-21b5-49fb-8844-ec5d5ce7ee5e",
      "name": "Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 448],
      "webhookId": "5857a04a-20e4-43b8-99c7-74231ae49b8b"
    },
    {
      "id": "prepare-auth-inputs-cp",
      "name": "Prepare Auth Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 448],
      "parameters": {
        "jsCode": "const req = $input.first().json;\nreturn [{ json: {\n  token: (req.headers.authorization || '').replace(/^Bearer\\s+/i, ''),\n  timestamp: req.headers['x-caiac-timestamp'],\n  signature: req.headers['x-caiac-signature']\n} }];"
      }
    },
    {
      "id": "call-full-auth-cp",
      "name": "Call Full Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [320, 448],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OpMVWSnQEx9C4S7d",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-auth",
              "leftValue": "={{ $('Call Full Auth').item.json.user_id }}",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "83c3c86a-c6a4-4f3a-b494-4f8968ea2754",
      "name": "Check Auth Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 448]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({error: 'Unauthorized'}) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "6068cdca-786c-430e-a997-89f3513ef4ee",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [864, 624]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id, u.password_hash\nFROM caiac.users u\nWHERE u.id = '{{ $('Call Full Auth').item.json.user_id }}'\nLIMIT 1",
        "options": {}
      },
      "id": "d66c53ba-dbde-4886-a576-ed9186a4d2ab",
      "name": "Look Up User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [864, 448],
      "credentials": {
        "postgres": {
          "id": "BvWEZQzIRXye00Gp",
          "name": "CAIAC Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:8000/bcrypt/verify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ password: $('Receive Request').item.json.body.current_password, hash: $('Look Up User').item.json.password_hash }) }}",
        "options": {}
      },
      "id": "216f7438-d2e9-4452-9e21-00c025ea7e1c",
      "name": "Verify Current Password",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1184, 448]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-pwd",
              "leftValue": "={{ $('Verify Current Password').item.json.valid }}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3658dc2b-90f4-426a-a060-115369b667c5",
      "name": "Check Current Password Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1504, 448]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({error: 'Current password is incorrect'}) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "53b420b4-399f-45f3-a1d5-e84cdc93d149",
      "name": "401 Wrong Password",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1712, 624]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:8000/bcrypt/hash",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ password: $('Receive Request').item.json.body.new_password }) }}",
        "options": {}
      },
      "id": "96f79240-b2ad-4179-9385-d3031411ac68",
      "name": "Hash New Password",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1712, 448]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE caiac.users\nSET password_hash = '{{ $('Hash New Password').item.json.hash }}',\n    must_change_password = false\nWHERE id = '{{ $('Call Full Auth').item.json.user_id }}'",
        "options": {}
      },
      "id": "a22c193c-ea1e-4e10-8b2f-7cec7daac83c",
      "name": "Update Password",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2032, 448],
      "credentials": {
        "postgres": {
          "id": "BvWEZQzIRXye00Gp",
          "name": "CAIAC Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({success: true}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "51822e1b-823c-443b-9e81-7a1b984384f0",
      "name": "Send Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2352, 448]
    }
  ],
  "connections": {
    "Receive Request": {
      "main": [[{ "node": "Prepare Auth Inputs", "type": "main", "index": 0 }]]
    },
    "Prepare Auth Inputs": {
      "main": [[{ "node": "Call Full Auth", "type": "main", "index": 0 }]]
    },
    "Call Full Auth": {
      "main": [[{ "node": "Check Auth Valid", "type": "main", "index": 0 }]]
    },
    "Check Auth Valid": {
      "main": [
        [{ "node": "401 Unauthorized", "type": "main", "index": 0 }],
        [{ "node": "Look Up User", "type": "main", "index": 0 }]
      ]
    },
    "Look Up User": {
      "main": [[{ "node": "Verify Current Password", "type": "main", "index": 0 }]]
    },
    "Verify Current Password": {
      "main": [[{ "node": "Check Current Password Valid", "type": "main", "index": 0 }]]
    },
    "Check Current Password Valid": {
      "main": [
        [{ "node": "401 Wrong Password", "type": "main", "index": 0 }],
        [{ "node": "Hash New Password", "type": "main", "index": 0 }]
      ]
    },
    "Hash New Password": {
      "main": [[{ "node": "Update Password", "type": "main", "index": 0 }]]
    },
    "Update Password": {
      "main": [[{ "node": "Send Success Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
