workflows/auth-signin-v1.3.1.json
{
  "updatedAt": "2026-06-15T02:54:25.941Z",
  "createdAt": "2026-06-15T02:53:11.855Z",
  "id": "z3l2KgK9f6vKtwD0",
  "name": "CAIAC Auth - Signin v1.3.1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, slug, config, active\nFROM caiac.clients\nWHERE slug = '{{ $('Receive Signin Request').item.json.body.slug }}'\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        -208
      ],
      "id": "2cfce382-f18f-43a9-a7a0-538aff1a96d1",
      "name": "Postgres (Look up client)",
      "credentials": {
        "postgres": {
          "id": "BvWEZQzIRXye00Gp",
          "name": "CAIAC Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, name, role, active,\n       (password_hash = crypt('{{ $('Receive Signin Request').item.json.body.password }}', password_hash)) as password_valid\nFROM caiac.users\nWHERE email = '{{ $('Receive Signin Request').item.json.body.email }}'\nAND client_id = '{{ $('Postgres (Look up client)').item.json.id }}'\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        -208
      ],
      "id": "e75dd296-4e04-427a-9685-2aecba49f7c7",
      "name": "Verify User",
      "credentials": {
        "postgres": {
          "id": "BvWEZQzIRXye00Gp",
          "name": "CAIAC Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const client = $('Postgres (Look up client)').first().json;\nconst user = $input.first().json;\n\nif (!client || !client.id) {\n  throw new Error('Invalid client');\n}\n\nif (!client.active) {\n  throw new Error('Client account is inactive');\n}\n\nif (!user || !user.id) {\n  throw new Error('User not found');\n}\n\nif (!user.active) {\n  throw new Error('User account is inactive');\n}\n\nif (!user.password_valid) {\n  throw new Error('Invalid credentials');\n}\n\nreturn [{\n  json: {\n    valid: true,\n    user_id: user.id,\n    email: user.email,\n    name: user.name,\n    role: user.role,\n    client_id: client.id,\n    slug: client.slug,\n    jwt_secret: client.jwt_secret,\n    config: client.config,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -208
      ],
      "id": "8c5ea95e-d2fd-4eea-bc1c-005ce75be1f7",
      "name": "Validate Credentials"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ token: $('Generate JWT').item.json.token, expires_at: $('Store Session').item.json.expires_at, user: { id: $('Validate Credentials').item.json.user_id, email: $('Validate Credentials').item.json.email, name: $('Validate Credentials').item.json.name, role: $('Validate Credentials').item.json.role, client_id: $('Validate Credentials').item.json.client_id }, config: $('Validate Credentials').item.json.config }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1408,
        -208
      ],
      "id": "4d63ab95-0e6b-4285-8c98-037e7454ca53",
      "name": "Send Auth Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT encode(\n  hmac(\n    concat(\n      '{{ $('Validate Credentials').item.json.user_id }}',\n      '.',\n      '{{ $('Validate Credentials').item.json.role }}',\n      '.',\n      extract(epoch from now())::bigint::text\n    ),\n    '{{ $('Validate Credentials').item.json.jwt_secret }}',\n    'sha256'\n  ),\n  'hex'\n) as token",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        -208
      ],
      "id": "1d80c43f-e1de-4127-b90e-805e9a528a79",
      "name": "Generate JWT",
      "credentials": {
        "postgres": {
          "id": "BvWEZQzIRXye00Gp",
          "name": "CAIAC Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO caiac.sessions (token, user_id, client_id, role, expires_at)\nVALUES (\n    '{{ $('Generate JWT').item.json.token }}',\n    '{{ $('Validate Credentials').item.json.user_id }}',\n    '{{ $('Validate Credentials').item.json.client_id }}',\n    '{{ $('Validate Credentials').item.json.role }}',\n    NOW() + INTERVAL '8 hours'\n)\nRETURNING id, token, expires_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        976,
        -208
      ],
      "id": "ba9af06b-ebc0-4cff-96ac-71cc0128a56b",
      "name": "Store Session",
      "credentials": {
        "postgres": {
          "id": "BvWEZQzIRXye00Gp",
          "name": "CAIAC Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT webhook_secret\nFROM caiac.clients\nWHERE slug = '{{ $json.body.slug }}'\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -592,
        -208
      ],
      "id": "0a116cd4-c2ec-48b2-9085-d40a0b8929f3",
      "name": "Get Webhook Secret",
      "credentials": {
        "postgres": {
          "id": "BvWEZQzIRXye00Gp",
          "name": "CAIAC Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hmac-verifier:3000/verify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ timestamp: $('Receive Signin Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Signin Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Signin Request').item.json.body.email, secret: $input.first().json.webhook_secret }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -368,
        -208
      ],
      "id": "c43473ed-3957-4da2-a3ea-4cdf67a84e45",
      "name": "Verify HMAC"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nreturn [{ json: { hmac_valid: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -208
      ],
      "id": "5420fd2c-6acf-4d5c-9ec2-990ec624ffc4",
      "name": "Check HMAC Valid"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO caiac.audit_log (client_id, user_id, action, detail, ip_address)\nVALUES (\n    '{{ $('Validate Credentials').item.json.client_id }}',\n    '{{ $('Validate Credentials').item.json.user_id }}',\n    'signin',\n    '{\"role\": \"{{ $('Validate Credentials').item.json.role }}\", \"email\": \"{{ $('Validate Credentials').item.json.email }}\"}',\n    '{{ $('Receive Signin Request').item.json.headers['x-forwarded-for'] ?? $('Receive Signin Request').item.json.headers['host'] }}'\n)\nRETURNING id, created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        -208
      ],
      "id": "eb802e14-b15c-4307-8a73-ad381753346b",
      "name": "Log Signin",
      "credentials": {
        "postgres": {
          "id": "BvWEZQzIRXye00Gp",
          "name": "CAIAC Postgres"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "caiac/auth/signin",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        -208
      ],
      "id": "be6ed53a-bb64-4e22-97cd-7812805afb63",
      "name": "Receive Signin Request",
      "webhookId": "e13555ef-31b3-4d28-a174-93879e7f8332"
    }
  ],
  "connections": {
    "Postgres (Look up client)": {
      "main": [
        [
          {
            "node": "Verify User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify User": {
      "main": [
        [
          {
            "node": "Validate Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Credentials": {
      "main": [
        [
          {
            "node": "Generate JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT": {
      "main": [
        [
          {
            "node": "Store Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Session": {
      "main": [
        [
          {
            "node": "Log Signin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Webhook Secret": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "Check HMAC Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check HMAC Valid": {
      "main": [
        [
          {
            "node": "Postgres (Look up client)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Signin": {
      "main": [
        [
          {
            "node": "Send Auth Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Signin Request": {
      "main": [
        [
          {
            "node": "Get Webhook Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "67e4b447-d3f6-4acd-bce6-7bdd04fbf4e1",
  "activeVersionId": "67e4b447-d3f6-4acd-bce6-7bdd04fbf4e1",
  "versionCounter": 11,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-15T02:53:11.855Z",
      "createdAt": "2026-06-15T02:53:11.855Z",
      "role": "workflow:owner",
      "workflowId": "z3l2KgK9f6vKtwD0",
      "projectId": "7p19zZVFLIad8lIe",
      "project": {
        "updatedAt": "2026-06-13T23:12:01.991Z",
        "createdAt": "2026-06-13T23:02:55.767Z",
        "id": "7p19zZVFLIad8lIe",
        "name": "Chad Wallace <admin@caiacdigital.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3f02e62c-3f05-47ad-94e2-27079c2dcd29"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-15T02:54:36.616Z",
    "createdAt": "2026-06-15T02:54:25.942Z",
    "versionId": "67e4b447-d3f6-4acd-bce6-7bdd04fbf4e1",
    "workflowId": "z3l2KgK9f6vKtwD0",
    "nodes": [
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id, slug, config, active\nFROM caiac.clients\nWHERE slug = '{{ $('Receive Signin Request').item.json.body.client_id }}'\nLIMIT 1",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          80,
          -208
        ],
        "id": "2cfce382-f18f-43a9-a7a0-538aff1a96d1",
        "name": "Postgres (Look up client)",
        "credentials": {
          "postgres": {
            "id": "BvWEZQzIRXye00Gp",
            "name": "CAIAC Postgres"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id, email, name, role, active,\n       (password_hash = crypt('{{ $('Receive Signin Request').item.json.body.password }}', password_hash)) as password_valid\nFROM caiac.users\nWHERE email = '{{ $('Receive Signin Request').item.json.body.email }}'\nAND client_id = '{{ $('Postgres (Look up client)').item.json.id }}'\nLIMIT 1",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          304,
          -208
        ],
        "id": "e75dd296-4e04-427a-9685-2aecba49f7c7",
        "name": "Verify User",
        "credentials": {
          "postgres": {
            "id": "BvWEZQzIRXye00Gp",
            "name": "CAIAC Postgres"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const client = $('Postgres (Look up client)').first().json;\nconst user = $input.first().json;\n\nif (!client || !client.id) {\n  throw new Error('Invalid client');\n}\n\nif (!client.active) {\n  throw new Error('Client account is inactive');\n}\n\nif (!user || !user.id) {\n  throw new Error('User not found');\n}\n\nif (!user.active) {\n  throw new Error('User account is inactive');\n}\n\nif (!user.password_valid) {\n  throw new Error('Invalid credentials');\n}\n\nreturn [{\n  json: {\n    valid: true,\n    user_id: user.id,\n    email: user.email,\n    name: user.name,\n    role: user.role,\n    client_id: client.id,\n    slug: client.slug,\n    jwt_secret: client.jwt_secret,\n    config: client.config,\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          528,
          -208
        ],
        "id": "8c5ea95e-d2fd-4eea-bc1c-005ce75be1f7",
        "name": "Validate Credentials"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ token: $('Generate JWT').item.json.token, expires_at: $('Store Session').item.json.expires_at, user: { id: $('Validate Credentials').item.json.user_id, email: $('Validate Credentials').item.json.email, name: $('Validate Credentials').item.json.name, role: $('Validate Credentials').item.json.role, client_id: $('Validate Credentials').item.json.client_id }, config: $('Validate Credentials').item.json.config }) }}",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1408,
          -208
        ],
        "id": "4d63ab95-0e6b-4285-8c98-037e7454ca53",
        "name": "Send Auth Response"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT encode(\n  hmac(\n    concat(\n      '{{ $('Validate Credentials').item.json.user_id }}',\n      '.',\n      '{{ $('Validate Credentials').item.json.role }}',\n      '.',\n      extract(epoch from now())::bigint::text\n    ),\n    '{{ $('Validate Credentials').item.json.jwt_secret }}',\n    'sha256'\n  ),\n  'hex'\n) as token",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          752,
          -208
        ],
        "id": "1d80c43f-e1de-4127-b90e-805e9a528a79",
        "name": "Generate JWT",
        "credentials": {
          "postgres": {
            "id": "BvWEZQzIRXye00Gp",
            "name": "CAIAC Postgres"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO caiac.sessions (token, user_id, client_id, role, expires_at)\nVALUES (\n    '{{ $('Generate JWT').item.json.token }}',\n    '{{ $('Validate Credentials').item.json.user_id }}',\n    '{{ $('Validate Credentials').item.json.client_id }}',\n    '{{ $('Validate Credentials').item.json.role }}',\n    NOW() + INTERVAL '8 hours'\n)\nRETURNING id, token, expires_at;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          976,
          -208
        ],
        "id": "ba9af06b-ebc0-4cff-96ac-71cc0128a56b",
        "name": "Store Session",
        "credentials": {
          "postgres": {
            "id": "BvWEZQzIRXye00Gp",
            "name": "CAIAC Postgres"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT webhook_secret\nFROM caiac.clients\nWHERE slug = '{{ $json.body.client_id }}'\nLIMIT 1",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -592,
          -208
        ],
        "id": "0a116cd4-c2ec-48b2-9085-d40a0b8929f3",
        "name": "Get Webhook Secret",
        "credentials": {
          "postgres": {
            "id": "BvWEZQzIRXye00Gp",
            "name": "CAIAC Postgres"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://hmac-verifier:3000/verify",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ timestamp: $('Receive Signin Request').item.json.headers['x-caiac-timestamp'], signature: $('Receive Signin Request').item.json.headers['x-caiac-signature'], signing_key: $('Receive Signin Request').item.json.body.email, secret: $input.first().json.webhook_secret }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -368,
          -208
        ],
        "id": "c43473ed-3957-4da2-a3ea-4cdf67a84e45",
        "name": "Verify HMAC"
      },
      {
        "parameters": {
          "jsCode": "const result = $input.first().json;\n\nif (!result || result.valid !== true) {\n  throw new Error('Invalid request signature');\n}\n\nreturn [{ json: { hmac_valid: true } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -144,
          -208
        ],
        "id": "5420fd2c-6acf-4d5c-9ec2-990ec624ffc4",
        "name": "Check HMAC Valid"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO caiac.audit_log (client_id, user_id, action, detail, ip_address)\nVALUES (\n    '{{ $('Validate Credentials').item.json.client_id }}',\n    '{{ $('Validate Credentials').item.json.user_id }}',\n    'signin',\n    '{\"role\": \"{{ $('Validate Credentials').item.json.role }}\", \"email\": \"{{ $('Validate Credentials').item.json.email }}\"}',\n    '{{ $('Receive Signin Request').item.json.headers['x-forwarded-for'] ?? $('Receive Signin Request').item.json.headers['host'] }}'\n)\nRETURNING id, created_at;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1184,
          -208
        ],
        "id": "eb802e14-b15c-4307-8a73-ad381753346b",
        "name": "Log Signin",
        "credentials": {
          "postgres": {
            "id": "BvWEZQzIRXye00Gp",
            "name": "CAIAC Postgres"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "caiac/auth/signin",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -816,
          -208
        ],
        "id": "be6ed53a-bb64-4e22-97cd-7812805afb63",
        "name": "Receive Signin Request",
        "webhookId": "e13555ef-31b3-4d28-a174-93879e7f8332"
      }
    ],
    "connections": {
      "Postgres (Look up client)": {
        "main": [
          [
            {
              "node": "Verify User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify User": {
        "main": [
          [
            {
              "node": "Validate Credentials",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Credentials": {
        "main": [
          [
            {
              "node": "Generate JWT",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate JWT": {
        "main": [
          [
            {
              "node": "Store Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Session": {
        "main": [
          [
            {
              "node": "Log Signin",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Webhook Secret": {
        "main": [
          [
            {
              "node": "Verify HMAC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify HMAC": {
        "main": [
          [
            {
              "node": "Check HMAC Valid",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check HMAC Valid": {
        "main": [
          [
            {
              "node": "Postgres (Look up client)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Signin": {
        "main": [
          [
            {
              "node": "Send Auth Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Receive Signin Request": {
        "main": [
          [
            {
              "node": "Get Webhook Secret",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Chad Wallace",
    "name": "v1.3.0",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-15T02:54:36.612Z",
        "id": 16,
        "workflowId": "z3l2KgK9f6vKtwD0",
        "versionId": "67e4b447-d3f6-4acd-bce6-7bdd04fbf4e1",
        "event": "activated",
        "userId": "3f02e62c-3f05-47ad-94e2-27079c2dcd29"
      }
    ]
  }
}