workflows/auth-refresh-v2.0.0.json
{
  "id": "ZCCKeovM47Z3UNNb",
  "name": "CAIAC Auth - Refresh v2.0.0",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "content": "## CAIAC Auth - Refresh v2.0.0\n\n**Replaces:** Refresh v1.0.0 (session rotation in Postgres)\n**Trigger:** POST /caiac/auth/refresh\n**Auth:** Full Auth v2.0.0 validates the current JWT before issuing a new one\n\n**Flow:**\n1. Validate current JWT via Full Auth v2.0.0 (HMAC + JWT verify)\n2. Fetch jwt_secret from caiac.clients (needed to re-sign)\n3. Generate new jti (per-token UUID — old token instance retired)\n4. Reissue JWT: same sid (session continues), fresh 1hr expiry\n5. Log refresh to audit_log\n\n**Returns:** `{ token, session_id, expires_at }`\n- session_id = sid (unchanged — chat history / agent context unaffected)\n- expires_at = ISO string, 1hr from now\n\n**Migration:** Deactivate Refresh v1.0.0 before activating this workflow (same webhook path).\n**Credential:** CAIAC Postgres",
        "height": 300,
        "width": 800
      },
      "id": "r2-sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -304]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "caiac/auth/refresh",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "r2-webhook",
      "name": "Receive Refresh Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 80],
      "webhookId": "c1fd01bc-49bb-4f87-89fd-00a5402149de"
    },
    {
      "parameters": {
        "jsCode": "const req = $input.first().json;\nreturn [{ json: {\n  client_id: req.body.client_id,\n  timestamp: req.headers['x-caiac-timestamp'],\n  signature: req.headers['x-caiac-signature'],\n  token: req.body.token\n} }];"
      },
      "id": "r2-prep",
      "name": "Prepare Auth Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 80]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XWbmBI9NYdwK80eg",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "schema": [],
          "matchingColumns": [],
          "options": {}
        },
        "options": {}
      },
      "id": "r2-callauth",
      "name": "Call Full Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [480, 80]
    },
    {
      "parameters": {
        "jsCode": "const session = $input.first().json;\nif (!session || !session.user_id) throw new Error('Invalid or expired token');\nreturn [{ json: session }];"
      },
      "id": "r2-check",
      "name": "Check Token Valid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 80]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT jwt_secret FROM caiac.clients WHERE id = $1 AND active = true LIMIT 1",
        "options": {
          "queryReplacement": "=[\"{{ $('Check Token Valid').item.json.client_id }}\"]"
        }
      },
      "id": "r2-secret",
      "name": "Fetch JWT Secret",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [960, 80],
      "credentials": {
        "postgres": {
          "id": "oJ321kQrsEmHydiQ",
          "name": "CAIAC Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\nreturn [{ json: { jti: uuid() } }];"
      },
      "id": "r2-newjti",
      "name": "Generate New JTI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:8000/jwt/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $('Check Token Valid').item.json.user_id, client_id: $('Check Token Valid').item.json.client_id, slug: $('Check Token Valid').item.json.slug, role: $('Check Token Valid').item.json.role, email: $('Check Token Valid').item.json.email, is_caiac_staff: $('Check Token Valid').item.json.is_caiac_staff, name: $('Check Token Valid').item.json.name, jti: $('Generate New JTI').item.json.jti, sid: $('Check Token Valid').item.json.session_id, jwt_secret: $('Fetch JWT Secret').item.json.jwt_secret }) }}",
        "options": {}
      },
      "id": "r2-reissue",
      "name": "Reissue JWT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1440, 80]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO caiac.audit_log (client_id, user_id, action, detail)\nVALUES (\n  '{{ $('Check Token Valid').item.json.client_id }}',\n  '{{ $('Check Token Valid').item.json.user_id }}',\n  'refresh',\n  '{\"role\": \"{{ $('Check Token Valid').item.json.role }}\", \"email\": \"{{ $('Check Token Valid').item.json.email }}\"}'\n)\nRETURNING id",
        "options": {}
      },
      "id": "r2-log",
      "name": "Log Refresh",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1680, 80],
      "credentials": {
        "postgres": {
          "id": "oJ321kQrsEmHydiQ",
          "name": "CAIAC Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  token: $('Reissue JWT').item.json.token,\n  session_id: $('Check Token Valid').item.json.session_id,\n  expires_at: new Date(Date.now() + 3600 * 1000).toISOString()\n} }];"
      },
      "id": "r2-build",
      "name": "Build Refresh Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Build Refresh Response').item.json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "r2-respond",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2160, 80]
    }
  ],
  "connections": {
    "Receive Refresh Request": {
      "main": [[{"node": "Prepare Auth Inputs", "type": "main", "index": 0}]]
    },
    "Prepare Auth Inputs": {
      "main": [[{"node": "Call Full Auth", "type": "main", "index": 0}]]
    },
    "Call Full Auth": {
      "main": [[{"node": "Check Token Valid", "type": "main", "index": 0}]]
    },
    "Check Token Valid": {
      "main": [[{"node": "Fetch JWT Secret", "type": "main", "index": 0}]]
    },
    "Fetch JWT Secret": {
      "main": [[{"node": "Generate New JTI", "type": "main", "index": 0}]]
    },
    "Generate New JTI": {
      "main": [[{"node": "Reissue JWT", "type": "main", "index": 0}]]
    },
    "Reissue JWT": {
      "main": [[{"node": "Log Refresh", "type": "main", "index": 0}]]
    },
    "Log Refresh": {
      "main": [[{"node": "Build Refresh Response", "type": "main", "index": 0}]]
    },
    "Build Refresh Response": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": [{"id": "W7WI4EZHeXfA5ji4", "name": "auth"}],
  "meta": null,
  "updatedAt": "2026-06-19T00:05:04.450Z",
  "versionId": "65e8ca13-3b01-48a5-ac91-a1de4f33b519"
}
