workflows/client-public-config-v1.0.0.json
{
  "id": "eKe1UmMNCOsLp4vz",
  "name": "[Client] Public Config v1.0.0",
  "active": true,
  "createdAt": "2026-06-17T04:35:15.390Z",
  "updatedAt": "2026-07-01T00:00:00.000Z",
  "versionCounter": 8,
  "nodes": [
    {
      "parameters": {
        "content": "## [Client] Public Config v1.0.0\n\nUnauthenticated public endpoint returning safe branding/config for a client by slug.\n\n**Trigger:** GET /caiac/public/client-config?slug={slug}\n\n**Security:** Intentionally public — no auth required. Never returns: webhook_secret, jwt_secret, ai.system_prompt, ai.ollama_url, ai.qdrant_url, permissions.\n\n**Usage:** Powers pre-login page render of client dashboard before any auth token exists.",
        "height": 230,
        "width": 400
      },
      "id": "df213492-cf65-4e7d-a082-2070058a7668",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "path": "caiac/public/client-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "281f9c1c-3b04-4318-962a-f052fbac3bc6",
      "name": "Receive Config Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [480, 240],
      "webhookId": "321ba715-0d4c-4292-9711-a105a834be62"
    },
    {
      "parameters": {
        "jsCode": "const slug = $input.first().json.query.slug;\nif (!slug || slug.trim() === '') {\n  return [{ json: { _valid: false, error: 'Missing or empty slug parameter' } }];\n}\nconst clean = slug.trim().toLowerCase();\nif (!/^[a-z0-9-]+$/.test(clean)) {\n  return [{ json: { _valid: false, error: 'Invalid slug format' } }];\n}\nreturn [{ json: { _valid: true, slug: clean } }];"
      },
      "id": "9e7f8383-d30e-4db8-80a7-56a2b6c6fcf6",
      "name": "Validate Slug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [688, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-slug-valid",
              "leftValue": "={{ $json._valid }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "20783b46-1eb6-4cee-aed1-fbec51df85d9",
      "name": "Slug Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [912, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: $json.error || 'Missing or empty slug parameter' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "5df534cd-c2cc-4beb-a258-648842217191",
      "name": "Missing Slug Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1136, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  EXISTS(SELECT 1 FROM caiac.clients WHERE slug = '{{ $json.slug }}' AND active = true) AS found,\n  (SELECT config FROM caiac.clients WHERE slug = '{{ $json.slug }}' AND active = true LIMIT 1) AS config,\n  (SELECT name FROM caiac.clients WHERE slug = '{{ $json.slug }}' AND active = true LIMIT 1) AS name,\n  (SELECT slug FROM caiac.clients WHERE slug = '{{ $json.slug }}' AND active = true LIMIT 1) AS slug,\n  (SELECT json_object_agg(cf.feature, cf.enabled) FROM caiac.client_features cf JOIN caiac.clients cl ON cf.client_id = cl.id WHERE cl.slug = '{{ $json.slug }}' AND cl.active = true) AS features,\n  (SELECT COUNT(*)::int FROM caiac.automation_runs ar JOIN caiac.leads l ON ar.lead_id = l.id WHERE l.client_id = (SELECT id FROM caiac.clients WHERE slug = '{{ $json.slug }}' AND active = true LIMIT 1) AND ar.created_at > NOW() - INTERVAL '24 hours') AS automations_last_24h,\n  (SELECT COUNT(*)::int FROM caiac.documents WHERE client_id = (SELECT id FROM caiac.clients WHERE slug = '{{ $json.slug }}' AND active = true LIMIT 1) AND deleted_at IS NULL) AS documents_indexed,\n  (SELECT COUNT(*)::int FROM caiac.users WHERE client_id = (SELECT id FROM caiac.clients WHERE slug = '{{ $json.slug }}' AND active = true LIMIT 1) AND active = true AND is_caiac_staff = false) AS active_users,\n  (SELECT COUNT(*)::int FROM caiac.audit_log WHERE client_id = (SELECT id FROM caiac.clients WHERE slug = '{{ $json.slug }}' AND active = true LIMIT 1) AND action = 'chat' AND created_at > NOW() - INTERVAL '7 days') AS ai_conversations_week,\n  (SELECT json_object_agg(key, prompt) FROM caiac.quick_action_templates WHERE active = true) AS action_templates",
        "options": {}
      },
      "id": "f462be39-9cc8-48b7-b65c-ad686c4fc3e7",
      "name": "Postgres Lookup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1136, 128],
      "credentials": {
        "postgres": {
          "id": "oJ321kQrsEmHydiQ",
          "name": "CAIAC Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-client-found",
              "leftValue": "={{ $json.found }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b7589ada-68d3-4f32-b429-c445d255ffa2",
      "name": "Check Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1360, 128]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Client not found' } }}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "ba7329b2-006f-416e-ac4d-58f9a997efdb",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1568, 288]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst config = typeof row.config === 'string' ? JSON.parse(row.config) : (row.config ?? {});\nconst staticStats = config.stats ?? {};\nconst templates = typeof row.action_templates === 'string' ? JSON.parse(row.action_templates) : (row.action_templates ?? {});\nconst quickActions = (config.quick_actions ?? []).map(action => ({\n  key: action.key,\n  label: action.label,\n  prompt: action.prompt_override ?? templates[action.key] ?? action.prompt ?? ''\n}));\nreturn [{\n  json: {\n    slug: row.slug,\n    name: row.name,\n    branding: config.branding ?? {},\n    features: (typeof row.features === 'string' ? JSON.parse(row.features) : row.features) ?? {},\n    quick_actions: quickActions,\n    workflows: config.workflows ?? [],\n    stats: {\n      ai_conversations_week: row.ai_conversations_week ?? staticStats.ai_conversations_week ?? 0,\n      automations_last_24h: row.automations_last_24h ?? 0,\n      documents_indexed: row.documents_indexed ?? 0,\n      active_users: row.active_users ?? 0,\n      seat_limit: staticStats.seat_limit ?? 5,\n      hours_saved_yesterday: staticStats.hours_saved_yesterday ?? 0,\n    }\n  }\n}];"
      },
      "id": "5c588b8b-a4ed-4052-be4a-d3b54a450cf2",
      "name": "Build Public Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1568, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { slug: $json.slug, name: $json.name, branding: $json.branding, features: $json.features, quick_actions: $json.quick_actions, workflows: $json.workflows, stats: $json.stats } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "7329c56f-04e4-4b35-b5a1-6d77afe8f5e0",
      "name": "Send Public Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1792, 0]
    }
  ],
  "connections": {
    "Receive Config Request": {
      "main": [[{ "node": "Validate Slug", "type": "main", "index": 0 }]]
    },
    "Validate Slug": {
      "main": [[{ "node": "Slug Valid?", "type": "main", "index": 0 }]]
    },
    "Slug Valid?": {
      "main": [
        [{ "node": "Postgres Lookup", "type": "main", "index": 0 }],
        [{ "node": "Missing Slug Response", "type": "main", "index": 0 }]
      ]
    },
    "Postgres Lookup": {
      "main": [[{ "node": "Check Found", "type": "main", "index": 0 }]]
    },
    "Check Found": {
      "main": [
        [{ "node": "Build Public Config", "type": "main", "index": 0 }],
        [{ "node": "Error Response", "type": "main", "index": 0 }]
      ]
    },
    "Build Public Config": {
      "main": [[{ "node": "Send Public Config", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "saveDataSuccessExecution": "none"
  },
  "tags": [{ "id": "Rufm0ivjJKjZYDBW", "name": "client" }]
}
