workflows/get-client-errors-v1.0.0.json
{
  "name": "[Admin] Get Client Errors v1.0.0",
  "active": true,
  "nodes": [
    {
      "id": "sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -220],
      "parameters": {
        "content": "## [Admin] Get Client Errors v1.0.0\n\nReturns recent workflow errors for a specific client.\n\n**Auth:** CAIAC staff only\n**Path:** GET /admin/client-errors?slug=X&limit=10\n**Response:** { slug, errors: [{ id, workflow_name, node_name, error_message, created_at }] }"
      }
    },
    {
      "id": "webhook",
      "name": "Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "GET",
        "path": "admin/client-errors",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "prep-auth",
      "name": "Prepare Auth Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "const req = $input.first().json;\nreturn [{ json: {\n  token: (req.headers.authorization || '').replace(/^Bearer\\s+/i, '') || req.query?.token,\n  timestamp: req.headers['x-caiac-timestamp'],\n  signature: req.headers['x-caiac-signature']\n}}];"
      }
    },
    {
      "id": "call-auth",
      "name": "Call Full Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [440, 0],
      "parameters": {
        "workflowId": { "__rl": true, "value": "XWbmBI9NYdwK80eg", "mode": "id" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "token": "={{ $json.token }}",
            "timestamp": "={{ $json.timestamp }}",
            "signature": "={{ $json.signature }}"
          },
          "schema": [
            { "id": "1", "displayName": "token", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "2", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "3", "displayName": "signature", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "check-auth",
      "name": "Check Staff Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "parameters": {
        "jsCode": "const auth = $input.first().json;\nif (!auth.is_caiac_staff) throw new Error('Forbidden: CAIAC staff access required');\nconst req = $('Receive Request').first().json;\nconst slug = req.query?.slug;\nif (!slug) throw new Error('Missing required query param: slug');\nconst limit = Math.min(parseInt(req.query?.limit || '10', 10), 100);\nreturn [{ json: { slug, limit } }];"
      }
    },
    {
      "id": "query",
      "name": "Query Client Errors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [880, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, workflow_name, node_name, error_message, created_at\nFROM caiac.error_log\nWHERE client_slug = $1\nORDER BY created_at DESC\nLIMIT $2;",
        "options": { "queryReplacement": "={{ [$json.slug, $json.limit] }}" }
      },
      "credentials": { "postgres": { "name": "CAIAC Postgres" } }
    },
    {
      "id": "build-resp",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "parameters": {
        "jsCode": "const slug = $('Check Staff Auth').first().json.slug;\nconst errors = $input.all().map(i => i.json);\nreturn [{ json: { slug, errors } }];"
      }
    },
    {
      "id": "respond-200",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1320, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [-200, 0],
      "parameters": {}
    },
    {
      "id": "respond-500",
      "name": "Respond 500 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-200, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.execution?.error?.message ?? 'Unexpected error' }) }}",
        "options": { "responseCode": 500 }
      }
    }
  ],
  "connections": {
    "Receive Request": { "main": [[{ "node": "Prepare Auth Inputs", "type": "main", "index": 0 }]] },
    "Prepare Auth Inputs": { "main": [[{ "node": "Call Full Auth", "type": "main", "index": 0 }]] },
    "Call Full Auth": { "main": [[{ "node": "Check Staff Auth", "type": "main", "index": 0 }]] },
    "Check Staff Auth": { "main": [[{ "node": "Query Client Errors", "type": "main", "index": 0 }]] },
    "Query Client Errors": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Respond 500 Error", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "meta": {
    "prodId": "uMqiM9as9lUz4Yx3",
    "stagingId": "hsRbHjUFvQAUVXau",
    "deployedAt": "2026-06-28"
  }
}
