workflows/get-update-client-platform-config-v1.0.0.json
{
  "id": "7bECMgCmgR5JY2X3",
  "name": "[Admin] Get/Update Client Platform Config v1.0.0",
  "active": true,
  "nodes": [
    {
      "id": "sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -260],
      "parameters": {
        "content": "## [Admin] Get/Update Client Platform Config v1.0.0\n\nGET: returns client_platform_config row.\nPOST: updates writable fields. link_signing_secret is read-only.\n\n**Auth:** CAIAC staff only\n**GET:** /admin/client-platform-config?slug=X\n**POST:** /admin/client-platform-config { slug, google_review_link?, facebook_review_link?, review_notify_email? }"
      }
    },
    {
      "id": "webhook-get",
      "name": "Receive GET Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "GET",
        "path": "admin/client-platform-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "2090baee-efea-4a6f-87bb-be486376f681"
    },
    {
      "id": "prep-auth-get",
      "name": "Prepare Auth (GET)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "const req = $input.first().json;\nreturn [{ json: {\n  token: (req.headers.authorization || '').replace(/^Bearer\\s+/i, '') || req.query?.token,\n  timestamp: req.headers['x-caiac-timestamp'],\n  signature: req.headers['x-caiac-signature']\n}}];"
      }
    },
    {
      "id": "call-auth-get",
      "name": "Call Full Auth (GET)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [440, 0],
      "parameters": {
        "workflowId": { "__rl": true, "value": "XWbmBI9NYdwK80eg", "mode": "id" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": { "token": "={{ $json.token }}", "timestamp": "={{ $json.timestamp }}", "signature": "={{ $json.signature }}" },
          "schema": [
            { "id": "1", "displayName": "token", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "2", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "3", "displayName": "signature", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "check-auth-get",
      "name": "Check Staff Auth (GET)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "parameters": {
        "jsCode": "const auth = $input.first().json;\nif (!auth.is_caiac_staff) throw new Error('Forbidden: CAIAC staff access required');\nconst req = $('Receive GET Request').first().json;\nconst slug = req.query?.slug;\nif (!slug) throw new Error('Missing required query param: slug');\nreturn [{ json: { slug } }];"
      }
    },
    {
      "id": "query-cpc",
      "name": "Query Platform Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [880, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT client_slug, client_id::text, source_type, lead_sheet_id, lead_sheet_tab,\n       google_review_link, facebook_review_link, review_notify_email,\n       link_signing_secret, active\nFROM caiac.client_platform_config\nWHERE client_slug = $1\nLIMIT 1;",
        "options": { "queryReplacement": "={{ [$json.slug] }}" }
      },
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "id": "build-get-resp",
      "name": "Build GET Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "parameters": {
        "jsCode": "const row = $input.first().json;\nif (!row.client_slug) throw new Error('Platform config not found for slug: ' + $('Check Staff Auth (GET)').first().json.slug);\nreturn [{ json: row }];"
      }
    },
    {
      "id": "respond-200-get",
      "name": "Respond 200 GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1320, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "webhook-post",
      "name": "Receive POST Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/client-platform-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "dbad3a29-69d5-4e07-8abb-fcf03ec8459a"
    },
    {
      "id": "prep-auth-post",
      "name": "Prepare Auth (POST)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "parameters": {
        "jsCode": "const req = $input.first().json;\nreturn [{ json: {\n  token: (req.headers.authorization || '').replace(/^Bearer\\s+/i, '') || req.body?.token,\n  timestamp: req.headers['x-caiac-timestamp'],\n  signature: req.headers['x-caiac-signature']\n}}];"
      }
    },
    {
      "id": "call-auth-post",
      "name": "Call Full Auth (POST)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [440, 300],
      "parameters": {
        "workflowId": { "__rl": true, "value": "XWbmBI9NYdwK80eg", "mode": "id" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": { "token": "={{ $json.token }}", "timestamp": "={{ $json.timestamp }}", "signature": "={{ $json.signature }}" },
          "schema": [
            { "id": "1", "displayName": "token", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "2", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "3", "displayName": "signature", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "check-auth-post",
      "name": "Check Staff Auth (POST)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "jsCode": "const auth = $input.first().json;\nif (!auth.is_caiac_staff) throw new Error('Forbidden: CAIAC staff access required');\nconst body = $('Receive POST Request').first().json.body;\nif (!body?.slug) throw new Error('Missing required field: slug');\nreturn [{ json: {\n  slug: body.slug,\n  google_review_link: body.google_review_link ?? null,\n  facebook_review_link: body.facebook_review_link ?? null,\n  review_notify_email: body.review_notify_email ?? null\n}}];"
      }
    },
    {
      "id": "update-cpc",
      "name": "Update Platform Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [880, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE caiac.client_platform_config\nSET\n  google_review_link = CASE WHEN $2::text IS NOT NULL THEN $2 ELSE google_review_link END,\n  facebook_review_link = CASE WHEN $3::text IS NOT NULL THEN $3 ELSE facebook_review_link END,\n  review_notify_email = CASE WHEN $4::text IS NOT NULL THEN $4 ELSE review_notify_email END,\n  updated_at = NOW()\nWHERE client_slug = $1\nRETURNING client_slug;",
        "options": { "queryReplacement": "={{ [$json.slug, $json.google_review_link, $json.facebook_review_link, $json.review_notify_email] }}" }
      },
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "id": "respond-200-post",
      "name": "Respond 200 POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1100, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, slug: $json.client_slug }) }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [-200, 150],
      "parameters": {}
    },
    {
      "id": "respond-500",
      "name": "Respond 500 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-200, 350],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.execution?.error?.message ?? 'Unexpected error' }) }}",
        "options": { "responseCode": 500 }
      }
    }
  ],
  "connections": {
    "Receive GET Request": { "main": [[{ "node": "Prepare Auth (GET)", "type": "main", "index": 0 }]] },
    "Prepare Auth (GET)": { "main": [[{ "node": "Call Full Auth (GET)", "type": "main", "index": 0 }]] },
    "Call Full Auth (GET)": { "main": [[{ "node": "Check Staff Auth (GET)", "type": "main", "index": 0 }]] },
    "Check Staff Auth (GET)": { "main": [[{ "node": "Query Platform Config", "type": "main", "index": 0 }]] },
    "Query Platform Config": { "main": [[{ "node": "Build GET Response", "type": "main", "index": 0 }]] },
    "Build GET Response": { "main": [[{ "node": "Respond 200 GET", "type": "main", "index": 0 }]] },
    "Receive POST Request": { "main": [[{ "node": "Prepare Auth (POST)", "type": "main", "index": 0 }]] },
    "Prepare Auth (POST)": { "main": [[{ "node": "Call Full Auth (POST)", "type": "main", "index": 0 }]] },
    "Call Full Auth (POST)": { "main": [[{ "node": "Check Staff Auth (POST)", "type": "main", "index": 0 }]] },
    "Check Staff Auth (POST)": { "main": [[{ "node": "Update Platform Config", "type": "main", "index": 0 }]] },
    "Update Platform Config": { "main": [[{ "node": "Respond 200 POST", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Respond 500 Error", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none"
  },
  "tags": [],
  "updatedAt": "2026-06-29T12:45:01.811Z",
  "versionCounter": 1
}
