workflows/intake-lead-capture-v2.0.0.json
{
  "id": "FXGmlYKi5Wy1QKX6",
  "name": "[Intake] CAIAC Lead Capture v2.0.0",
  "updatedAt": "2026-06-21T18:49:26.847Z",
  "active": true,
  "nodes": [
    { "id": "note", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-208, -320], "parameters": { "content": "## [Intake] CAIAC Lead Capture v2.0.0\n\nMulti-tenant inbound lead capture from Tally forms.\n\n**Trigger:** POST /intake/lead (webhook)\n**Auth:** slug + key parsed from Tally hidden fields or query params\n**Dedup:** intake_fingerprint = deterministic hash of email\n**DB gate:** caiac.leads INSERT with ON CONFLICT DO UPDATE\n**AI scoring:** delegated to [Utility] Score Lead v1.0.0\n**Email:** delegated to [Utility] Send Email v1.0.0\n\nClient config (field_map, from_name, from_email, business_description) drives all per-client behaviour.", "height": 320, "width": 520, "color": 5 } },
    { "id": "webhook", "name": "Receive Lead Form", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [400, 208], "webhookId": "45d5a4da-4d4d-45b1-a735-155ebc226d0c", "parameters": { "httpMethod": "POST", "path": "intake/lead", "options": {}, "responseMode": "responseNode" } },
    { "id": "validate", "name": "Validate Payload", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [640, 208], "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "id": "c1", "leftValue": "={{ Array.isArray($json.body?.data?.fields) }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }], "combinator": "and" }, "options": {} } },
    { "id": "respond400", "name": "Respond 400 Invalid", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [640, 400], "parameters": { "respondWith": "json", "responseBody": "={ \"error\": \"Invalid payload — expected Tally body with data.fields array\" }", "options": { "responseCode": 400 } } },
    { "id": "parse-tally", "name": "Parse Tally Payload", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [760, 208], "parameters": { "jsCode": "const body = $json.body;\nconst fields = body?.data?.fields || [];\nconst query = $json.query || {};\n\nfunction getHiddenField(name) {\n  const f = fields.find(f =>\n    f.type === 'HIDDEN_FIELDS' &&\n    typeof f.label === 'string' &&\n    f.label.toLowerCase().includes('field name: ' + name.toLowerCase())\n  );\n  if (!f) return null;\n  if (f.value !== null && f.value !== undefined && f.value !== '') return String(f.value);\n  const match = f.label.match(/Default value:\\s*(\\S+)/);\n  return match ? match[1] : null;\n}\n\nconst slug = query.slug || getHiddenField('slug') || 'caiac';\nconst key  = query.key  || getHiddenField('key')  || '';\n\nreturn [{ json: { slug, key } }];" } },
    { "id": "getconfig", "name": "Get Client Config", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [880, 208], "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }, "parameters": { "operation": "executeQuery", "query": "SELECT\n  id              AS client_id,\n  slug            AS client_slug,\n  webhook_secret,\n  config->'lead_capture'->>'notify_email'          AS notify_email,\n  config->'lead_capture'->>'sheet_id'              AS sheet_id,\n  config->'lead_capture'->>'field_map'             AS field_map,\n  config->'lead_capture'->>'business_description'  AS business_description,\n  COALESCE(config->'lead_capture'->>'from_name',  'CAIAC Digital')        AS from_name,\n  COALESCE(config->'lead_capture'->>'from_email', 'caiacgroup@gmail.com') AS from_email\nFROM caiac.clients\nWHERE slug = '{{ $('Parse Tally Payload').first().json.slug }}'\n  AND active = true\nLIMIT 1", "options": {} } },
    { "id": "checksecret", "name": "Check Webhook Secret", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1120, 400], "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "id": "c1", "leftValue": "={{ $('Parse Tally Payload').first().json.key }}", "rightValue": "={{ $('Get Client Config').first().json.webhook_secret }}", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "options": {} } },
    { "id": "respond401", "name": "Respond 401 Unauthorized", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1360, 528], "parameters": { "respondWith": "json", "responseBody": "={ \"error\": \"Unauthorized\" }", "options": { "responseCode": 401 } } },
    { "id": "check-intake-feature", "name": "Check Intake Feature", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1360, 208], "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }, "parameters": { "operation": "executeQuery", "query": "SELECT COALESCE((SELECT enabled FROM caiac.client_features WHERE client_id = '{{ $('Get Client Config').first().json.client_id }}'::uuid AND feature = 'intake'), false) AS enabled", "options": {} } },
    { "id": "intake-feature-enabled", "name": "Intake Feature Enabled?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1600, 208], "parameters": { "conditions": { "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "loose" }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.enabled }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" }, "id": "condition-intake" }] }, "options": {} } },
    { "id": "respond-403-intake", "name": "Respond 403 Intake Disabled", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1840, 528], "parameters": { "respondWith": "json", "responseCode": 403, "responseBody": "{\"error\": \"This feature is not enabled for your account.\"}", "options": {} } },
    { "id": "extract", "name": "Extract and Fingerprint Lead", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 208], "parameters": { "jsCode": "const fields = $('Receive Lead Form').first().json.body.data.fields;\nconst config  = $('Get Client Config').first().json;\nconst rawMap  = config.field_map;\nconst fieldMap = typeof rawMap === 'string' ? JSON.parse(rawMap) : (rawMap || {});\n\nfunction getField(label) {\n  const f = fields.find(f => f.label === label);\n  if (!f) return '';\n  if (['MULTIPLE_CHOICE', 'DROPDOWN'].includes(f.type) && f.options) {\n    const vals = Array.isArray(f.value) ? f.value : [f.value];\n    return f.options.filter(o => vals.includes(o.id)).map(o => o.text).join(', ');\n  }\n  if (Array.isArray(f.value)) return f.value.join(', ');\n  return f.value ?? '';\n}\n\nconst mapped = {};\nfor (const [label, key] of Object.entries(fieldMap)) { mapped[key] = getField(label); }\n\nconst email = (mapped.email || '').toLowerCase().trim();\nlet state = email.split('').reduce((acc, ch) => (Math.imul(acc, 31) + ch.charCodeAt(0)) | 0, 0x811c9dc5);\nlet hex = '';\nwhile (hex.length < 32) {\n  state = (Math.imul(state, 1664525) + 1013904223) | 0;\n  hex += (state >>> 0).toString(16).padStart(8, '0');\n}\nconst fingerprint = hex.slice(0, 32);\n\nreturn [{ json: {\n  client_id:     config.client_id,\n  client_slug:   config.client_slug,\n  notify_email:  config.notify_email,\n  sheet_id:      config.sheet_id,\n  from_name:     config.from_name,\n  from_email:    config.from_email,\n  name:          mapped.name          || '',\n  email,\n  phone:         mapped.phone         || '',\n  service:       mapped.service       || '',\n  business_type: mapped.business_type || '',\n  business_name: mapped.business_name || '',\n  challenge:     mapped.challenge     || '',\n  how_heard:     mapped.how_heard     || '',\n  submitted_at:  $('Receive Lead Form').first().json.body.createdAt,\n  fingerprint,\n} }];" } },
    { "id": "checkexisting", "name": "Check Existing Lead", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [1360, 208], "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }, "parameters": { "operation": "executeQuery", "query": "SELECT\n  (SELECT id FROM caiac.leads WHERE client_id = '{{ $('Extract and Fingerprint Lead').first().json.client_id }}'::uuid AND intake_fingerprint = '{{ $('Extract and Fingerprint Lead').first().json.fingerprint }}' LIMIT 1) AS lead_id,\n  (SELECT qualification_score FROM caiac.leads WHERE client_id = '{{ $('Extract and Fingerprint Lead').first().json.client_id }}'::uuid AND intake_fingerprint = '{{ $('Extract and Fingerprint Lead').first().json.fingerprint }}' LIMIT 1) AS qualification_score,\n  (SELECT qualification_score_reason FROM caiac.leads WHERE client_id = '{{ $('Extract and Fingerprint Lead').first().json.client_id }}'::uuid AND intake_fingerprint = '{{ $('Extract and Fingerprint Lead').first().json.fingerprint }}' LIMIT 1) AS qualification_score_reason", "options": {} } },
    { "id": "isexisting", "name": "Is Existing Lead", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1600, 208], "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "id": "c1", "leftValue": "={{ $json.lead_id !== null && $json.lead_id !== undefined }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }], "combinator": "and" }, "options": {} } },
    { "id": "upsertexisting", "name": "Upsert Existing Lead to Sheet", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [1840, 80], "credentials": { "googleSheetsOAuth2Api": { "id": "aZpl46gLl1Uha2wW", "name": "Caiac Group Sheets" } }, "parameters": { "operation": "appendOrUpdate", "documentId": { "__rl": true, "value": "={{ $('Extract and Fingerprint Lead').first().json.sheet_id }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Lead Information", "mode": "name" }, "columns": { "mappingMode": "defineBelow", "value": { "Lead Name": "={{ $('Extract and Fingerprint Lead').first().json.name }}", "Lead Email": "={{ $('Extract and Fingerprint Lead').first().json.email }}", "Lead Phone": "={{ $('Extract and Fingerprint Lead').first().json.phone }}", "Service": "={{ $('Extract and Fingerprint Lead').first().json.service }}", "Business Name": "={{ $('Extract and Fingerprint Lead').first().json.business_name }}", "Business Type": "={{ $('Extract and Fingerprint Lead').first().json.business_type }}", "Challenge": "={{ $('Extract and Fingerprint Lead').first().json.challenge }}", "Source": "={{ $('Extract and Fingerprint Lead').first().json.how_heard }}", "Score": "={{ $('Check Existing Lead').first().json.qualification_score }}", "Score Reason": "={{ $('Check Existing Lead').first().json.qualification_score_reason }}", "Submitted At": "={{ $('Extract and Fingerprint Lead').first().json.submitted_at }}", "Lead ID": "={{ $('Check Existing Lead').first().json.lead_id }}" }, "matchingColumns": ["Lead Email"], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": false }, "options": {} } },
    { "id": "respond200existing", "name": "Respond 200 Existing", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [2080, 80], "parameters": { "respondWith": "json", "responseBody": "={ \"status\": \"existing\", \"lead_id\": \"{{ $('Check Existing Lead').first().json.lead_id }}\" }", "options": { "responseCode": 200 } } },
    { "id": "prep-score-input", "name": "Prepare Score Lead Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1720, 320], "parameters": { "jsCode": "const config = $('Get Client Config').first().json;\nconst lead   = $('Extract and Fingerprint Lead').first().json;\nreturn [{ json: {\n  client_id:            config.client_id,\n  from_name:            config.from_name,\n  business_description: config.business_description || '',\n  name:                 lead.name,\n  service:              lead.service,\n  property_type:        lead.business_type,\n  message:              lead.challenge,\n  how_heard:            lead.how_heard,\n}}];" } },
    { "id": "scorelead", "name": "Score Lead", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [1840, 320], "parameters": { "workflowId": { "__rl": true, "value": "6lzuSE2b7txCLWm2", "mode": "id" }, "options": { "waitForSubWorkflow": true } } },
    { "id": "insertlead", "name": "Insert Lead to DB", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [2080, 320], "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }, "parameters": { "operation": "executeQuery", "query": "INSERT INTO caiac.leads\n  (client_id, crm_type, source_id, source_channel, lifecycle_stage, intake_fingerprint, qualification_score, qualification_score_reason)\nVALUES\n  ('{{ $('Extract and Fingerprint Lead').first().json.client_id }}'::uuid, 'form', '{{ $('Extract and Fingerprint Lead').first().json.fingerprint }}', 'form', 'intake', '{{ $('Extract and Fingerprint Lead').first().json.fingerprint }}', {{ $('Score Lead').first().json.qualification_score }}, '{{ $('Score Lead').first().json.qualification_score_reason.replace(/'/g, \"''\") }}')\nON CONFLICT (client_id, crm_type, source_id)\nDO UPDATE SET\n  qualification_score        = EXCLUDED.qualification_score,\n  qualification_score_reason = EXCLUDED.qualification_score_reason\nRETURNING id AS lead_id", "options": {} } },
    { "id": "insertrun", "name": "Insert Automation Run", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [2320, 320], "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }, "parameters": { "operation": "executeQuery", "query": "INSERT INTO caiac.automation_runs (lead_id, automation_type, state)\nVALUES ('{{ $('Insert Lead to DB').first().json.lead_id }}'::uuid, 'follow_up', 'pending')\nRETURNING id AS run_id", "options": {} } },
    { "id": "buildfollowup", "name": "Build Follow-up Email", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2440, 320], "parameters": { "jsCode": "const lead = $('Extract and Fingerprint Lead').first().json;\nconst config = $('Get Client Config').first().json;\nconst scored = $('Score Lead').first().json;\n\nconst bodyHtml = (scored.email_body || '')\n  .split('\\n')\n  .filter(line => line.trim())\n  .map(line => `<p>${line}</p>`)\n  .join('\\n');\n\nconst baseSubject = scored.email_subject || `Thanks for reaching out, ${lead.name.split(' ')[0]}!`;\n\nreturn [{ json: {\n  to: lead.email,\n  from: config.from_email,\n  from_name: config.from_name,\n  subject: `[${config.from_name}] ${baseSubject}`,\n  html: bodyHtml\n} }];" } },
    { "id": "sendemail", "name": "Send Follow-up Email", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [2560, 320], "parameters": { "workflowId": { "__rl": true, "value": "tdI7VopcP5vpet6J", "mode": "id" }, "options": { "waitForSubWorkflow": true } } },
    { "id": "markrunsent", "name": "Mark Run Sent", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [2800, 320], "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }, "parameters": { "operation": "executeQuery", "query": "UPDATE caiac.automation_runs SET state = 'sent', sent_at = now() WHERE id = '{{ $('Insert Automation Run').first().json.run_id }}'::uuid", "options": {} } },
    { "id": "buildownernotify", "name": "Build Owner Notification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2920, 320], "parameters": { "jsCode": "const lead = $('Extract and Fingerprint Lead').first().json;\nconst config = $('Get Client Config').first().json;\nconst score = $('Score Lead').first().json;\n\nconst html = `<h2>New Lead: ${lead.name}</h2><table><tr><td><b>Email:</b></td><td>${lead.email}</td></tr><tr><td><b>Phone:</b></td><td>${lead.phone || 'N/A'}</td></tr><tr><td><b>Service:</b></td><td>${lead.service || 'N/A'}</td></tr><tr><td><b>Type:</b></td><td>${lead.business_type || 'N/A'}</td></tr><tr><td><b>Project:</b></td><td>${lead.challenge || 'N/A'}</td></tr><tr><td><b>How heard:</b></td><td>${lead.how_heard || 'N/A'}</td></tr><tr><td><b>Score:</b></td><td>${score.qualification_score ?? 'N/A'}/10 — ${score.qualification_score_reason || ''}</td></tr></table>`;\n\nreturn [{ json: {\n  to: config.notify_email,\n  from: config.from_email,\n  subject: `New lead: ${lead.name} (Score: ${score.qualification_score ?? 'N/A'}/10)`,\n  html\n} }];" } },
    { "id": "notifyowner", "name": "Notify Owner", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [3040, 320], "parameters": { "workflowId": { "__rl": true, "value": "tdI7VopcP5vpet6J", "mode": "id" }, "options": { "waitForSubWorkflow": true } } },
    { "id": "logusage", "name": "Log AI Usage", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [3280, 320], "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }, "parameters": { "operation": "executeQuery", "query": "INSERT INTO caiac.ai_usage_log (client_id, workflow, tokens_in, tokens_out, cost_estimate)\nVALUES ('{{ $('Extract and Fingerprint Lead').first().json.client_id }}'::uuid, '[Intake] CAIAC Lead Capture v2.0.0', {{ $('Score Lead').first().json.tokens_in }}, {{ $('Score Lead').first().json.tokens_out }}, {{ $('Score Lead').first().json.cost_estimate }})", "options": {} } },
    { "id": "appendsheet", "name": "Append Lead to Sheet", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [3520, 320], "credentials": { "googleSheetsOAuth2Api": { "id": "aZpl46gLl1Uha2wW", "name": "Caiac Group Sheets" } }, "parameters": { "operation": "appendOrUpdate", "documentId": { "__rl": true, "value": "={{ $('Extract and Fingerprint Lead').first().json.sheet_id }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Lead Information", "mode": "name" }, "columns": { "mappingMode": "defineBelow", "value": { "Lead Name": "={{ $('Extract and Fingerprint Lead').first().json.name }}", "Lead Email": "={{ $('Extract and Fingerprint Lead').first().json.email }}", "Lead Phone": "={{ $('Extract and Fingerprint Lead').first().json.phone }}", "Service": "={{ $('Extract and Fingerprint Lead').first().json.service }}", "Business Name": "={{ $('Extract and Fingerprint Lead').first().json.business_name }}", "Business Type": "={{ $('Extract and Fingerprint Lead').first().json.business_type }}", "Challenge": "={{ $('Extract and Fingerprint Lead').first().json.challenge }}", "Source": "={{ $('Extract and Fingerprint Lead').first().json.how_heard }}", "Score": "={{ $('Score Lead').first().json.qualification_score }}", "Score Reason": "={{ $('Score Lead').first().json.qualification_score_reason }}", "Submitted At": "={{ $('Extract and Fingerprint Lead').first().json.submitted_at }}", "Lead ID": "={{ $('Insert Lead to DB').first().json.lead_id }}" }, "matchingColumns": ["Lead Email"], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": false }, "options": {} } },
    { "id": "respond200new", "name": "Respond 200 New Lead", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [3760, 320], "parameters": { "respondWith": "json", "responseBody": "={ \"status\": \"created\", \"lead_id\": \"{{ $('Insert Lead to DB').first().json.lead_id }}\" }", "options": { "responseCode": 200 } } },
    { "id": "errortrigger", "name": "Error Trigger", "type": "n8n-nodes-base.errorTrigger", "typeVersion": 1, "position": [400, 592], "parameters": {} },
    { "id": "logerror", "name": "Log Error to DB", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [640, 592], "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }, "parameters": { "operation": "executeQuery", "query": "INSERT INTO caiac.error_log (client_slug, workflow_name, node_name, error_message, payload)\nVALUES ('unknown', '[Intake] CAIAC Lead Capture v2.0.0', '{{ $json.execution?.lastNodeExecuted ?? ''unknown'' }}', '{{ ($json.error?.message ?? '').replace(/'/g, \"''\") }}', '{{ JSON.stringify($json.execution ?? {}).replace(/'/g, \"''\") }}'::jsonb)", "options": {} } }
  ],
  "connections": {
    "Receive Lead Form": { "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]] },
    "Validate Payload": { "main": [[{ "node": "Parse Tally Payload", "type": "main", "index": 0 }], [{ "node": "Respond 400 Invalid", "type": "main", "index": 0 }]] },
    "Parse Tally Payload": { "main": [[{ "node": "Get Client Config", "type": "main", "index": 0 }]] },
    "Get Client Config": { "main": [[{ "node": "Check Webhook Secret", "type": "main", "index": 0 }]] },
    "Check Webhook Secret": { "main": [[{ "node": "Check Intake Feature", "type": "main", "index": 0 }], [{ "node": "Respond 401 Unauthorized", "type": "main", "index": 0 }]] },
    "Check Intake Feature": { "main": [[{ "node": "Intake Feature Enabled?", "type": "main", "index": 0 }]] },
    "Intake Feature Enabled?": { "main": [[{ "node": "Extract and Fingerprint Lead", "type": "main", "index": 0 }], [{ "node": "Respond 403 Intake Disabled", "type": "main", "index": 0 }]] },
    "Extract and Fingerprint Lead": { "main": [[{ "node": "Check Existing Lead", "type": "main", "index": 0 }]] },
    "Check Existing Lead": { "main": [[{ "node": "Is Existing Lead", "type": "main", "index": 0 }]] },
    "Is Existing Lead": { "main": [[{ "node": "Upsert Existing Lead to Sheet", "type": "main", "index": 0 }], [{ "node": "Prepare Score Lead Input", "type": "main", "index": 0 }]] },
    "Upsert Existing Lead to Sheet": { "main": [[{ "node": "Respond 200 Existing", "type": "main", "index": 0 }]] },
    "Prepare Score Lead Input": { "main": [[{ "node": "Score Lead", "type": "main", "index": 0 }]] },
    "Score Lead": { "main": [[{ "node": "Insert Lead to DB", "type": "main", "index": 0 }]] },
    "Insert Lead to DB": { "main": [[{ "node": "Insert Automation Run", "type": "main", "index": 0 }]] },
    "Insert Automation Run": { "main": [[{ "node": "Build Follow-up Email", "type": "main", "index": 0 }]] },
    "Build Follow-up Email": { "main": [[{ "node": "Send Follow-up Email", "type": "main", "index": 0 }]] },
    "Send Follow-up Email": { "main": [[{ "node": "Mark Run Sent", "type": "main", "index": 0 }]] },
    "Mark Run Sent": { "main": [[{ "node": "Build Owner Notification", "type": "main", "index": 0 }]] },
    "Build Owner Notification": { "main": [[{ "node": "Notify Owner", "type": "main", "index": 0 }]] },
    "Notify Owner": { "main": [[{ "node": "Log AI Usage", "type": "main", "index": 0 }]] },
    "Log AI Usage": { "main": [[{ "node": "Append Lead to Sheet", "type": "main", "index": 0 }]] },
    "Append Lead to Sheet": { "main": [[{ "node": "Respond 200 New Lead", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Log Error to DB", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "tags": [{ "id": "ORJaMPxvMyGtjOeo", "name": "intake" }]
}
