workflows/intake-lead-capture-v2.0.0.json
{
  "id": "FXGmlYKi5Wy1QKX6",
  "name": "[Intake] CAIAC Lead Capture v2.0.0",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "content": "## [Intake] CAIAC Lead Capture v2.0.0\n\nCAIAC's own inbound lead capture from web forms (Typeform shape).\nReplaces: CAIAC Demo - Lead Capture v1.2.0\n\n**Trigger:** POST /intake/caiac/lead?slug=caiac\n**Auth:** Add Header Auth credential to webhook node (x-caiac-key)\n**Dedup key:** intake_fingerprint = deterministic hash of email\n**DB gate:** caiac.leads INSERT happens before Sheet write\n**PII boundary:** name/email/phone in Sheet only — never in caiac.leads\n**AI scoring:** delegated to [Utility] Score Lead v1.0.0 (qualification score only)\n\nRequires Step 0 migration + caiac self-client row to be seeded.",
        "height": 320,
        "width": 520,
        "color": 5
      },
      "id": "note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-208, -320]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intake/caiac/lead",
        "options": {},
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "Receive Lead Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [400, 208],
      "webhookId": "45d5a4da-4d4d-45b1-a735-155ebc226d0c"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [{ "id": "c1", "leftValue": "={{ Array.isArray($json.body?.data?.fields) }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 208]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Invalid payload — expected Typeform body with data.fields array\" }",
        "options": { "responseCode": 400 }
      },
      "id": "respond400",
      "name": "Respond 400 Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [640, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id              AS client_id,\n  slug            AS client_slug,\n  webhook_secret,\n  config->'lead_capture'->>'notify_email' AS notify_email,\n  config->'lead_capture'->>'sheet_id'     AS sheet_id,\n  COALESCE(config->'lead_capture'->>'from_name',  'CAIAC Digital')        AS from_name,\n  COALESCE(config->'lead_capture'->>'from_email', 'caiacgroup@gmail.com') AS from_email\nFROM caiac.clients\nWHERE slug = '{{ $('Receive Lead Form').item.json.query.slug ?? 'caiac' }}'\n  AND active = true\nLIMIT 1",
        "options": {}
      },
      "id": "getconfig",
      "name": "Get Client Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 208],
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [{ "id": "c1", "leftValue": "={{ $('Receive Lead Form').first().json.headers['x-caiac-key'] }}", "rightValue": "={{ $('Get Client Config').first().json.webhook_secret }}", "operator": { "type": "string", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "checksecret",
      "name": "Check Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "respond401",
      "name": "Respond 401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 528]
    },
    {
      "id": "check-intake-feature",
      "name": "Check Intake Feature",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1360, 528],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE((SELECT enabled FROM caiac.client_features WHERE client_id = '{{ $('Get Client Config').first().json.client_id }}'::uuid AND feature = 'intake'), false) AS enabled",
        "options": {}
      },
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "id": "intake-feature-enabled",
      "name": "Intake Feature Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1600, 528],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [{ "leftValue": "={{ $json.enabled }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" }, "id": "condition-intake" }]
        },
        "options": {}
      }
    },
    {
      "id": "respond-403-intake",
      "name": "Respond 403 Intake Disabled",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1840, 528],
      "parameters": {
        "respondWith": "json",
        "responseCode": 403,
        "responseBody": "{\"error\": \"This feature is not enabled for your account.\"}",
        "options": {}
      }
    },
    {
      "parameters": {
        "jsCode": "const fields = $('Receive Lead Form').first().json.body.data.fields;\nconst config  = $('Get Client Config').first().json;\n\nconst getField = (label) => {\n  const f = fields.find(f => f.label === label);\n  if (!f) return '';\n  if (f.type === 'DROPDOWN' && f.options) {\n    const vals = Array.isArray(f.value) ? f.value : [f.value];\n    const opt  = f.options.find(o => vals.includes(o.id));\n    return opt ? opt.text : '';\n  }\n  return f.value ?? '';\n};\n\nconst email = getField('Email').toLowerCase().trim();\n\n// Deterministic fingerprint from email\nlet state = email.split('').reduce((acc, ch) => (Math.imul(acc, 31) + ch.charCodeAt(0)) | 0, 0x811c9dc5);\nlet hex = '';\nwhile (hex.length < 32) {\n  state = (Math.imul(state, 1664525) + 1013904223) | 0;\n  hex  += (state >>> 0).toString(16).padStart(8, '0');\n}\nconst fingerprint = hex.slice(0, 32);\n\nreturn [{ json: {\n  client_id:     config.client_id,\n  client_slug:   config.client_slug,\n  notify_email:  config.notify_email,\n  sheet_id:      config.sheet_id,\n  from_name:     config.from_name,\n  from_email:    config.from_email,\n  name:          getField('Full Name'),\n  email,\n  phone:         getField('Phone'),\n  business_type: getField('Business Type'),\n  business_name: getField('Business Name'),\n  challenge:     getField('What is your biggest business challenge?'),\n  how_heard:     getField('How did you hear about us?'),\n  submitted_at:  $('Receive Lead Form').first().json.body.createdAt,\n  fingerprint,\n} }];"
      },
      "id": "extract",
      "name": "Extract and Fingerprint Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 208]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT id FROM caiac.leads\n   WHERE client_id = '{{ $('Extract and Fingerprint Lead').first().json.client_id }}'::uuid\n     AND intake_fingerprint = '{{ $('Extract and Fingerprint Lead').first().json.fingerprint }}'\n   LIMIT 1) AS lead_id,\n  (SELECT qualification_score FROM caiac.leads\n   WHERE client_id = '{{ $('Extract and Fingerprint Lead').first().json.client_id }}'::uuid\n     AND intake_fingerprint = '{{ $('Extract and Fingerprint Lead').first().json.fingerprint }}'\n   LIMIT 1) AS qualification_score,\n  (SELECT qualification_score_reason FROM caiac.leads\n   WHERE client_id = '{{ $('Extract and Fingerprint Lead').first().json.client_id }}'::uuid\n     AND intake_fingerprint = '{{ $('Extract and Fingerprint Lead').first().json.fingerprint }}'\n   LIMIT 1) AS qualification_score_reason",
        "options": {}
      },
      "id": "checkexisting",
      "name": "Check Existing Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1360, 208],
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.lead_id !== null && $json.lead_id !== undefined }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "isexisting",
      "name": "Is Existing Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1600, 208]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "={{ $('Extract and Fingerprint Lead').first().json.sheet_id }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Lead Information", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead Name": "={{ $('Extract and Fingerprint Lead').first().json.name }}",
            "Lead Email": "={{ $('Extract and Fingerprint Lead').first().json.email }}",
            "Lead Phone": "={{ $('Extract and Fingerprint Lead').first().json.phone }}",
            "Business Name": "={{ $('Extract and Fingerprint Lead').first().json.business_name }}",
            "Business Type": "={{ $('Extract and Fingerprint Lead').first().json.business_type }}",
            "Challenge": "={{ $('Extract and Fingerprint Lead').first().json.challenge }}",
            "Source": "={{ $('Extract and Fingerprint Lead').first().json.how_heard }}",
            "Score": "={{ $('Check Existing Lead').first().json.qualification_score }}",
            "Score Reason": "={{ $('Check Existing Lead').first().json.qualification_score_reason }}",
            "Submitted At": "={{ $('Extract and Fingerprint Lead').first().json.submitted_at }}",
            "Lead ID": "={{ $('Check Existing Lead').first().json.lead_id }}"
          },
          "matchingColumns": ["Lead Email"],
          "schema": [
            { "id": "Lead Name", "displayName": "Lead Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Lead Email", "displayName": "Lead Email", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Lead Phone", "displayName": "Lead Phone", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Business Name", "displayName": "Business Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Business Type", "displayName": "Business Type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Challenge", "displayName": "Challenge", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Source", "displayName": "Source", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Score", "displayName": "Score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Score Reason", "displayName": "Score Reason", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Submitted At", "displayName": "Submitted At", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Lead ID", "displayName": "Lead ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "upsertexisting",
      "name": "Upsert Existing Lead to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1840, 80],
      "credentials": { "googleSheetsOAuth2Api": { "id": "aZpl46gLl1Uha2wW", "name": "Caiac Group Sheets" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"existing\", \"lead_id\": \"{{ $('Check Existing Lead').first().json.lead_id }}\" }",
        "options": { "responseCode": 200 }
      },
      "id": "respond200existing",
      "name": "Respond 200 Existing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2080, 80]
    },
    {
      "id": "prep-score-input",
      "name": "Prepare Score Lead Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 320],
      "parameters": {
        "jsCode": "const config = $('Get Client Config').first().json;\nconst lead   = $('Extract and Fingerprint Lead').first().json;\nreturn [{ json: {\n  client_id:     config.client_id,\n  name:          lead.name,\n  business_name: lead.business_name,\n  business_type: lead.business_type,\n  challenge:     lead.challenge,\n  how_heard:     lead.how_heard,\n  from_name:     config.from_name\n}}];"
      }
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "6lzuSE2b7txCLWm2", "mode": "id" },
        "options": { "waitForSubWorkflow": true }
      },
      "id": "scorelead",
      "name": "Score Lead",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1840, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO caiac.leads\n  (client_id, crm_type, source_id, source_channel, lifecycle_stage,\n   intake_fingerprint, qualification_score, qualification_score_reason)\nVALUES\n  ('{{ $('Extract and Fingerprint Lead').first().json.client_id }}'::uuid,\n   'form',\n   '{{ $('Extract and Fingerprint Lead').first().json.fingerprint }}',\n   'form',\n   'intake',\n   '{{ $('Extract and Fingerprint Lead').first().json.fingerprint }}',\n   {{ $('Score Lead').first().json.qualification_score }},\n   '{{ $('Score Lead').first().json.qualification_score_reason.replace(/'/g, \"''\") }}')\nRETURNING id AS lead_id",
        "options": {}
      },
      "id": "insertlead",
      "name": "Insert Lead to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2080, 320],
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO caiac.automation_runs (lead_id, automation_type, state)\nVALUES ('{{ $('Insert Lead to DB').first().json.lead_id }}'::uuid, 'follow_up', 'pending')\nRETURNING id AS run_id",
        "options": {}
      },
      "id": "insertrun",
      "name": "Insert Automation Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2320, 320],
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "id": "buildfollowup",
      "name": "Build Follow-up Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 320],
      "parameters": {
        "jsCode": "const lead = $('Extract and Fingerprint Lead').first().json;\nconst config = $('Get Client Config').first().json;\n\nconst html = `<p>Hi ${lead.name},</p><p>Thanks for reaching out to ${config.from_name}! We received your inquiry and will be in touch shortly.</p>${lead.challenge ? `<p><strong>Your challenge:</strong> ${lead.challenge}</p>` : ''}<p>Best,<br>${config.from_name}</p>`;\n\nreturn [{ json: {\n  to: lead.email,\n  from: config.from_email,\n  subject: `Thanks for reaching out, ${lead.name.split(' ')[0]}!`,\n  html\n} }];"
      }
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "tdI7VopcP5vpet6J", "mode": "id" },
        "options": { "waitForSubWorkflow": true }
      },
      "id": "sendemail",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [2560, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE caiac.automation_runs\nSET state = 'sent', sent_at = now()\nWHERE id = '{{ $('Insert Automation Run').first().json.run_id }}'::uuid",
        "options": {}
      },
      "id": "markrunsent",
      "name": "Mark Run Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2800, 320],
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "id": "buildownernotify",
      "name": "Build Owner Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2920, 320],
      "parameters": {
        "jsCode": "const lead = $('Extract and Fingerprint Lead').first().json;\nconst config = $('Get Client Config').first().json;\nconst score = $('Score Lead').first().json;\n\nconst html = `<h2>New Lead: ${lead.name}</h2><table><tr><td><b>Email:</b></td><td>${lead.email}</td></tr><tr><td><b>Phone:</b></td><td>${lead.phone || 'N/A'}</td></tr><tr><td><b>Business:</b></td><td>${lead.business_name || 'N/A'}</td></tr><tr><td><b>Type:</b></td><td>${lead.business_type || 'N/A'}</td></tr><tr><td><b>Challenge:</b></td><td>${lead.challenge || 'N/A'}</td></tr><tr><td><b>How heard:</b></td><td>${lead.how_heard || 'N/A'}</td></tr><tr><td><b>Score:</b></td><td>${score.qualification_score ?? 'N/A'}/10 — ${score.qualification_score_reason || ''}</td></tr></table>`;\n\nreturn [{ json: {\n  to: config.notify_email,\n  from: config.from_email,\n  subject: `New lead: ${lead.name} (Score: ${score.qualification_score ?? 'N/A'}/10)`,\n  html\n} }];"
      }
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "tdI7VopcP5vpet6J", "mode": "id" },
        "options": { "waitForSubWorkflow": true }
      },
      "id": "notifyowner",
      "name": "Notify Owner",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [3040, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO caiac.ai_usage_log (client_id, workflow, tokens_in, tokens_out, cost_estimate)\nVALUES (\n  '{{ $('Extract and Fingerprint Lead').first().json.client_id }}'::uuid,\n  '[Intake] CAIAC Lead Capture v2.0.0',\n  {{ $('Score Lead').first().json.tokens_in }},\n  {{ $('Score Lead').first().json.tokens_out }},\n  {{ $('Score Lead').first().json.cost_estimate }}\n)",
        "options": {}
      },
      "id": "logusage",
      "name": "Log AI Usage",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3280, 320],
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "={{ $('Extract and Fingerprint Lead').first().json.sheet_id }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Lead Information", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead Name": "={{ $('Extract and Fingerprint Lead').first().json.name }}",
            "Lead Email": "={{ $('Extract and Fingerprint Lead').first().json.email }}",
            "Lead Phone": "={{ $('Extract and Fingerprint Lead').first().json.phone }}",
            "Business Name": "={{ $('Extract and Fingerprint Lead').first().json.business_name }}",
            "Business Type": "={{ $('Extract and Fingerprint Lead').first().json.business_type }}",
            "Challenge": "={{ $('Extract and Fingerprint Lead').first().json.challenge }}",
            "Source": "={{ $('Extract and Fingerprint Lead').first().json.how_heard }}",
            "Score": "={{ $('Score Lead').first().json.qualification_score }}",
            "Score Reason": "={{ $('Score Lead').first().json.qualification_score_reason }}",
            "Submitted At": "={{ $('Extract and Fingerprint Lead').first().json.submitted_at }}",
            "Lead ID": "={{ $('Insert Lead to DB').first().json.lead_id }}"
          },
          "matchingColumns": ["Lead Email"],
          "schema": [
            { "id": "Lead Name", "displayName": "Lead Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Lead Email", "displayName": "Lead Email", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Lead Phone", "displayName": "Lead Phone", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Business Name", "displayName": "Business Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Business Type", "displayName": "Business Type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Challenge", "displayName": "Challenge", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Source", "displayName": "Source", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Score", "displayName": "Score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Score Reason", "displayName": "Score Reason", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Submitted At", "displayName": "Submitted At", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "Lead ID", "displayName": "Lead ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "appendsheet",
      "name": "Append Lead to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [3520, 320],
      "credentials": { "googleSheetsOAuth2Api": { "id": "aZpl46gLl1Uha2wW", "name": "Caiac Group Sheets" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"created\", \"lead_id\": \"{{ $('Insert Lead to DB').first().json.lead_id }}\" }",
        "options": { "responseCode": 200 }
      },
      "id": "respond200new",
      "name": "Respond 200 New Lead",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3760, 320]
    },
    {
      "parameters": {},
      "id": "errortrigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [400, 592]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO caiac.error_log (client_slug, workflow_name, node_name, error_message, payload)\nVALUES (\n  'caiac',\n  '[Intake] CAIAC Lead Capture v2.0.0',\n  '{{ $json.execution?.lastNodeExecuted ?? ''unknown'' }}',\n  '{{ ($json.error?.message ?? '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.execution ?? {}).replace(/'/g, \"''\") }}'::jsonb\n)",
        "options": {}
      },
      "id": "logerror",
      "name": "Log Error to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 592],
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    }
  ],
  "connections": {
    "Receive Lead Form": { "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]] },
    "Validate Payload": { "main": [[{ "node": "Get Client Config", "type": "main", "index": 0 }], [{ "node": "Respond 400 Invalid", "type": "main", "index": 0 }]] },
    "Get Client Config": { "main": [[{ "node": "Check Webhook Secret", "type": "main", "index": 0 }]] },
    "Check Webhook Secret": { "main": [[{ "node": "Check Intake Feature", "type": "main", "index": 0 }], [{ "node": "Respond 401 Unauthorized", "type": "main", "index": 0 }]] },
    "Check Intake Feature": { "main": [[{ "node": "Intake Feature Enabled?", "type": "main", "index": 0 }]] },
    "Intake Feature Enabled?": { "main": [[{ "node": "Extract and Fingerprint Lead", "type": "main", "index": 0 }], [{ "node": "Respond 403 Intake Disabled", "type": "main", "index": 0 }]] },
    "Extract and Fingerprint Lead": { "main": [[{ "node": "Check Existing Lead", "type": "main", "index": 0 }]] },
    "Check Existing Lead": { "main": [[{ "node": "Is Existing Lead", "type": "main", "index": 0 }]] },
    "Is Existing Lead": { "main": [[{ "node": "Upsert Existing Lead to Sheet", "type": "main", "index": 0 }], [{ "node": "Prepare Score Lead Input", "type": "main", "index": 0 }]] },
    "Upsert Existing Lead to Sheet": { "main": [[{ "node": "Respond 200 Existing", "type": "main", "index": 0 }]] },
    "Prepare Score Lead Input": { "main": [[{ "node": "Score Lead", "type": "main", "index": 0 }]] },
    "Score Lead": { "main": [[{ "node": "Insert Lead to DB", "type": "main", "index": 0 }]] },
    "Insert Lead to DB": { "main": [[{ "node": "Insert Automation Run", "type": "main", "index": 0 }]] },
    "Insert Automation Run": { "main": [[{ "node": "Build Follow-up Email", "type": "main", "index": 0 }]] },
    "Build Follow-up Email": { "main": [[{ "node": "Send Follow-up Email", "type": "main", "index": 0 }]] },
    "Send Follow-up Email": { "main": [[{ "node": "Mark Run Sent", "type": "main", "index": 0 }]] },
    "Mark Run Sent": { "main": [[{ "node": "Build Owner Notification", "type": "main", "index": 0 }]] },
    "Build Owner Notification": { "main": [[{ "node": "Notify Owner", "type": "main", "index": 0 }]] },
    "Notify Owner": { "main": [[{ "node": "Log AI Usage", "type": "main", "index": 0 }]] },
    "Log AI Usage": { "main": [[{ "node": "Append Lead to Sheet", "type": "main", "index": 0 }]] },
    "Append Lead to Sheet": { "main": [[{ "node": "Respond 200 New Lead", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Log Error to DB", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "tags": [{ "id": "ORJaMPxvMyGtjOeo", "name": "intake" }]
}
