workflows/manage-client-user-v1.0.0.json
{
  "id": "ojCUXKjeiAWe2L7t",
  "name": "[Admin] Manage Client User v1.0.0",
  "active": true,
  "nodes": [
    {
      "id": "sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -300],
      "parameters": {
        "content": "## [Admin] Manage Client User v1.0.0\n\nCRUD for users scoped to a specific client. All queries scope by client_id derived from slug.\n\n**Auth:** CAIAC staff only\n**Path:** POST /admin/manage-client-user\n**saveDataSuccessExecution: none** — role/status data in response\n\n**Actions:** list, deactivate, activate, change_role, force_change_password\n\n**Security:** Cross-client isolation enforced by client_id join on every update."
      }
    },
    {
      "id": "webhook",
      "name": "Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/manage-client-user",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "771184f9-58da-45f5-9ba5-5649d86ac8b4"
    },
    {
      "id": "prep-auth",
      "name": "Prepare Auth Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "const req = $input.first().json;\nreturn [{ json: {\n  token: (req.headers.authorization || '').replace(/^Bearer\\s+/i, ''),\n  timestamp: req.headers['x-caiac-timestamp'],\n  signature: req.headers['x-caiac-signature']\n}}];"
      }
    },
    {
      "id": "call-auth",
      "name": "Call Full Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [440, 0],
      "parameters": {
        "workflowId": { "__rl": true, "value": "XWbmBI9NYdwK80eg", "mode": "id" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": { "token": "={{ $json.token }}", "timestamp": "={{ $json.timestamp }}", "signature": "={{ $json.signature }}" },
          "schema": [
            { "id": "1", "displayName": "token", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "2", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "3", "displayName": "signature", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "validate",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "parameters": {
        "jsCode": "const auth = $input.first().json;\nif (!auth.is_caiac_staff) throw new Error('Forbidden: CAIAC staff access required');\n\nconst body = $('Receive Request').first().json.body || {};\nconst { slug, action, user_id, role } = body;\n\nconst ALLOWED_ACTIONS = ['list', 'deactivate', 'activate', 'change_role', 'force_change_password'];\nif (!slug) throw new Error('Missing required field: slug');\nif (!action) throw new Error('Missing required field: action');\nif (!ALLOWED_ACTIONS.includes(action)) throw new Error(`Unknown action: ${action}. Allowed: ${ALLOWED_ACTIONS.join(', ')}`);\nif (action !== 'list' && !user_id) throw new Error('Missing required field: user_id');\nif (action === 'change_role') {\n  const ALLOWED_ROLES = ['admin', 'staff', 'user'];\n  if (!ALLOWED_ROLES.includes(role)) throw new Error(`Invalid role: ${role}. Allowed: ${ALLOWED_ROLES.join(', ')}`);\n}\n\nreturn [{ json: { slug, action, user_id: user_id || null, role: role || null } }];"
      }
    },
    {
      "id": "get-client",
      "name": "Get Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [880, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS client_id FROM caiac.clients WHERE slug = $1 AND active = true LIMIT 1;",
        "options": { "queryReplacement": "={{ [$json.slug] }}" }
      },
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "id": "client-found",
      "name": "Client Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1100, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "c1", "leftValue": "={{ $input.all().length }}", "rightValue": 0, "operator": { "type": "number", "operation": "notEquals" } }],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "route-action",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1320, 0],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "a1", "leftValue": "={{ $('Validate Request').first().json.action }}", "rightValue": "list", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "a2", "leftValue": "={{ $('Validate Request').first().json.action }}", "rightValue": "deactivate", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "a3", "leftValue": "={{ $('Validate Request').first().json.action }}", "rightValue": "activate", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "a4", "leftValue": "={{ $('Validate Request').first().json.action }}", "rightValue": "change_role", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "a5", "leftValue": "={{ $('Validate Request').first().json.action }}", "rightValue": "force_change_password", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "list-users",
      "name": "List Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1540, -300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, email, role, active, last_login, created_at, must_change_password\nFROM caiac.users\nWHERE client_id = $1::uuid AND is_caiac_staff = false\nORDER BY created_at ASC;",
        "options": { "queryReplacement": "={{ [$('Get Client').first().json.client_id] }}" }
      },
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "id": "deactivate-user",
      "name": "Deactivate User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1540, -150],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE caiac.users SET active = false\nWHERE id = $1::uuid AND client_id = $2::uuid AND is_caiac_staff = false\nRETURNING id, name, email, role, active;",
        "options": { "queryReplacement": "={{ [$('Validate Request').first().json.user_id, $('Get Client').first().json.client_id] }}" }
      },
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "id": "activate-user",
      "name": "Activate User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1540, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE caiac.users SET active = true\nWHERE id = $1::uuid AND client_id = $2::uuid AND is_caiac_staff = false\nRETURNING id, name, email, role, active;",
        "options": { "queryReplacement": "={{ [$('Validate Request').first().json.user_id, $('Get Client').first().json.client_id] }}" }
      },
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "id": "change-role",
      "name": "Change Role",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1540, 150],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE caiac.users SET role = $1\nWHERE id = $2::uuid AND client_id = $3::uuid AND is_caiac_staff = false\nRETURNING id, name, email, role, active;",
        "options": { "queryReplacement": "={{ [$('Validate Request').first().json.role, $('Validate Request').first().json.user_id, $('Get Client').first().json.client_id] }}" }
      },
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "id": "force-pw-change",
      "name": "Force Password Change",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1540, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE caiac.users SET must_change_password = true\nWHERE id = $1::uuid AND client_id = $2::uuid AND is_caiac_staff = false\nRETURNING id, name, email, role, active, must_change_password;",
        "options": { "queryReplacement": "={{ [$('Validate Request').first().json.user_id, $('Get Client').first().json.client_id] }}" }
      },
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "id": "build-resp",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0],
      "parameters": {
        "jsCode": "const action = $('Validate Request').first().json.action;\nconst rows = $input.all().map(i => i.json);\nif (action === 'list') {\n  return [{ json: { success: true, action, users: rows } }];\n}\nreturn [{ json: { success: true, action, user: rows[0] || null } }];"
      }
    },
    {
      "id": "respond-200",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1980, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "respond-404",
      "name": "Respond 404 Client Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1100, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Client not found or inactive.\"}",
        "options": { "responseCode": 404 }
      }
    },
    {
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [-200, 0],
      "parameters": {}
    },
    {
      "id": "respond-500",
      "name": "Respond 500 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-200, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.execution?.error?.message ?? 'Unexpected error' }) }}",
        "options": { "responseCode": 500 }
      }
    }
  ],
  "connections": {
    "Receive Request": { "main": [[{ "node": "Prepare Auth Inputs", "type": "main", "index": 0 }]] },
    "Prepare Auth Inputs": { "main": [[{ "node": "Call Full Auth", "type": "main", "index": 0 }]] },
    "Call Full Auth": { "main": [[{ "node": "Validate Request", "type": "main", "index": 0 }]] },
    "Validate Request": { "main": [[{ "node": "Get Client", "type": "main", "index": 0 }]] },
    "Get Client": { "main": [[{ "node": "Client Found?", "type": "main", "index": 0 }]] },
    "Client Found?": { "main": [[{ "node": "Route Action", "type": "main", "index": 0 }], [{ "node": "Respond 404 Client Not Found", "type": "main", "index": 0 }]] },
    "Route Action": { "main": [
      [{ "node": "List Users", "type": "main", "index": 0 }],
      [{ "node": "Deactivate User", "type": "main", "index": 0 }],
      [{ "node": "Activate User", "type": "main", "index": 0 }],
      [{ "node": "Change Role", "type": "main", "index": 0 }],
      [{ "node": "Force Password Change", "type": "main", "index": 0 }]
    ]},
    "List Users": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Deactivate User": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Activate User": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Change Role": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Force Password Change": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Respond 500 Error", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none"
  },
  "tags": [],
  "updatedAt": "2026-06-29T12:45:04.273Z",
  "versionCounter": 1
}
