workflows/record-rating-v1.0.0.json
{
  "id": "eQeYbCkCLYaNvG83",
  "name": "[Utility] Record Rating v1.0.0",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "content": "## [Utility] Record Rating v1.0.0\n\nWrite-back utility — records a lead's rating after they click a review link.\n\n**Inputs:** source_type ('sheet' | 'crm'), source_ref (row_number for sheet), lead_sheet_id, lead_sheet_tab, fields (object of column→value, e.g. { 'Rating Received': 'good', 'Needs Followup': true })\n\nRoutes by source_type:\n- sheet → [Utility] Update Lead Sheet Row\n- crm → throws 'not yet implemented' (seam for future CRM integration)\n\nCalled by [Reviews] Handle Rating Click after verifying the signed token.",
        "height": 260,
        "width": 560
      },
      "id": "sticky1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -320]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {"name": "source_type"},
            {"name": "source_ref"},
            {"name": "lead_sheet_id"},
            {"name": "lead_sheet_tab"},
            {"name": "fields"}
          ]
        }
      },
      "id": "trigger1",
      "name": "When Called as Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 64]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
          "conditions": [{"id": "cond1", "leftValue": "={{ $json.source_type }}", "rightValue": "sheet", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if1",
      "name": "Route By Source Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [240, 64]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst isNew = input.lead_sheet_tab === 'Leads';\nconst match_column = isNew ? 'Phone' : 'Source Ref';\nreturn [{ json: {\n  lead_sheet_id: input.lead_sheet_id,\n  lead_sheet_tab: 'Review Status',\n  match_column,\n  match_value: input.source_ref,\n  fields: input.fields\n} }];"
      },
      "id": "code1",
      "name": "Prepare Sheet Update Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "workflowId": {"__rl": true, "value": "ySf9npJlqi23yjXK", "mode": "id", "cachedResultName": "[Utility] Update Lead Sheet Row v1.0.0"},
        "options": {}
      },
      "id": "exec1",
      "name": "Call Update Lead Sheet Row",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [720, 0]
    },
    {
      "parameters": {
        "jsCode": "const source_type = $input.first().json.source_type;\nthrow new Error(`source_type '${source_type}' write-back not yet implemented`);\nreturn []; // unreachable"
      },
      "id": "code2",
      "name": "Throw CRM Not Implemented",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 192]
    }
  ],
  "connections": {
    "When Called as Sub-workflow": {"main": [[{"node": "Route By Source Type", "type": "main", "index": 0}]]},
    "Route By Source Type": {
      "main": [
        [{"node": "Prepare Sheet Update Inputs", "type": "main", "index": 0}],
        [{"node": "Throw CRM Not Implemented", "type": "main", "index": 0}]
      ]
    },
    "Prepare Sheet Update Inputs": {"main": [[{"node": "Call Update Lead Sheet Row", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "_meta": {
    "snapshotDate": "2026-06-29",
    "prodId": "eQeYbCkCLYaNvG83",
    "updatedAt": "2026-06-29T12:15:52.666Z"
  }
}
