workflows/update-feature-config-v1.0.0.json
{
  "name": "[Admin] Update Feature Config v1.0.0",
  "active": true,
  "nodes": [
    {
      "id": "sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -240],
      "parameters": {
        "content": "## [Admin] Update Feature Config v1.0.0\n\nUpdates the `config` JSONB column on a client_features row.\nPrimary use: set the AI cap for `advanced_ai` feature.\n\n**Auth:** CAIAC staff only (HMAC + JWT)\n**Path:** POST /admin/update-feature-config\n**Body:** { slug, feature, config: { cap: 250 } }\n\n**Security:** Feature key validated against KNOWN_FEATURES allowlist before any DB write. All queries parameterized."
      }
    },
    {
      "id": "webhook",
      "name": "Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/update-feature-config",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "prep-auth",
      "name": "Prepare Auth Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "const req = $input.first().json;\nreturn [{ json: {\n  token: (req.headers.authorization || '').replace(/^Bearer\\s+/i, ''),\n  timestamp: req.headers['x-caiac-timestamp'],\n  signature: req.headers['x-caiac-signature']\n}}];"
      }
    },
    {
      "id": "call-auth",
      "name": "Call Full Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [440, 0],
      "parameters": {
        "workflowId": { "__rl": true, "value": "XWbmBI9NYdwK80eg", "mode": "id" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "token": "={{ $json.token }}",
            "timestamp": "={{ $json.timestamp }}",
            "signature": "={{ $json.signature }}"
          },
          "schema": [
            { "id": "1", "displayName": "token", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "2", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "3", "displayName": "signature", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "validate",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "parameters": {
        "jsCode": "const auth = $input.first().json;\nif (!auth.is_caiac_staff) throw new Error('Forbidden: CAIAC staff access required');\n\nconst KNOWN_FEATURES = ['chat', 'public_chat', 'reviews', 'intake', 'crm_sync', 'lead_scoring', 'advanced_ai', 'sms'];\n\nconst body = $('Receive Request').first().json.body || {};\nconst { slug, feature } = body;\nconst config = body.config;\n\nif (!slug) throw new Error('Missing required field: slug');\nif (!feature) throw new Error('Missing required field: feature');\nif (config === undefined || config === null) throw new Error('Missing required field: config');\nif (typeof config !== 'object' || Array.isArray(config)) throw new Error('config must be a JSON object');\n\nreturn [{ json: {\n  slug,\n  feature,\n  config: JSON.stringify(config),\n  feature_valid: KNOWN_FEATURES.includes(feature)\n}}];"
      }
    },
    {
      "id": "feature-valid",
      "name": "Feature Key Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [880, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.feature_valid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-400",
      "name": "Respond 400 Unknown Feature",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [880, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Unknown feature key. Valid values: chat, public_chat, reviews, intake, crm_sync, lead_scoring, advanced_ai, sms\"}",
        "options": { "responseCode": 400 }
      }
    },
    {
      "id": "update-config",
      "name": "Update Feature Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1100, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE caiac.client_features cf\nSET config = $1::jsonb\nFROM caiac.clients c\nWHERE cf.client_id = c.id\n  AND c.slug = $2\n  AND cf.feature = $3\n  AND c.active = true\nRETURNING cf.feature, cf.config, c.slug;",
        "options": { "queryReplacement": "={{ [$json.config, $json.slug, $json.feature] }}" }
      },
      "credentials": { "postgres": { "name": "CAIAC Postgres" } }
    },
    {
      "id": "row-updated",
      "name": "Row Updated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1320, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "c1", "leftValue": "={{ $input.all().length }}", "rightValue": 0, "operator": { "type": "number", "operation": "notEquals" } }],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-200",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1540, -100],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, slug: $input.first().json.slug, feature: $input.first().json.feature, config: $input.first().json.config }) }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "respond-404",
      "name": "Respond 404 Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1540, 100],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Client or feature not found. Verify the slug is correct and the feature is assigned to this client.\"}",
        "options": { "responseCode": 404 }
      }
    },
    {
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [-200, 0],
      "parameters": {}
    },
    {
      "id": "respond-500",
      "name": "Respond 500 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-200, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.execution?.error?.message ?? 'Unexpected error' }) }}",
        "options": { "responseCode": 500 }
      }
    }
  ],
  "connections": {
    "Receive Request": { "main": [[{ "node": "Prepare Auth Inputs", "type": "main", "index": 0 }]] },
    "Prepare Auth Inputs": { "main": [[{ "node": "Call Full Auth", "type": "main", "index": 0 }]] },
    "Call Full Auth": { "main": [[{ "node": "Validate Request", "type": "main", "index": 0 }]] },
    "Validate Request": { "main": [[{ "node": "Feature Key Valid?", "type": "main", "index": 0 }]] },
    "Feature Key Valid?": { "main": [[{ "node": "Update Feature Config", "type": "main", "index": 0 }], [{ "node": "Respond 400 Unknown Feature", "type": "main", "index": 0 }]] },
    "Update Feature Config": { "main": [[{ "node": "Row Updated?", "type": "main", "index": 0 }]] },
    "Row Updated?": { "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }], [{ "node": "Respond 404 Not Found", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Respond 500 Error", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "meta": {
    "prodId": "9QBwwqPa0rDP2p5S",
    "stagingId": "0umq3oRX4zqCh60f",
    "deployedAt": "2026-06-28"
  }
}
