workflows/update-client-config-v1.0.0.json
{
  "id": "b8StToReJzg1bzKp",
  "name": "[Admin] Update Client Config v1.0.0",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "content": "## [Admin] Update Client Config v1.0.0\n\nUpdates a client's lead_capture config fields.\n\n**Auth:** Header Bearer token (CAIAC staff only)\n**Path:** POST /webhook/caiac/admin/client-config\n\n**Updatable fields:**\n- field_map (JSON object)\n- notify_email\n- from_name\n- from_email\n- sheet_id\n\nIf field_map changes and sheet_id is set, syncs Google Sheet headers.",
        "height": 280,
        "width": 480
      },
      "id": "sticky_1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-16, -336]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "caiac/admin/client-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_1",
      "name": "Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "webhookId": "caiac-admin-client-config-v1"
    },
    {
      "parameters": {
        "jsCode": "const req = $input.first().json;\nreturn [{ json: {\n  token: (req.headers.authorization || '').replace(/^Bearer\\s+/i, ''),\n  timestamp: req.headers['x-caiac-timestamp'],\n  signature: req.headers['x-caiac-signature']\n}}];"
      },
      "id": "code_auth_1",
      "name": "Prepare Auth Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "workflowId": { "value": "XWbmBI9NYdwK80eg", "__rl": true, "mode": "id", "cachedResultName": "[Utility] Full Auth v2.0.0" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": { "token": "={{ $json.token }}", "timestamp": "={{ $json.timestamp }}", "signature": "={{ $json.signature }}" },
          "schema": [
            { "id": "1", "displayName": "token", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "2", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "3", "displayName": "signature", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      },
      "id": "exec_auth_1",
      "name": "Call Full Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [480, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const auth = $input.first().json;\nif (!auth.is_caiac_staff) {\n  throw new Error('Forbidden: CAIAC staff access required');\n}\nconst body = $('Receive Request').first().json.body;\nif (!body.slug) throw new Error('Missing required field: slug');\nconst updatable = ['field_map', 'notify_email', 'from_name', 'from_email', 'sheet_id', 'quick_actions', 'notify_phone', 'lead_notify_method'];\nconst updates = {};\nfor (const key of updatable) {\n  if (body[key] !== undefined) updates[key] = body[key];\n}\nif (Object.keys(updates).length === 0) throw new Error('No updatable fields provided');\nreturn [{ json: {\n  auth,\n  slug: body.slug,\n  updates,\n  update_field_map: 'field_map' in updates\n}}];"
      },
      "id": "code_check_auth_1",
      "name": "Check Auth Valid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, config, config->'lead_capture'->>'sheet_id' AS sheet_id FROM caiac.clients WHERE slug=$1 AND active=true LIMIT 1",
        "options": {}
      },
      "id": "postgres_get_1",
      "name": "Get Current Client Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [960, 0],
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [{ "leftValue": "={{ $input.all().length }}", "rightValue": 0, "operator": { "type": "number", "operation": "notEquals" } }]
        },
        "options": {}
      },
      "id": "if_exists_1",
      "name": "Client Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1200, 0]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "{\"error\":\"Client not found\"}", "options": {} },
      "id": "respond_404_1",
      "name": "Respond 404 Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 208]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Check Auth Valid').first().json;\nconst client = $input.first().json;\nconst updates = ctx.updates;\n\n// Build the jsonb_set SQL dynamically\n// We'll build a series of nested jsonb_set calls\nlet setSql = 'config';\nconst params = [client.id];\nlet paramIdx = 2;\n\nconst fieldPaths = {\n  field_map: '{lead_capture,field_map}',\n  notify_email: '{lead_capture,notify_email}',\n  from_name: '{lead_capture,from_name}',\n  from_email: '{lead_capture,from_email}',\n  sheet_id: '{lead_capture,sheet_id}',\n  quick_actions: '{quick_actions}',\n  notify_phone: '{lead_capture,notify_phone}',\n  lead_notify_method: '{lead_capture,lead_notify_method}'\n};\n\nfor (const [key, path] of Object.entries(fieldPaths)) {\n  if (key in updates) {\n    const val = (key === 'field_map' || key === 'quick_actions') ? JSON.stringify(updates[key]) : updates[key];\n    setSql = `jsonb_set(${setSql}, '${path}', to_json($${paramIdx}::text)::jsonb)`;\n    params.push(typeof val === 'object' ? JSON.stringify(val) : String(val));\n    paramIdx++;\n  }\n}\n\nreturn [{ json: {\n  client_id: client.id,\n  sheet_id: client.sheet_id,\n  slug: ctx.slug,\n  updates: ctx.updates,\n  update_field_map: ctx.update_field_map,\n  setSql,\n  params\n}}];"
      },
      "id": "code_build_patch_1",
      "name": "Build Config Patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ 'UPDATE caiac.clients SET config = ' + $json.setSql + ' WHERE id = $1::uuid RETURNING config' }}",
        "options": {}
      },
      "id": "postgres_update_1",
      "name": "Update Client Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1680, 0],
      "credentials": { "postgres": { "id": "oJ321kQrsEmHydiQ", "name": "CAIAC Postgres" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            { "leftValue": "={{ $('Build Config Patch').first().json.update_field_map }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } },
            { "leftValue": "={{ ($('Build Config Patch').first().json.sheet_id || '') !== '' }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ]
        },
        "options": {}
      },
      "id": "if_sync_sheet_1",
      "name": "Sync Sheet Headers",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1920, 0]
    },
    {
      "parameters": {
        "jsCode": "const patch = $('Build Config Patch').first().json;\nconst field_map = patch.updates.field_map || {};\nconst sys_keys = Object.values(field_map);\nconst standard = ['extra_fields', 'score', 'score_reason', 'submitted_at', 'lead_id'];\nconst headers = [...sys_keys, ...standard];\nreturn [{ json: {\n  sheet_id: patch.sheet_id || (patch.updates.sheet_id || ''),\n  headers\n}}];"
      },
      "id": "code_headers_1",
      "name": "Build New Headers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, -96]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $json.sheet_id + '/values/Lead%20Information!A1?valueInputOption=RAW' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [$json.headers] }) }}",
        "options": {}
      },
      "id": "http_sync_headers_1",
      "name": "Overwrite Sheet Headers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2400, -96],
      "credentials": { "googleSheetsOAuth2Api": { "id": "aZpl46gLl1Uha2wW", "name": "Caiac Group Sheets" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, slug: $('Build Config Patch').first().json.slug, updated: Object.keys($('Build Config Patch').first().json.updates), sheet_synced: $('Build Config Patch').first().json.update_field_map && ($('Build Config Patch').first().json.sheet_id || '') !== '' }) }}",
        "options": {}
      },
      "id": "respond_200_1",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2640, 0]
    },
    {
      "parameters": {},
      "id": "error_trigger_1",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [-240, 0]
    },
    {
      "id": "respond_500_1",
      "name": "Respond 500 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-240, 200],
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.execution?.error?.message ?? 'An unexpected error occurred' }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Receive Request": { "main": [[{ "node": "Prepare Auth Inputs", "type": "main", "index": 0 }]] },
    "Prepare Auth Inputs": { "main": [[{ "node": "Call Full Auth", "type": "main", "index": 0 }]] },
    "Call Full Auth": { "main": [[{ "node": "Check Auth Valid", "type": "main", "index": 0 }]] },
    "Check Auth Valid": { "main": [[{ "node": "Get Current Client Config", "type": "main", "index": 0 }]] },
    "Get Current Client Config": { "main": [[{ "node": "Client Exists", "type": "main", "index": 0 }]] },
    "Client Exists": { "main": [[{ "node": "Build Config Patch", "type": "main", "index": 0 }], [{ "node": "Respond 404 Not Found", "type": "main", "index": 0 }]] },
    "Build Config Patch": { "main": [[{ "node": "Update Client Config", "type": "main", "index": 0 }]] },
    "Update Client Config": { "main": [[{ "node": "Sync Sheet Headers", "type": "main", "index": 0 }]] },
    "Sync Sheet Headers": { "main": [[{ "node": "Build New Headers", "type": "main", "index": 0 }], [{ "node": "Respond 200 OK", "type": "main", "index": 0 }]] },
    "Build New Headers": { "main": [[{ "node": "Overwrite Sheet Headers", "type": "main", "index": 0 }]] },
    "Overwrite Sheet Headers": { "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Respond 500 Error", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "errorWorkflow": "hZk1sE4UP2Vmn5QV",
    "binaryMode": "separate"
  },
  "tags": [{ "id": "kjcBfdhzRcIVJlOo", "name": "admin" }],
  "updatedAt": "2026-06-27T18:25:23.946Z",
  "versionCounter": 5
}
